<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="/photos/1" style="display:block" target="_blank"><img alt="F4da2ad5bd990d7ad2c6db026ecb9f53" src="/system/photos/1/thumb/f4da2ad5bd990d7ad2c6db026ecb9f53.JPG?1400001465" wh="250x188"></a>
            <div class="caption">
                <%= link_to '襄樊', '/' %>
                <br>
                1973年出生于襄樊，现生活、工作于广东省东莞。2006年起记录同事们的打工生活，已拍摄了三十多万张照片。
                <br>
                个人网站：<%= link_to 'http://fy.mpwang.cn', '/' %>
            </div>
        </div>
    </div>
</div>