html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,
img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;font-size:100%;-webkit-user-select:text;-moz-user-select:text;-o-user-select:text;-ms-user-select:text;outline:0;-moz-outline:0;outline-offset:none;-webkit-appearence:none;-moz-appearence:none;color:#2f2f2f!important;border:0}legend{color:#000}
/**,::after,::before{-webkit-tap-highlight-color:rgba(204,204,204,0.6);-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;-ms-user-select:none;-webkit-touch-callout:none;-webkit-user-drag:none}*/
input:-moz-placeholder,::-webkit-input-placeholder,::-moz-placeholder,::-ms-input-placeholder{color:#c8c7cc!important;line-height:38px}input::-webkit-search-decoration,input::-webkit-search-cancel-button{display:none}body{width:100%;font-size:62.5%;font-family:STHeitiSC-Light,STHeiti;background:#fff;position:relative;height:100%}
a{
	height:100%;
	display:block;
	text-decoration:none;
	-moz-outline-style:none;
	outline:0;
	/*-webkit-tap-highlight-color:rgba(204,204,204,0.2)*/
}
/*img{border:0;display:none}*/
span{display:inline-block}form{position:relative;z-index:1}
.btn{border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;overflow:hidden;text-align:center;font-size:1.8em;height:38px;margin:0 auto;line-height:38px;position:relative;color:#fff}
.loading32{
	position: relative;
	margin:0 auto;
	top:50%;
	margin-top: -50px;
	width: 100px;
	height: 100px;
	position: absolute;
	left: 50%;
	margin-left: -50px;
	-webkit-border-radius: 100px;
	-webkit-animation-duration:1.5s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	-webkit-animation-name: rotateThis32;
	-moz-border-radius: 100px;
	-moz-animation-duration:1.5s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function:linear;
	-moz-animation-name: rotateThis32;
}
@-webkit-keyframes rotateThis32{
	from {-webkit-transform: scale(0.32) rotate(0deg);}
	to {-webkit-transform: scale(0.32) rotate(360deg);}
}
@-moz-keyframes rotateThis32{
	from {-moz-transform: scale(0.32) rotate(0deg);}
	to {-moz-transform: scale(0.32) rotate(360deg);}
}
.loading32>div{
	width: 16px;
	height: 16px;
	background-color: #a6a6a6;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	position: absolute;
	left: 42px;
	top: 42px;
}
.bar1{
	opacity: 0.3;
	-webkit-transform: rotate(0deg) translate(0, -42px);
	-moz-transform: rotate(0deg) translate(0, -42px);
}
.bar2{
	opacity: 0.4;
	-webkit-transform: rotate(45deg) translate(0, -42px);
	-moz-transform: rotate(45deg) translate(0, -42px);
}
.bar3{
	opacity: 0.5;
	-webkit-transform: rotate(90deg) translate(0, -42px);
	-moz-transform: rotate(90deg) translate(0, -42px);
}
.bar4{
	opacity: 0.6;
	-webkit-transform: rotate(135deg) translate(0, -42px);
	-moz-transform: rotate(135deg) translate(0, -42px);
}
.bar5{
	opacity: 0.7;
	-webkit-transform: rotate(180deg) translate(0, -42px);
	-moz-transform: rotate(180deg) translate(0, -42px);
}
.bar6{
	opacity: 0.8;
	-webkit-transform: rotate(225deg) translate(0, -42px);
	-moz-transform: rotate(225deg) translate(0, -42px);
}
.bar7{
	opacity: 0.9;
	-webkit-transform: rotate(270deg) translate(0, -42px);
	-moz-transform: rotate(270deg) translate(0, -42px);
}
.bar8{
	opacity: 1;
	-webkit-transform: rotate(315deg) translate(0, -42px);
	-moz-transform: rotate(315deg) translate(0, -42px);
}
.loading16{
	top:-31px;
	width: 100px;
	height: 100px;
	position: relative;
	left: 50%;
	margin:0;
	margin-left: -50px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-webkit-animation-duration:1.5s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	-webkit-animation-name: rotateThis16;
	-moz-border-radius: 100px;
	-moz-animation-duration:1.5s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function:linear;
	-moz-animation-name: rotateThis16;
}
@-webkit-keyframes rotateThis16{
	from {-webkit-transform: scale(0.18) rotate(0deg);}
	to {-webkit-transform: scale(0.18) rotate(360deg);}
}
@-moz-keyframes rotateThis16{
	from {-moz-transform: scale(0.18) rotate(0deg);}
	to {-moz-transform: scale(0.18) rotate(360deg);}
}
.loading16 > div{
	width: 18px;
	height: 18px;
	background-color: #fff;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	position: absolute;
	left: 41px;
	top: 41px;
}

.bar1{
	opacity: 0.3;
	-webkit-transform: rotate(0deg) translate(0, -42px);
	-moz-transform: rotate(0deg) translate(0, -42px);
}
.bar2{
	opacity: 0.4;
	-webkit-transform: rotate(45deg) translate(0, -42px);
	-moz-transform: rotate(45deg) translate(0, -42px);
}
.bar3{
	opacity: 0.5;
	-webkit-transform: rotate(90deg) translate(0, -42px);
	-moz-transform: rotate(90deg) translate(0, -42px);
}
.bar4{
	opacity: 0.6;
	-webkit-transform: rotate(135deg) translate(0, -42px);
	-moz-transform: rotate(135deg) translate(0, -42px);
}
.bar5{
	opacity: 0.7;
	-webkit-transform: rotate(180deg) translate(0, -42px);
	-moz-transform: rotate(180deg) translate(0, -42px);
}
.bar6{
	opacity: 0.8;
	-webkit-transform: rotate(225deg) translate(0, -42px);
	-moz-transform: rotate(225deg) translate(0, -42px);
}
.bar7{
	opacity: 0.9;
	-webkit-transform: rotate(270deg) translate(0, -42px);
	-moz-transform: rotate(270deg) translate(0, -42px);
}
.bar8{
	opacity: 1;
	-webkit-transform: rotate(315deg) translate(0, -42px);
	-moz-transform: rotate(315deg) translate(0, -42px);
}
.app_tip{
	background:rgba(0,0,0,0.7);
	position:fixed;left:0;bottom:0;width:100%;height:60px;z-index:2
}
.app_del{padding:22px 4%}
.app_del span{
	height:16px;
	width:16px;
	background-position:-196px -55px;
}
.app_logo{width:42px;height:42px;position:relative;top:6px;margin-right:2%;background-position:-98px -134px}
.app_name{color:#fff;font-size:1.6em;line-height:20px;margin:10px 0}
.download_app{color:#000;font-size:1.7em;background:#fff;width:33%;text-align:center;position:relative;right:5%;top:11px}.app_del.push,.download_app.push{opacity:.6}

.border_1px{border-width:0 0 1px 0;border-image:url('/images/border1px.png') 2 0 repeat;-webkit-border-image:url('/images/border1px.png') 2 0 repeat;-moz-border-image:url('/images/border1px.png') 2 0 repeat;-o-border-image:url('/images/border1px.png') 2 0 repeat}
.ico_wrapper.left {
	left: 5%;
	margin-left: -10px;
}
.hide {
	display: none!important;
}
.left {
	float: left;
}
.right {
	float: right;
}
.ico_wrapper {
	padding: 10px;
	height: 25px;
	position: relative;
	top: 3px;
}
.sprites {
	background-image: url("http://t3.ihaveu.net/images/sprites.png?201407101751");
	background-repeat: no-repeat;
	background-size: 300px 180px;
}

.title {
	width: 70%;
	text-align: center;
	color: #000;
	position: absolute;
	left: 50%;
	margin-left: -35%;
	line-height: 50px;
	font-size: 2em;
	font-weight: bold;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.logo {
	width: 77px;
	height: 26px;
	position: absolute;
	top: 12px;
	left: 50%;
	margin-left: -33px;
	background-position: -118px -53px;
}
.search_ico>span {
	background-position: -89px -27px;
}
.mode_ico>span {
	background-position: -220px 1px;
}
.filter_ico>span {
	background-position: -277px 1px;
}
.ico_wrapper.text {
	font-size: 1.8em;
	color: #8e8e8e;
	line-height: 25px;
	width: auto;
}
.add_ico>span {
	background-position: -224px -131px;
}
.ico_wrapper span {
	width: 25px;
	height: 25px;
}
.down_shadow {
	position: absolute; 
	top: 0; 
	left: 0; 
	z-index: 1; 
	width: 100%; 
	height: 100%; 
	background: rgba(255,255,255,0.7); 
	display: none; 
}
header .down_shadow, .layer_head .down_shadow {
	background: rgba(247,246,246,0.7); 
}
header, .layer_head {
	width: 100%;
	height: 50px;
	position: relative;
	z-index: 5;
	text-align: center;
	background: #f7f6f6;
}





