<div class="pager">
	<style type="text/css">
	.upload-row > div{
		text-align: center;
	}
	</style>
	<script type="text/javascript" src="/uploadify/jquery.uploadify.js"></script>
	<script type="text/javascript" src="/uploadify/upload.js"></script>
	<link rel="stylesheet" type="text/css" href="/uploadify/uploadify.css">
	<%= simple_form_for Image.new, url: upload_path(:avatar), validate: false do |f| %>
		<%= f.input :picture, :label => false, hint: '仅支持JPG、GIF、PNG格式，文件小于10M。', :input_html => { :multiple => true, name: 'image_avatar[picture]' }, as: :file %>
		<%= f.button :submit, "上传头像", class: 'btn-default btn gogo', style: 'display: none;' %>
	<% end %>

	<div class="row upload-row">
		<div class="col-md-5" style="border-right: 1px solid #ccc;">
			<img class="img-thumbnail" src="http://localhost:3030/images/user/1.png"></div>
		<div class="col-md-7">
			<div class="row">
				<p>您上传的图片将自动生成3种尺寸头像，请注意中小尺寸的头像是否清晰</p>
			</div>
			<div class="row">
				<div class="col-md-6">
					<img class="img-thumbnail" src="http://localhost:3030/images/user/2.png"></div>
				<div class="col-md-6">
					<div class="row">
						<img class="img-thumbnail" src="http://localhost:3030/images/user/3.png">
					</div>
					<div class="row" style="margin-top: 20px">
						<img class="img-thumbnail" src="http://localhost:3030/images/user/4.png">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>