<% items = {
		basic_sets_path => '基本资料', 
		avatar_sets_path => '头像设置',
		security_sets_path => '安全设置',
		privacy_sets_path => '隐私设置',
		push_sets_path => '推送设置',
		dy_sets_path => '动态设置',
		bg_sets_path => '模板设置' } %>
<div class="page-header">
	<h3>
		<i class="icon-wrench"></i>
		<%= items[request.path] %>
		<small>Subtext for header</small>
	</h3>
</div>
<ul class="nav nav-tabs">
	<% items.each do |key, value| %>
	<li class="<%= 'active' if request.path.eql?(key) %>">
		<%= link_to value, key %>
	</li>
	<% end %>
</ul>