<style type="text/css">
.page-header{
	margin: 20px 0;
}
.header-tip{
	font-size: 16px;
	display: block;
	margin-left: 20px;
}
.has-error .form-error-tip{
	color: #a94442;
}
.form-error-tip{
	margin: 8px 0 0 0;
}
.pager {
	list-style: none;
	text-align: left;
}
</style>
<div class="row">
	<div class="col-md-9">
		<%= render 'nav_bar' %>
		<%= render params[:action].eql?('index') ? 'basic' : params[:action] %>
	</div>
	<div class="col-md-3">
		<%= render 'right_bar' %>
	</div>
</div>

