<div class="row">
	<div class="col-md-9">
		<%= render 'nav_bar' %>
		<%= render params[:action].eql?('index') ? 'basic' : params[:action] %>
	</div>
	<div class="col-md-3">
		<%= render 'right_bar' %>
	</div>
</div>

