<div class="list-group">
	<% %{个人设置 相册 作品 漫信&通知 时间轴 粉丝&关注 活动 圈子 我的互动(点赞,推荐,喜欢,收藏) 日志 游记 同步其他网站}.split(/\s/).each_with_index do |row, index| %>
		<a href="#" class="list-group-item <%= "active" if index.zero? %>"><%= row %></a>
	<% end %>
</div>