<script type="text/javascript">
  $(function(){
  dropPhoto(".drop-photo-effect");
      $('.flexslider').flexslider({
        animation: "slide"
      });
    });
</script>
<div class="flexslider">
	<ul class="slides">
		<li>
			<a href="javascript:void(0);" target="_blank" title="每天看世界最好照片：Julien Coquentin 摄影作品">
				<img src="/upload/6361_13877983153P3a.jpg" alt="每天看世界最好照片：Julien Coquentin 摄影作品" width="630" height="380"></a>
		</li>
		<li>
			<a href="javascript:void(0);" target="_blank" title="快上传2013年度十大照片和专题吧~">
				<img src="/upload/7502_138726889544e0.jpg" alt="快上传2013年度十大照片和专题吧~" width="630" height="380"></a>
		</li>
		<li>
			<a href="javascript:void(0);" target="_blank" title="杭州厦门两城联动，公益快拍厦门国际马拉松赛">
				<img src="/upload/64510_1387287916X81I.jpg" alt="杭州厦门两城联动，公益快拍厦门国际马拉松赛" width="630" height="380"></a>
		</li>
		<li>
			<a href="javascript:void(0);" target="_blank" title="我的十大手机照片征集暨中国首届十佳手机摄影师评选">
				<img src="/upload/64510_1384958258S6JF.jpg" alt="我的十大手机照片征集暨中国首届十佳手机摄影师评选" width="630" height="380"></a>
		</li>
		<li>
			<a href="javascript:void(0);" target="_blank" title="阮义忠摄影工作坊招生">
				<img src="/upload/64510_1381901498x8fX.jpg" alt="阮义忠摄影工作坊招生" width="630" height="380"></a>
		</li>
	</ul>
</div>