<table class="table">
	<tr>
		<td>
			<a href="/oauth/weibo" class="weibo login-button">微博</a>
		</td>
		<td>
			<a href="/oauth/douban" class="douban login-button pull-right">豆瓣</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="/oauth/renren" class="renren login-button">人人</a>
		</td>
		<td>
			<a href="/oauth/qzone" class="qzone login-button pull-right">QQ</a>
		</td>
	</tr>
</table>