<div class="partTwo">
	<div class="part_twoTitle">
		<span>
			<a target="_blank" href="javascript:void(0);">年度活动</a>
			<a target="_blank" href="javascript:void(0);">正在进行的活动</a>
			<a target="_blank" href="javascript:void(0);">已结束的活动</a> <em>
			<a target="_blank" href="javascript:void(0);">......浏览更多</a></em> 
		</span>
		<strong>快拍活动</strong>
	</div>
	<div class="part_twoText">
		<div class="part_twoTextM">
			<% ["/upload/64510_13829643726zf6.png", "/upload/64510_1382964362iuQF.png", "/upload/64510_1382964350lVwa.png", "/upload/64510_1382964338nRCa.png", "/upload/64510_1382964231sy3v.png", "/upload/64510_1385031473A51y.png", "/upload/64510_138296430798h1.png", "/upload/64510_1382964289sQaM.png", "/upload/64510_1382964159wp4P.png", "/upload/64510_13829642493844.png", "/upload/64510_1382964195j6jF.png", "/upload/64510_13829663545S1b.png", "/upload/64510_1385031297Mj9F.png", "/upload/64510_13829644204mV5.png", "/upload/64510_13829670462aEr.png", "/upload/64510_1382964533xu1p.png", "/upload/64510_13830119208S0E.png", "/upload/64510_138296438505y5.png", "/upload/64510_13850314443zu4.png"].each do |row| %>
			<dl>
				<dt>
					<%= link_to image_tag(row), 'javascript:void(0);', target: '_blank' %>
				</dt>
			</dl>
			<% end %>
		</div>
	</div>
	<div class="clear"></div>
</div>