<div class="partTwo">
		<div class="part_twoTitle">
			<span>
				<a target="_blank" href="space.php?do=dailypicks">每日精选</a>
				<a target="_blank" href="space.php?do=dailystar">每日快拍之星</a>
				<a target="_blank" href="space.php?do=activity&amp;show=all&amp;isshow=1">热门作品</a> <em><a href="space.php?do=activity&amp;show=index">......浏览更多</a></em> 
			</span> <strong>新照片来了</strong>
		</div>
		<div class="part_twoTextphoto">
			<div class="part_twoTextphotoM">
				
				<% ["/2013/12/25/201312251146019G7.JPG.thumb.jpg", "/2013/12/24/20131224222827L4X.jpg.thumb.jpg", "/2013/12/24/201312242234376HV.jpg.thumb.jpg", "/2013/12/24/20131224223758D20.jpg.thumb.jpg", "/2013/12/24/201312242239418FR.jpg.thumb.jpg", "/2013/12/24/20131224224523XYP.jpg.thumb.jpg", "/2013/12/24/201312242248399BF.jpg.thumb.jpg", "/2013/12/24/201312242258283PB.jpg.thumb.jpg", "/2013/12/24/201312242258532SX.jpg.thumb.jpg", "/2013/12/24/201312242302048VF.jpg.thumb.jpg", "/2013/12/24/20131224230302BDA.jpg.thumb.jpg", "/2013/12/25/20131225114355D9R.JPG.thumb.jpg", "/2013/12/25/20131225114003IRB.JPG.thumb.jpg", "/2013/12/25/20131225114205KAR.jpg.thumb.jpg", "/2013/12/25/20131225113800J0N.jpg.thumb.jpg", "/2013/12/25/20131225113346ZC0.jpg.thumb.jpg", "/2013/12/25/201312251134382YS.JPG.thumb.jpg", "/2013/12/25/20131225113356PFZ.jpg.thumb.jpg", "/2013/12/25/20131225113348S5Z.jpg.thumb.jpg", "/2013/12/25/20131225113343VJ0.jpg.thumb.jpg", "/2013/12/25/20131225113153288.jpg.thumb.jpg", "/2013/12/25/20131225112842R3U.JPG.thumb.jpg", "/2013/12/25/20131225112829OAV.jpg.thumb.jpg", "/2013/12/25/20131225111201E0R.jpg.thumb.jpg"].each do |row| %>
				<dl>
					<dt class="drop-photo-effect">
						<%= link_to image_tag('http://img01.kpkpw.com' + row, class: 'newpic_index'), 'javascript:void(0);', target: '_blank' %>
					</dt>
					<dd>
						<p class="height_18">
							<a target="_blank" href="javascript:void(0);">#快拍365#</a>
						</p>
						<p class="height_18">
							<a target="_blank" class="blue" href="javascript:void(0);">天正</a>
						</p>
					</dd>
				</dl>
				<% end %>
				<span class="morepic">
					<a href="javascript:void(0);" target="_blank">更多新照片&gt;&gt;</a>
				</span>
			</div>
		</div>
		<div class="clear"></div>
	</div>