<div class="partTwo">
	<div class="part_twoTitle">
		<span>
			<a target="_blank" href="javascript:void(0);">摄影</a>
			<a target="_blank" href="javascript:void(0);">聚会</a>
			<a target="_blank" href="javascript:void(0);">旅行</a>
			<a target="_blank" href="javascript:void(0);">展览</a>
			<a target="_blank" href="javascript:void(0);">活动</a>
			<a target="_blank" href="javascript:void(0);">讲座</a> 
			<em><a href="javascript:void(0);">......浏览更多</a></em> 
		</span>
		<strong>快来参加同城活动吧</strong>
	</div>
	<div class="part_threeText">
		<div class="Circle_Left">
			<%
			a = ["/upload/371951_138795331377Tb.jpg", "/upload/7502_1387272633yP2j.jpg", "/upload/7502_1387160336u6mV.jpg", "/upload/7502_13843232375hgq.jpg", "/upload/6124_1383696237JWqD.jpg"]
			b = ["2013第二届杭州COSPLAY文化节", "杭州厦门两城联动，公益快拍厦门国际马拉松赛", "这个春节，一起快拍印度吧（完全行程、价格）", "新浪百万元启动“摄氏2013度”报道摄影师大典", "国家记忆：美国国家档案馆二战中缅印战场影像展」"]
			%>
			<% 5.times do |i| %>
			<div class="table">
				<table width="300" border="0">
					<tbody>
						<tr>
							<td width="98" height="90" rowspan="3">
								<%= link_to image_tag(a[i], size: '90x90'), 'javascript:void(0);', target: '_blank' %>
							</td>
							<td width="202" height="24" valign="top">
								<%= link_to b[i], 'javascript:void(0);', target: '_blank' %>
							</td>
						</tr>
						<tr>
							<td height="66">
								类型： 摄影
								<br>
								时间：2013.12.17-2013.12.27
								<br>地点：浙江 杭州</td>
						</tr>
					</tbody>
				</table>
			</div>
			<% end %>
		</div>
		<div class="Circle_Right">
			<h3>活跃的主办人</h3>
			<table width="330" border="0">
				<tbody>
					<tr>
						<td width="57" rowspan="3">
							<a href="space.php?uid=7502" target="_blank">
								<img src="http://uc.kpkpw.com/data/avatar/000/00/75/02_avatar_small.jpg" onerror="this.onerror=null;this.src='http://uc.kpkpw.com/images/noavatar_small.gif'"></a>
						</td>
						<td width="263">
							<a target="_blank" href="space.php?uid=7502"> <em>吃海鲜的猫</em>
							</a>
						</td>
					</tr>
					<tr>
						<td>
							有
							<a target="_blank" href="space.php?uid=7502&amp;do=event">3个活动</a>
							正在进行
						</td>
					</tr>
					<tr></tr>
				</tbody>
			</table>
			<table width="330" border="0">
				<tbody>
					<tr>
						<td width="57" rowspan="3">
							<a href="space.php?uid=370364" target="_blank">
								<img src="http://uc.kpkpw.com/data/avatar/000/37/03/64_avatar_small.jpg" onerror="this.onerror=null;this.src='http://uc.kpkpw.com/images/noavatar_small.gif'"></a>
						</td>
						<td width="263">
							<a target="_blank" href="space.php?uid=370364">
								<em>新青年</em>
							</a>
						</td>
					</tr>
					<tr>
						<td>
							有
							<a target="_blank" href="space.php?uid=370364&amp;do=event">1个活动</a>
							正在进行
						</td>
					</tr>
					<tr></tr>
				</tbody>
			</table>
			<table width="330" border="0">
				<tbody>
					<tr>
						<td width="57" rowspan="3">
							<a href="space.php?uid=24855" target="_blank">
								<img src="http://uc.kpkpw.com/images/noavatar_small.gif" onerror="this.onerror=null;this.src='http://uc.kpkpw.com/images/noavatar_small.gif'"></a>
						</td>
						<td width="263">
							<a target="_blank" href="space.php?uid=24855">
								<em>烈冰</em>
							</a>
						</td>
					</tr>
					<tr>
						<td>
							有
							<a target="_blank" href="space.php?uid=24855&amp;do=event">1个活动</a>
							正在进行
						</td>
					</tr>
					<tr></tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="clear"></div>
</div>