<div class="partTwo">
	<div class="part_twoTitle">
		<span> <em><a href="javascript:void(0);">......浏览更多</a></em> 
		</span> <strong>快来找自己的圈子吧</strong>
	</div>
	<div class="part_threeText">
		<div class="Circle_Left">
			<% 
			a = ["/upload/6124_1383325776f74i.jpg", "/upload/31542_1382061529w18n.jpg", "/upload/12741_1385997733kVU9.jpg", "/upload/7_13824385484wOh.jpg", "/upload/11985_1382407069thh5.jpg", "/upload/64510_13820530024027.jpg"]
			b = ["阮义忠摄影工作坊", "快拍鸟人圈", "黑白摄影", "大画幅摄影圈", "杭州延时摄影爱好者", "长三角摄影记者圈"]
			 %>
			<% 6.times do |i| %>
			<div class="table">
				<table width="300" border="0">
					<tbody>
						<tr>
							<td width="98" rowspan="3">
								<%= link_to image_tag(a[i], size: '90x90'), 'javascript:void(0);', target: '_blank' %>
							</td>
							<td width="202" valign="top">
								<%= link_to b[i], 'javascript:void(0);', target: '_blank' %>
							</td>
						</tr>
						<tr>
							<td valign="top">
								92&nbsp;个成员&nbsp;/&nbsp;162&nbsp;个话题
								<br>分类：摄影</td>
						</tr>
						<tr>
							<td height="22">
								<p>
									<a target="_blank" href="javascript:void(0);">+加入圈子</a>
								</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<% end %>
		</div>
		<div class="Circle_Right">
			<h3>推荐话题</h3>
			<% ["花花鏡界：阮義忠攝影工作坊-成都站Day7", "李揚：阮義忠工作坊學習體會之七（成都站）", "卢迎迎：阮义忠摄影工作坊学习体会之七（成都站）", "黃煜：阮義忠工作坊學習體會之七（成都站）总结篇", "花花鏡界：阮義忠攝影工作坊-成都站Day4", "黃煜：阮義忠工作坊學習體會之四（成都站）", "花花鏡界：阮義忠攝影工作坊-成都站Day3"].each do |row| %>
			<dl>
				<dt style="height:20px;overflow:hidden">
					<a target="_blank" href="javascript:void(0);"><%= row %></a>
				</dt>
				<dd>
					来自:
					<a class="blue" target="_blank" href="javascript:void(0);">阮义忠摄影工作坊</a>
				</dd>
			</dl>
			<% end %>
			<p class="more">
				<a class="blue" target="_blank" href="javascript:void(0);">发现更多话题&gt;&gt;</a>
			</p>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>