<div class="validate" style="margin-top:160px;background:#fff;padding:10px;">
	<div class="page-header text-primary">
		<h3>
			<i class="icon-email"></i>
			找回密码
			<small>验证链接已发送到您邮箱</small>
		</h3>
	</div>
	<p>请到邮箱进行密码找回步骤 。<a href="/">去首页</a></p>
</div>