<div class="row">
	<div class="col-md-9">
		<div class="title">
			<h3>郭雍脑海中刷刷刷的出现三个问句</h3>
		</div>
		<div class="pic">
			<a href=""><img src="/images/photo.jpg"></a>
			<div class="pic-top"></div>
			<div class="pic-right"></div>
			<div class="pic-bottom"></div>
			<div class="pic-left"></div>
		</div>
		<hr>
		<div class="position">
			<span class="opt-b">
				<i class="icon-user"></i>
				<a href="">朱晓武</a>
			</span>
			<span class="opt-b">
				<i class="icon-eye-open"></i>
				<a href="">关注(10)</a>
			</span>
			<span class="opt-b">
				<i class="icon-comment"></i>
				<a href="/post-standard-two/#comments">回应(2)</a>
			</span>
			<span class="opt-b">
				<i class="icon-tags"></i>
				<a href="/" title="每日一拍">每日一拍</a>
				,
				<a href="/" title="同城活动">同城活动</a>
			</span>
			<span class="opt-b">
				<i class="icon-heart"></i>
				<a href="/" title="点赞">喜欢(10)</a>
			</span>
			<span class="opt-b">
				<i class="icon-thumbs-up"></i>
				<a href="/" title="喜欢">点赞(5)</a>
			</span>
			<span class="opt-b">
				<i class="icon-time"></i>
				2013-08-15
			</span>
		</div>
		<hr>
		<div class="content">
			<p>
				郭雍脑海中刷刷刷的出现三个问句，最终却一言不发，老老实实的站起身来，走到了林之然身旁，笑道：前辈，现在就去吗？那赶紧走吧！
			</p>
			<p>
				有意思，我还真么见过你这么主动的！林之然笑道："你小子确实有些不同寻常，来到这里的别管是什么人，最初都会反抗一阵，哪怕最后老老实实的练功了，也都是被逼无奈之下的选择，倒是你小子与众不同，我不知道是不是自己的错觉，总之我觉得你不但不排斥这里，反倒是还有点急不可耐的意思，也不知道究竟是怎么想的。
				“我主动配合不好吗？”郭雍满脸惊奇：“要不我先退回去，您重新再喊一遍，然后我骂您几声奸贼什么的，您再打我一顿，最后把昏死过去的我抬过去见您家夫人？”
			</p>
		</div>
		<hr>
		<ul class="pager">
			<li class="previous">
				<a href="#">&larr; 上一篇</a>
			</li>
			<li class="next">
				<a href="#">下一篇 &rarr;</a>
			</li>
		</ul>
		<hr>
		<div class="comments">
			<h4 class="light">所有回应</h4>
			<ul class="media-list">
				<li class="media">
					<a class="pull-left" href="#">
						<img class="img-circle avatar" src="/images/avatar.jpg">
					</a>
					<div class="media-body">
						<h4 class="media-heading">
							<a href="">朱晓武</a>
							<span class="date">2013-08-19 10:37</span>
							<a class="reply-link pull-right" href="/">回应TA</a>
						</h4>
						<p class="reply-content">这个照片真得很漂亮唉</p>
						<ul class="media-list">
							<li class="media">
								<a class="pull-left" href="#">
									<img class="img-circle avatar" src="/images/avatar.jpg">
								</a>
								<div class="media-body">
									<h4 class="media-heading">
										<a href="">朱晓武</a>
										<span class="date">2013-08-19 10:37</span>
										<a class="reply-link pull-right" href="/">回应TA</a>
									</h4>
									<p class="reply-content">这个照片真得很漂亮唉</p>
								</div>
							</li>
						</ul>
					</div>
				</li>
				<li class="media">
					<a class="pull-left" href="#">
						<img class="img-circle avatar" src="/images/avatar.jpg">
					</a>
					<div class="media-body">
						<h4 class="media-heading">
							<a href="">朱晓武</a>
							<span class="date">2013-08-19 10:37</span>
							<a class="reply-link pull-right" href="/">回应TA</a>
						</h4>
						<p>这个照片真得很漂亮唉这个照片真得很漂亮唉这个照片真得很漂亮唉这个照片真得很漂亮唉这个照片真得很漂亮唉这个照片真得很漂亮唉这个照片真得很漂亮唉</p>
					</div>
				</li>
			</ul>
		</div>
		<hr>
		<div class="respond">
			<h3 class="light">回应:</h3>
			<form role="form">
				<textarea class="form-control" rows="3"></textarea>
				<input type="submit" class="btn btn-default pull-right" value="提交" style="margin: 10px 0;">
			</form>
		</div>
	</div>
	<div class="col-md-3">
		<div class="radbox">
			<div class="box_top">
				<span class="title light">每日重点</span>
				<a href="" class="pull-right">更多</a>
			</div>
			<div class="box_con">
				<ul class="list-unstyled">
					<li><a href="/">Ruby</a></li>
					<li><a href="/">Mysql</a></li>
					<li><a href="/">MongoDB</a></li>
					<li><a href="/">JavaScript</a></li>
					<li><a href="/">JQuery</a></li>
					<li><a href="/">Phonegap</a></li>
					<li><a href="/">Titanium</a></li>
				</ul>
			</div>
		</div>
		<div class="radbox">
			<div class="box_top">
				<span class="title light">新注用户</span>
			</div>
			<div class="box_con">
				<ul class="media-list">
					<% 5.times do %>
					<li class="media">
						<a class="pull-left" href="#">
							<img class="img-circle avatar" src="/images/avatar.jpg">
						</a>
						<div class="media-body">
							<h4 class="media-heading">
								<a href="">朱晓武</a>
							</h4>
							<p>
								<span class="date">2013-08-19 10:37</span>
							</p>
						</div>
					</li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="radbox">
			<div class="box_top">
				<span class="title light">网站标签</span>
			</div>
			<div class="box_con">
				<% ["胶片", "奥林巴斯", "宾得", "索尼", "尼康", "佳能", "徕卡", "卡片机", "120", "数码", "手机", "iphone", "大光圈", "广角", "中画幅", "纪实", "风光", "人文", "人像", "公益", "一条路", "大海", "自拍", "静物", "旅行", "校园", "民俗", "自然", "儿童", "植物", "建筑", "生活", "城市", "光影", "西湖", "女生", "街拍", "彩色", "小品", "黑白", "印象", "现场", "创意", "复古", "小清新", "日系", "lomo", "观念", "微距", "抓拍", "长曝光", "HDR", "逆光", "情绪", "艺术"].each do |row| %>
				<a href="/?tag=Ruby" class="tag"><%= row %></a>
				<% end %>
			</div>
		</div>
	</div>
</div>

