<div class="row">
	<div class="col-md-9">
		<div class="title">
			<h3>郭雍脑海中刷刷刷的出现三个问句</h3>
		</div>
		<style type="text/css">
		.pic{
			position: relative;
		}
		.pic > div{
			width: 40%;
			height: 40%;
			position: absolute;
			cursor: pointer;
		}
		.pic .pic-top{
			left: 0;
			top: 0;
		}
		.pic .pic-right{
			top:0;
			right: 0;
		}
		.pic .pic-bottom{
			right: 0;
			bottom: 0;
		}
		.pic .pic-left{
			left: 0;
			bottom: 0;
		}
		</style>
		<div class="pic">
			<a href=""><img src="/images/photo.jpg"></a>
			<div class="pic-top"></div>
			<div class="pic-right"></div>
			<div class="pic-bottom"></div>
			<div class="pic-left"></div>
		</div>
		<hr>
		<div class="position">
			<span class="opt-b">
				<i class="icon-user"></i>
				朱晓武
			</span>
			<span class="opt-b">
				<i class="icon-time"></i>
				2013-08-15 12:58
			</span>
			<span class="opt-b">
				<i class="icon-comment"></i>
				<a href="/post-standard-two/#comments">评论(2)</a>
			</span>
			<span class="opt-b">
				<i class="icon-tags"></i>
				<a href="/" title="每日一拍">每日一拍</a>
				,
				<a href="/" title="同城活动">同城活动</a>
			</span>
			<span class="opt-b">
				<i class="icon-heart"></i>
				<a href="/" title="点赞">喜欢(10)</a>
			</span>
			<span class="opt-b">
				<i class="icon-thumbs-up"></i>
				<a href="/" title="喜欢">点赞(5)</a>
			</span>
		</div>
		<hr>
		<div class="content">
			<p>
				郭雍脑海中刷刷刷的出现三个问句，最终却一言不发，老老实实的站起身来，走到了林之然身旁，笑道：前辈，现在就去吗？那赶紧走吧！
			</p>
			<p>
				有意思，我还真么见过你这么主动的！林之然笑道："你小子确实有些不同寻常，来到这里的别管是什么人，最初都会反抗一阵，哪怕最后老老实实的练功了，也都是被逼无奈之下的选择，倒是你小子与众不同，我不知道是不是自己的错觉，总之我觉得你不但不排斥这里，反倒是还有点急不可耐的意思，也不知道究竟是怎么想的。
				“我主动配合不好吗？”郭雍满脸惊奇：“要不我先退回去，您重新再喊一遍，然后我骂您几声奸贼什么的，您再打我一顿，最后把昏死过去的我抬过去见您家夫人？”
			</p>
		</div>
		<hr>
		<ul class="pager">
			<li class="previous">
				<a href="#">&larr; 上一篇</a>
			</li>
			<li class="next">
				<a href="#">下一篇 &rarr;</a>
			</li>
		</ul>
		<hr>
		<div class="comments">
			<h4 class="light">所有评论</h4>
			<ul class="comment-list">
				<li class="comment" id="li-comment-1">
					<a href="/" class="user-link pull-left"><img alt="" src="/images/avatar.jpg" class="avatar img-circle"></a>
					<a href="/" class="author">朱晓武</a>
					<span class="date">2013-08-19 10:37</span>
					<span class="pull-right">
						<a class="reply-link" href="/">回复TA</a>
					</span>
					<p>
						这个照片真得很漂亮唉
					</p>
					<ul class="comment-list">
						<li class="comment">
							<a href="/" class="user-link pull-left"><img alt="" src="/images/avatar.jpg" class="avatar img-circle"></a>
							<a href="/" class="author">朱晓武</a>
							<span class="date">2013-08-19 10:37</span>
							<span class="pull-right">
								<a class="reply-link" href="/">回复TA</a>
							</span>
							<p>
								这个照片真得很漂亮唉
							</p>	
						</li>
					</ul>
				</li>

				<li class="comment" id="li-comment-2">
					<a href="/" class="user-link pull-left"><img alt="" src="/images/avatar.jpg" class="avatar img-circle"></a>
					<a href="/" class="author">朱晓武</a>
					<span class="date">2013-08-19 10:37</span>
					<span class="pull-right">
						<a class="reply-link" href="/">回复TA</a>
					</span>
					<p>
						这个照片真得很漂亮唉这个照片真得很漂亮唉这个照片真得很漂亮唉这个照片真得很漂亮唉这个照片真得很漂亮唉这个照片真得很漂亮唉这个照片真得很漂亮唉
					</p>
				</li>
			</ul>
		</div>
		<hr>
		<div class="respond">
			<h3 class="light">回复:</h3>
			<form role="form">
				<textarea class="form-control" rows="3"></textarea>
				<input type="submit" class="btn btn-default" value="提交">
			</form>
		</div>
	</div>
	<div class="col-md-3">
		<style type="text/css">
		.radbox{
			background-color: #fff;
			margin-bottom: 20px;
		}
		.box_top{
			border-bottom: 1px solid #e2e2e2;
			padding: 10px;
		}
		.radbox .title {
			color: #acacac;
			font-size: 14px;
			font-weight: bold;
		}
		.box_con{
			padding: 10px;
		}
		.radbox ul{
			list-style: none;
			padding-left: 0;
		}
		.radbox ul li{
			margin-bottom: 10px;
		}
		a.tag:before{
			content: "";
			float: left;
			position: absolute;
			top: 0;
			left: -12px;
			width: 0;
			height: 0;
			border-color: transparent #e1e1e6 transparent transparent;
			border-style: solid;
			border-width: 12px 12px 12px 0;
		}
		a.tag:after {
			content: "";
			position: absolute;
			top: 10px;
			left: 0;
			float: left;
			width: 4px;
			height: 4px;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			-ms-border-radius: 2px;
			-o-border-radius: 2px;
			border-radius: 2px;
			background: #fff;
			-webkit-box-shadow: -1px -1px 2px #bbbbc5;
			-moz-box-shadow: -1px -1px 2px #bbbbc5;
			box-shadow: -1px -1px 2px #bbbbc5;
		}
		a.tag:hover {
			background-color: #567189;
			color: white;
			text-shadow: none;
		}
		a.tag:hover:before {
			border-color: transparent #567189 transparent transparent;
		}
		a.tag{
			margin: 0 0 10px 20px;
			padding: 0 10px 0 12px;
			background: #e1e1e6;
			text-decoration: none;
			text-shadow: 1px 1px 0px #fff;
			box-shadow: 1px 1px 1px rgba(119, 119, 119, 0.5);
			display: inline-block;
			height: 24px;
			line-height: 24px;
			position: relative;
			font-size: 11px;
		}
		</style>
		<div class="radbox">
			<div class="box_top">
				<span class="title light">每日重点</span>
				<a href="" class="pull-right">更多</a>
			</div>
			<div class="box_con">
				<ul>
					<li><a href="/">Ruby</a></li>
					<li><a href="/">Mysql</a></li>
					<li><a href="/">MongoDB</a></li>
					<li><a href="/">JavaScript</a></li>
					<li><a href="/">JQuery</a></li>
					<li><a href="/">Phonegap</a></li>
					<li><a href="/">Titanium</a></li>
				</ul>
			</div>
		</div>
		<div class="radbox">
			<div class="box_top">
				<span class="title light">新注用户</span>
			</div>
			<div class="box_con">
				<ul>
					<li>
						<a href="/" class="user-link pull-left"><img alt="" src="/images/avatar.jpg" class="avatar img-circle"></a>
						<h5><a href="/" class="author">zhuxiaowu</a></h5>
						<span class="date">2010-01-01 10:10</span>
					</li>
					<li>
						<a href="/" class="user-link pull-left"><img alt="" src="/images/avatar.jpg" class="avatar img-circle"></a>
						<h4><a href="/" class="author">zhuxiaowu</a></h4>
						<span class="date">2010-01-01 10:10</span>
					</li>
					<li>
						<a href="/" class="user-link pull-left"><img alt="" src="/images/avatar.jpg" class="avatar img-circle"></a>
						<h4><a href="/" class="author">zhuxiaowu</a></h4>
						<span class="date">2010-01-01 10:10</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="radbox">
			<div class="box_top">
				<span class="title light">网站标签</span>
			</div>
			<div class="box_con">
				<a href="/?tag=Ruby" class="tag">Ruby</a>
				<a href="/?tag=Mysql" class="tag">Mysql</a>
				<a href="/?tag=MongoDB" class="tag">MongoDB</a>
				<a href="/?tag=JavaScript" class="tag">JavaScript</a>
				<a href="/?tag=JQuery" class="tag">JQuery</a>
				<a href="/?tag=Phonegap" class="tag">Phonegap</a>
				<a href="/?tag=Titanium" class="tag">Titanium</a>
				<a href="/?tag=Lua" class="tag">Lua</a>
				<a href="/?tag=Android" class="tag">Android</a>
				<a href="/?tag=Redis" class="tag">Redis</a>
				<a href="/?tag=Rails" class="tag">Rails</a>
				<a href="/?tag=Nginx" class="tag">Nginx</a>
				<a href="/?tag=Resque" class="tag">Resque</a>
				<a href="/?tag=Ubuntu" class="tag">Ubuntu</a>
				<a href="/?tag=JQueryMobile" class="tag">JQueryMobile</a>
				<a href="/?tag=node" class="tag">node</a>
				<a href="/?tag=nodejs" class="tag">nodejs</a>
				<a href="/?tag=express" class="tag">express</a>
				<a href="/?tag=socket.io" class="tag">socket.io</a>
				<a href="/?tag=forever" class="tag">forever</a>
				<a href="/?tag=%E7%94%9F%E6%B4%BB" class="tag">生活</a>
			</div>
		</div>
	</div>
</div>

