<div class="row">
	<div class="col-md-9">
		<div class="title">
			<h3>郭雍脑海中刷刷刷的出现三个问句</h3>
		</div>
		<div class="pic">
			<img src="/images/photo.jpg">
			<div class="pic_top"></div>
			<div class="pic_bottom"></div>
			<div class="pic_left"></div>
			<div class="pic_right"></div>
		</div>
		<hr>
		<div class="social">
			<h3 class="std pull-left">分享</h3>
			<a href="icon-facebook"></a>
			<style type="text/css">
			.social:before, .social:after {
				display: table;
				content: "";
				line-height: 0;
				clear: both;
			}
			.social{
				background: #405b7f;
			}
			.social h3 {
				color: #fff;
				padding:25px 10px 0 20px;
				margin: 0;
				font-size: 16px;
				line-height: 16px;
			}
			.smallSocials{
				margin: 0;
				list-style: none;
			}
			.smallSocials li {
				display: block;
				float: left;
				margin: 0;
			}
			.smallSocials li a:before {
				color: #fff;
				font-size: 27px;
				line-height: 27px;
				position: relative;
				top: 19px;
				left: 1px;
			}
			.smallSocials li a {
				display: block;
				width: 62px;
				height: 62px;
				font-size: 0;
				color: transparent;
				background: transparent;
				border-left: 1px solid #506889;
				border-left: 1px solid rgba(255,255,255,0.15);
				text-align: center;
			}
			.smallSocials li a:hover{
				background: #f78927;
				text-decoration: none;
			}
			</style>
			<ul class="smallSocials pull-right">
				<li>
					<a href="javascript:void(0);" target="_blank" class="icon-facebook" data-toggle="tooltip" data-original-title="Facebook">Facebook</a>
				</li>
				<li>
					<a href="javascript:void(0);" target="_blank" class="icon-twitter" data-toggle="tooltip" data-original-title="Twitter">Twitter</a>
				</li>
				<li>
					<a href="javascript:void(0);" target="_blank" class="icon-google-plus" data-toggle="tooltip" data-original-title="Google+">Google+</a>
				</li>
				<li>
					<a href="javascript:void(0);" target="_blank" class="icon-linkedin" data-toggle="tooltip" data-original-title="LinkedIn">LinkedIn</a>
				</li>
				<li>
					<a href="javascript:void(0);" target="_blank" class="icon-pinterest" data-toggle="tooltip" data-original-title="Pinterest">Pinterest</a>
				</li>
				<li>
					<a href="javascript:void(0);" target="_blank" class="icon-instagram" data-toggle="tooltip" data-original-title="Instagram">Instagram</a>
				</li>
				<li>
					<a href="javascript:void(0);" target="_blank" class="icon-youtube-sign" data-toggle="tooltip" data-original-title="Youtube">Youtube</a>
				</li>
				<li>
					<a href="javascript:void(0);" target="_blank" class="icon-video" data-toggle="tooltip" data-original-title="Vimeo">Vimeo</a>
				</li>
				<li>
					<a href="javascript:void(0);" target="_blank" class="icon-phone" data-toggle="tooltip" data-original-title="Phone">Phone</a>
				</li>
				<li>
					<a href="javascript:void(0);" target="_blank" class="icon-skype" data-toggle="tooltip" data-original-title="Skype">Skype</a>
				</li>
				<li>
					<a href="javascript:void(0);" target="_blank" class="icon-envelope" data-toggle="tooltip" data-original-title="Email">Email</a>
				</li>
				<li>
					<a href="javascript:void(0);" target="_blank" class="icon-rss" data-toggle="tooltip" data-original-title="RSS">RSS</a>
				</li>
			</ul>
		</div>
		<div class="clearfix"></div>
		<hr>
		<div class="position">
			<span class="opt-b">
				<i class="icon-user"></i>
				朱晓武
			</span>
			<span class="opt-b">
				<i class="icon-time"></i>
				2013-08-15 12:58
			</span>
			<span class="opt-b">
				<i class="icon-comment"></i>
				<a href="/post-standard-two/#comments">评论(2)</a>
			</span>
			<span class="opt-b">
				<i class="icon-tags"></i>
				<a href="/" title="每日一拍">每日一拍</a>
				,
				<a href="/" title="同城活动">同城活动</a>
			</span>
			<span class="opt-b">
				<i class="icon-heart"></i>
				<a href="/" title="点赞">喜欢(10)</a>
			</span>
			<span class="opt-b">
				<i class="icon-thumbs-up"></i>
				<a href="/" title="喜欢">点赞(5)</a>
			</span>
		</div>
		<hr>
		<div class="content">
			<p>
				郭雍脑海中刷刷刷的出现三个问句，最终却一言不发，老老实实的站起身来，走到了林之然身旁，笑道：前辈，现在就去吗？那赶紧走吧！
			</p>
			<p>
				有意思，我还真么见过你这么主动的！林之然笑道："你小子确实有些不同寻常，来到这里的别管是什么人，最初都会反抗一阵，哪怕最后老老实实的练功了，也都是被逼无奈之下的选择，倒是你小子与众不同，我不知道是不是自己的错觉，总之我觉得你不但不排斥这里，反倒是还有点急不可耐的意思，也不知道究竟是怎么想的。
				“我主动配合不好吗？”郭雍满脸惊奇：“要不我先退回去，您重新再喊一遍，然后我骂您几声奸贼什么的，您再打我一顿，最后把昏死过去的我抬过去见您家夫人？”
			</p>
		</div>
		<hr>
		<div class="comments">
			<h4>评论</h4>
			<ul class="commentList">

				<li class="comment byuser comment-author-admin bypostauthor even thread-even depth-1" id="li-comment-8">
					<div class="oneComment">
						<div class="avatIcon pull-left">
							<img alt="" src="/images/avatar.jpg" class="avatar img-circle">
						</div>
						<span class="author">admin</span>
						<span class="date">February 21, 2013 at 10:36 am</span>
						<span class="pull-right">
							<a class="comment-reply-link" href="/post-standard-two/?replytocom=8#respond" onclick="return addComment.moveForm(&quot;comment-8&quot;, &quot;8&quot;, &quot;respond&quot;, &quot;397&quot;)">Reply</a>
						</span>
						<p>
							raesent ac nunc pharetra risus congue bibendum sit amet ac mi. In egestas, massa scelerisque laoreet cursus, turpis libero gravida nunc, non semper lacus dui quis er
						</p>
					</div>
				</li>

				<li class="comment byuser comment-author-admin bypostauthor odd alt thread-odd thread-alt depth-1" id="li-comment-7">
					<div class="oneComment">
						<div class="avatIcon pull-left">
							<img alt="" src="/images/avatar.jpg" class="avatar img-circle">
						</div>
						<span class="author">admin</span>
						<span class="date">February 21, 2013 at 10:35 am</span>
						<span class="pull-right">
							<a class="comment-reply-link" href="/post-standard-two/?replytocom=7#respond" onclick="return addComment.moveForm(&quot;comment-7&quot;, &quot;7&quot;, &quot;respond&quot;, &quot;397&quot;)">Reply</a>
						</span>
						<p>
							Quisque eu sem nisi, nec commodo odio. Integer elementum, mauris ac feugiat tincidunt, tortor tellus tempor mi, et scelerisque lorem massa eu nunc.
						</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="respond"></div>
	</div>
	<div class="col-md-3">.col-md-3</div>
</div>
<style type="text/css">
	hr{
		margin: 10px auto;
	}
	.pic{
		width: 100%;
		height: 100%;
		background: #f1f1f1;
	}
	.opt-b {
		display: inline-block;
		position: relative;
		margin: 0 30px 0 0;
		font-size: 14px;
		line-height: 17px;
		color: #959da6;
		font-weight: 700;
		text-transform: uppercase;
	}
</style>