<div class="row">
	<div class="col-md-9">
		<div class="title">
			<h3>郭雍脑海中刷刷刷的出现三个问句</h3>
		</div>
		<div class="pic">
			<img src="/images/photo.jpg">
			<div class="pic_top"></div>
			<div class="pic_bottom"></div>
			<div class="pic_left"></div>
			<div class="pic_right"></div>
		</div>
		<hr>
		<div class="social">
			<h3 class="std pull-left">分享</h3>
			<a href="icon-facebook"></a>
			<ul class="smallSocials pull-right">
				<li>
					<a href="javascript:void(0);" target="_blank" class="icon-facebook" data-toggle="tooltip" data-original-title="Facebook">Facebook</a>
				</li>
				<li>
					<a href="javascript:void(0);" target="_blank" class="icon-twitter" data-toggle="tooltip" data-original-title="Twitter">Twitter</a>
				</li>
				<li>
					<a href="javascript:void(0);" target="_blank" class="icon-google-plus" data-toggle="tooltip" data-original-title="Google+">Google+</a>
				</li>
				<li>
					<a href="javascript:void(0);" target="_blank" class="icon-linkedin" data-toggle="tooltip" data-original-title="LinkedIn">LinkedIn</a>
				</li>
				<li>
					<a href="javascript:void(0);" target="_blank" class="icon-pinterest" data-toggle="tooltip" data-original-title="Pinterest">Pinterest</a>
				</li>
				<li>
					<a href="javascript:void(0);" target="_blank" class="icon-instagram" data-toggle="tooltip" data-original-title="Instagram">Instagram</a>
				</li>
				<li>
					<a href="javascript:void(0);" target="_blank" class="icon-youtube-sign" data-toggle="tooltip" data-original-title="Youtube">Youtube</a>
				</li>
				<li>
					<a href="javascript:void(0);" target="_blank" class="icon-video" data-toggle="tooltip" data-original-title="Vimeo">Vimeo</a>
				</li>
				<li>
					<a href="javascript:void(0);" target="_blank" class="icon-phone" data-toggle="tooltip" data-original-title="Phone">Phone</a>
				</li>
				<li>
					<a href="javascript:void(0);" target="_blank" class="icon-skype" data-toggle="tooltip" data-original-title="Skype">Skype</a>
				</li>
				<li>
					<a href="javascript:void(0);" target="_blank" class="icon-envelope" data-toggle="tooltip" data-original-title="Email">Email</a>
				</li>
				<li>
					<a href="javascript:void(0);" target="_blank" class="icon-rss" data-toggle="tooltip" data-original-title="RSS">RSS</a>
				</li>
			</ul>
		</div>
		<div class="clearfix"></div>
		<hr>
		<div class="position">
			<span class="opt-b">
				<i class="icon-user"></i>
				朱晓武
			</span>
			<span class="opt-b">
				<i class="icon-time"></i>
				2013-08-15 12:58
			</span>
			<span class="opt-b">
				<i class="icon-comment"></i>
				<a href="/post-standard-two/#comments">评论(2)</a>
			</span>
			<span class="opt-b">
				<i class="icon-tags"></i>
				<a href="/" title="每日一拍">每日一拍</a>
				,
				<a href="/" title="同城活动">同城活动</a>
			</span>
			<span class="opt-b">
				<i class="icon-heart"></i>
				<a href="/" title="点赞">喜欢(10)</a>
			</span>
			<span class="opt-b">
				<i class="icon-thumbs-up"></i>
				<a href="/" title="喜欢">点赞(5)</a>
			</span>
		</div>
		<hr>
		<div class="content">
			<p>
				郭雍脑海中刷刷刷的出现三个问句，最终却一言不发，老老实实的站起身来，走到了林之然身旁，笑道：前辈，现在就去吗？那赶紧走吧！
			</p>
			<p>
				有意思，我还真么见过你这么主动的！林之然笑道："你小子确实有些不同寻常，来到这里的别管是什么人，最初都会反抗一阵，哪怕最后老老实实的练功了，也都是被逼无奈之下的选择，倒是你小子与众不同，我不知道是不是自己的错觉，总之我觉得你不但不排斥这里，反倒是还有点急不可耐的意思，也不知道究竟是怎么想的。
				“我主动配合不好吗？”郭雍满脸惊奇：“要不我先退回去，您重新再喊一遍，然后我骂您几声奸贼什么的，您再打我一顿，最后把昏死过去的我抬过去见您家夫人？”
			</p>
		</div>
		<hr>
		<div class="comments">
			<h4 class="light">所有评论</h4>
			<ul class="comment-list">
<style>
.comment-list{
	padding: 0;
}
.comment-list li{
	list-style: none;
	margin: 0 0 15px 0;
}
.comment-list li p{
	
}
ul.comment-list .user-link{
	margin-right: 10px;
	width: 50px;
	height: 50px;
}
ul.comment-list ul.comment-list{
	margin-left: 60px;
}
ul.comment-list .author {
	font-size: 14px;
	line-height: 19px;
	font-weight: 700;
	margin-right: 10px;
}
ul.comment-list .date {
color: #959da6;
font-size: 11px;
line-height: 15px;
display: inline-block;
margin-bottom: 10px;
}
ul.comment-list p {
	font-size: 13px;
	line-height: 21px;
	margin: 0 0 15px 60px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e8ecf0;
}
/**最后一条*/
.comments > .comment-list > li:last-child p{
	border-bottom: 0;
}
</style>
				<li class="comment" id="li-comment-1">
					<a href="/" class="user-link pull-left"><img alt="" src="/images/avatar.jpg" class="avatar img-circle"></a>
					<a href="/" class="author">朱晓武</a>
					<span class="date">2013-08-19 10:37</span>
					<span class="pull-right">
						<a class="reply-link" href="/">回复TA</a>
					</span>
					<p>
						这个照片真得很漂亮唉
					</p>
					<ul class="comment-list">
						<li class="comment">
							<a href="/" class="user-link pull-left"><img alt="" src="/images/avatar.jpg" class="avatar img-circle"></a>
							<a href="/" class="author">朱晓武</a>
							<span class="date">2013-08-19 10:37</span>
							<span class="pull-right">
								<a class="reply-link" href="/">回复TA</a>
							</span>
							<p>
								这个照片真得很漂亮唉
							</p>	
						</li>
					</ul>
				</li>

				<li class="comment" id="li-comment-2">
					<a href="/" class="user-link pull-left"><img alt="" src="/images/avatar.jpg" class="avatar img-circle"></a>
					<a href="/" class="author">朱晓武</a>
					<span class="date">2013-08-19 10:37</span>
					<span class="pull-right">
						<a class="reply-link" href="/">回复TA</a>
					</span>
					<p>
						这个照片真得很漂亮唉这个照片真得很漂亮唉这个照片真得很漂亮唉这个照片真得很漂亮唉这个照片真得很漂亮唉这个照片真得很漂亮唉这个照片真得很漂亮唉
					</p>
				</li>
			</ul>
		</div>
		<hr>
		<div class="respond">
			<h3 class="light">回复:</h3>
			<form role="form">
				<textarea class="form-control" rows="3"></textarea>
				<input type="submit" class="btn btn-default" value="提交">
			</form>
		</div>
	</div>
	<div class="col-md-3">.col-md-3</div>
</div>

