<div class="row">
    <style type="text/css">
    .row{margin-left: 0;}
    .main > .row > .col-md-9{
        padding-left: 0px;
        padding-right: 0px;
    }
    .main > .row > .col-md-9 .ad > img{
        width: 100%;
    }
    </style>
    <div class="col-md-9">
        <div class="ad">
            <img src="/images/ad.jpg" alt="我的十大手机照片征集">
        </div>

        <%= render 'shared/flexslider' %>
        
        
    </div>
    <div class="col-md-3">

    </div>
</div>