<div class="Login">
	<form id="loginform" name="loginform" action="do.php?ac=log2012&amp;&amp;ref" method="post" class="c_form">

		<div class="log_text log_text01">
			<dl>
				<dt>用户名:</dt>
				<dd>
					<input name="username" id="username" value="bopro" tabindex="2" type="text" class="input02" style="width:300px;">
					<span id="error" style="display:none;">
						<img src="images/icon_28.jpg"></span>
				</dd>
				<div class="clear"></div>
			</dl>
			<div class="clear"></div>

			<dl>
				<dt>密码:</dt>
				<dd>
					<input type="password" name="password" id="password" tabindex="3" value="" class="input02" style="width:300px;"></dd>
			</dl>
			<div class="clear"></div>

			<dl>
				<dt></dt>
				<dd style="padding-left: 120px;">
					<input type="checkbox" id="cookietime" name="cookietime" value="315360000" checked="">
					下次自动登录
					<a href="/forgot_password">忘记密码?</a>
					<a href="/sign_up"> <strong>立即注册</strong>
					</a>
				</dd>
			</dl>
			<div class="clear"></div>
			<input type="hidden" name="refer" value="http://www.kpkpw.com/index.php">
			<input type="hidden" name="formhash" value="39e56806">
			<p>
				<input name="loginsubmit" type="submit" value="提交" class="log_bottom"></p>
		</div>
	</form>
</div>