<div class="Login">
	<form id="registerform" name="registerform" action="do.php?ac=reg1314&amp;&amp;ref&amp;next=1" method="post" class="c_form">
		<div class="log_text">
			<dl>
				<dt>昵称:</dt>
				<dd>
					<input name="username" type="text" id="username" class="width_300 input02">
					&nbsp;
					<span style="color:red;">*</span>
					<p class="des">起个响亮的名字吧！据快拍统计82%的小友喜欢中文名！</p>
				</dd>
			</dl>
			<div class="clear"></div>
			<dl>
				<dt>密码:</dt>
				<dd>
					<input name="password" id="password" type="password" class="width_300 input02">
					&nbsp;
					<span style="color:red;">*</span>
				</dd>
			</dl>
			<div class="clear"></div>

			<dl>
				<dt>确认密码:</dt>
				<dd>
					<input name="password2" type="password" id="password2" class="width_300 input02">
					&nbsp;
					<span style="color:red;">*</span>
				</dd>
			</dl>
			<div class="clear"></div>

			<dl>
				<dt>手机:</dt>
				<dd>
					<input name="moblie" id="moblie" type="text" onkeyup="this.value=this.value.replace(/\D/g,'')" class="width_300 input02">
					&nbsp;
					<span style="color:red;">*</span>
					<p class="des">请准确填入您的手机号码，便于新闻核实、采访。</p>
				</dd>
			</dl>
			<div class="clear"></div>

			<dl>
				<dt>邮箱:</dt>
				<dd>
					<input name="email" id="email" type="text" class="width_300 input02">
					&nbsp;
					<span style="color:red;">*</span>
				</dd>
			</dl>
			<div class="clear"></div>

			<dl>
				<dt>所在地:</dt>
				<dd id="citybox">
					<script>
					showprovince('province', 'city', '', 'citybox');
					document.write('&nbsp;');
					showcity('city', '', 'province', 'citybox');
					</script>
				</dd>
			</dl>
			<div class="clear"></div>

			<input type="hidden" name="refer" value="space.php">
			<input type="hidden" name="formhash" value="39e56806">
			<p>
				<input name="registersubmit" type="submit" value="提交" id="reg01" class="log_bottom"></p>
		</div>
	</form>
</div>