<div class="row">
	<% @works.each do |work| %>
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<%= link_to image_tag(work.image.picture(:cover)), image_path(work.image_id) %>
				<div class="caption caption-border">
					来自:<%= link_to "##{work.event.name}#", event_path(work.event_id) %>
					<br>
					<span>
						<%= work.created_at.to_date %>
					</span>
				</div>
			</div>
		</div>
	<% end %>
</div>