<div class="row">
	<% @works.each do |work| %>
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<%= link_to image_tag(work.cover.picture(:cover)), work_path(work.id) %>
				<div class="caption caption-border">
					来自:<%= link_to "##{work.event.name}#", event_path(work.event_id) %>
					<br>
					<span>
						<%= humanize work.created_at %>
						共 <%= work.images.count %> 张图片
					</span>
				</div>
			</div>
		</div>
	<% end %>
</div>