<div class="row">
	<div class="col-md-2">
		<div class="list-group">
			<a href="javascript:void(0);" class="list-group-item">
				<i class="icon-globe"></i>
				全部动态
			</a>
			<a href="javascript:void(0);" class="list-group-item">
				<i class="icon-flag"></i>
				只看活动
			</a>
			<a href="javascript:void(0);" class="list-group-item">
				<i class="icon-camera"></i>
				只看作品
			</a>
			<a href="javascript:void(0);" class="list-group-item">
				<i class="icon-picture"></i>
				只看相册
			</a>
			<a href="javascript:void(0);" class="list-group-item">
				<i class="icon-eye-open"></i>
				我的关注
			</a>
			<a href="javascript:void(0);" class="list-group-item">
				<i class="icon-bookmark"></i>
				我的收藏
			</a>
			<a href="javascript:void(0);" class="list-group-item">
				<i class="icon-heart"></i>
				我的喜欢
			</a>
		</div>
	</div>
	<div class="col-md-7">hi</div>
	<div class="col-md-3">
		<div class="radbox">
			<div class="box_top">
				<span class="title light">推荐圈子</span>
			</div>
			<div class="box_con">
				<img src="http://pgdt.gtimg.cn/gdt/0/BAAAGPQAVBS3LXUvGhQSa.jpg/0?ck=a9ecbd609d1f09971d86db86f80574ec" alt="">
			</div>
		</div>
		<div class="radbox">
			<div class="box_top">
				<span class="title light">可能认识的人</span>
			</div>
			<div class="box_con">
				<img src="http://pgdt.gtimg.cn/gdt/0/BAAAGPQAVBS3LXUvGhQSa.jpg/0?ck=a9ecbd609d1f09971d86db86f80574ec" alt="">
			</div>
		</div>
		<div class="radbox">
			<div class="box_top">
				<span class="title light">可能认识的人</span>
			</div>
			<div class="box_con">
			   一群头像 
			</div>
		</div>
		<div class="radbox">
			<style>
			.nav-sm.nav-tabs > li > a, .nav-sm.nav-tabs > li.active > a{
				padding: 4px 6px;
				border: 0;
				font-size: 12px;
			}
			ul.nav-sm{
				border-bottom: 0;
			}
			ul.nav-sm{
				border-bottom: 0;
			}
			</style>
			<div class="box_top">
				<ul class="nav nav-tabs nav-sm">
					<li class="active">
						<a href="#">谁看过我</a>
					</li>
					<li>
						<a href="#">我看过谁</a>
					</li>
					<li>
						<a href="#">最近来访</a>
					</li>
				</ul>
				<!-- <span class="title light">可能认识的人</span> -->
			</div>
			<div class="box_con">
			   一群头像 
			</div>
		</div>
	</div>
</div>