<div class="col-sm-12 col-md-12">
	<h3 class="heading">群发站内信</h3>
	<form action="/admin/msg" class="simple_form form-horizontal" data-validate="true" id="sendmsg" method="post">
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
		<div class="form-group string optional content">
			<label class="file required col-sm-2 control-label" for="content">
				发送内容
			</label>
			<div class="col-sm-6 input-text-add">
				<textarea class="string required form-control" id="content" name="content" type="text" data-validate="true"></textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-8 col-sm-offset-2">
				<input type="submit" value="谨慎发送" class="btn btn-default">
			</div>
		</div>
	</form>
	<script>//<![CDATA[
if(window.ClientSideValidations===undefined)window.ClientSideValidations={};
window.ClientSideValidations.disabled_validators=[];
window.ClientSideValidations.number_format={"separator":".","delimiter":","};
if(window.ClientSideValidations.patterns===undefined)window.ClientSideValidations.patterns = {};window.ClientSideValidations.patterns.numericality=/^(-|\+)?(?:\d+|\d{1,3}(?:\,\d{3})+)(?:\.\d*)?$/;
if(window.ClientSideValidations.forms===undefined)window.ClientSideValidations.forms={};
window.ClientSideValidations.forms['sendmsg'] = {
	"type":"SimpleForm::FormBuilder",
	"error_class":"form-error-tip col-sm-4",
	"error_tag":"span",
	"wrapper_error_class":"has-error",
	"wrapper_tag":"div",
	"wrapper_class":"form-group",
	"wrapper":"bootstrap",
	"validators":{
		"content":{
			"presence":[{"message":"\u4e0d\u80fd\u4e3a\u7a7a"}]
		}
	}
};
//]]></script>
</div>