<div class="row">
    <div class="col-md-9">
        <div class="white-col-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h4>修改话题</h4>
                    </div>
                    <%= render 'form' %>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="radbox">
            <div class="box_con">
                <img src="http://pgdt.gtimg.cn/gdt/0/BAAAGPQAVBS3LXUvGhQSa.jpg/0?ck=a9ecbd609d1f09971d86db86f80574ec" alt="" style="width:100%;">
            </div>
        </div>
    </div>    
</div>
