<div class="row">
    <div class="col-md-9">
        <div class="page-header">
            <h4>发布话题</h4>
        </div>
        <%= render 'form' %>
    </div>
    <div class="col-md-3">
        <div class="radbox">
            <div class="box_top">
                <span class="title light">发布说明</span>
            </div>
            <div class="box_con">
                <ul style="margin-left: -20px;">
                    <li>支持 <a href="http://wowubuntu.com/markdown/">Markdown语法</a> 语法</li>
                    <li>非原创必须注明</li>
                    <!-- <li>支持表情，见<a href="http://www.emoji-cheat-sheet.com" target="_blank" rel="nofollow">Emoji cheat sheet</a></li> -->
                </ul>
            </div>
        </div>
    </div>
</div>
