.warrant-row {
	position: relative;
	height: 28px;
	line-height: 28px;
	color: #8f8f8f;
}
.warrant-row input{
	float: left;
	display: inline;
	margin-top: 8px;
	margin-right: 8px;
}
.warrant-row span {
	background: url(/images/warrant.png) no-repeat -3px 4px;
	width: 16px;
	height: 28px;
	float: left;
	display: inline;
	margin-right: 3px;
	font-size: 12px;
}
.warrant-row span.cc-1 {
	background-position: -37px 4px;
}
.warrant-row span.cc-2 {
	background-position: -20px 4px;
}
.warrant-row span.cc-3 {
	background-position: -54px 4px;
}
.warrant-row span.cc-5 {
	visibility: hidden;
}
.warrant-row span.cc-h {
	width: auto;
	height: auto;
	background: none;
	margin-left: 3px;
}
.admin .thumbnail:hover {border-color:#0088CC}
.admin .thumbnail .caption{
    padding: 0;
    color: #666;
    font-size: 12px;
    margin: 8px 4px 2px;
    overflow: hidden;
}