<div class="row">
	<h3 style="margin-bottom: 30px; font-weight: bold;"><%= @today.strftime("%Y年%m月%d日") + " 精选照片" %></h3>
	<%= render partial: 'thumb', collection: @choices, as: :photo %>
</div>
<%= will_paginate @choices %>