<% unless @event %>
<div class="input-group">
	<div class="input-group-btn">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			<span>选择活动</span>
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" id="events">
			<% @events.each do |event| %>
			<li>
				<%= link_to event.name, "#{event.id}", class: 'choose-event' %>
			</li>
			<% end %>
		</ul>
	</div>
	<input type="text" class="form-control" disabled id="event">
</div>
<% else %>
	<input type="text" class="form-control" disabled value="<%= @event.name %>" id="event">
<% end %>