<% if @event %>
<%= f.input_field :event_id, as: :string, readonly: true, value: @event.name %>
<input id="work-event-id" name="work_event_id" type="hidden" value="<%= @event.id %>">
<% else %>
<div class="input-group">
    <%= f.input_field :event_id, as: :string, readonly: true %>
    <input id="work-event-id" name="work_event_id" type="hidden">
    <span class="input-group-addon custom-modal">
        <i class="icon-flag"></i>
    </span>
</div>
<div class="modal fade" id="custom-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">选择活动</h4>
            </div>
            <div class="modal-body">
                <% Event.ongoing.each do |event| %>
                <%= link_to event.name, "javascript:choose_event(#{event.id}, '#{event.name}');" %>
                <% end %>
            </div>
        </div>
    </div>
</div>
<% end %>