<div class="row">
	<div class="col-md-12">
	<ul class="breadcrumb second-nav">
		<li>
			<a href="/g" class="">
				发现话题
			</a>
		</li>
		<li>
			<a href="/g/me" class="">
				我的圈子
			</a>
		</li>
		<li>
			<a href="/g/explore" class="">
				发现圈子
			</a>
		</li>
		<li>
			<a href="/g/publish" class="">
				发起的话题
			</a>
		</li>
		<li>
			<a href="/g/reply" class="">
				回应的话题
			</a>
		</li>
		<a href="/g/new" class="btn btn-xs btn-success pull-right" style="margin-right: -10px;">
			<i class="icon-group"></i>
			创建圈子
		</a>
	</ul>	
	</div>
</div>
