<div class="row">
    <div class="col-md-9">
        <div class="white-col-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h4>修改圈子</h4>
                    </div>
                    <%= render 'form' %>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="white-col-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h4>最新圈子</h4>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>