<%= render 'nav' %>
<style type="text/css">
.row{margin-left: 0;}
.table{margin-bottom: 20px;}
</style>
<div class="row">
	<div class="col-md-9">
		<h3>
			圈子话题
		</h3>
		<table class="table">
			<% 20.times do |i| %>
				<tr>
					<td><a href="">有菏泽学院的朋友么···</a></td>
					<td>52回应</td>
					<td><%= humanize(Time.now) %></td>
					<td><a href="">一起在北京过年</a></td>
				</tr>
			<% end %>
		</table>
		<ul class="pagination"><li class="previous_page disabled"><span>← Previous</span></li> <li class="active"><span rel="start">1</span></li> <li><a rel="next" href="javascript:void(0);">2</a></li> <li><a href="javascript:void(0);">3</a></li> <li><a href="javascript:void(0);">4</a></li> <li><a href="javascript:void(0);">5</a></li> <li><a href="javascript:void(0);">6</a></li> <li><a href="javascript:void(0);">7</a></li> <li><a href="javascript:void(0);">8</a></li> <li><a href="javascript:void(0);">9</a></li> <li><a href="javascript:void(0);">10</a></li> <li class="next_page"><a rel="next" href="javascript:void(0);">Next →</a></li></ul>
	</div>
	<div class="col-md-3">
		<div class="radbox">
			<div class="box_top">
				<span class="title light">推荐圈子</span>
			</div>
			<div class="box_con">
				<ul class="list-unstyled">
					<li><a href="/">Ruby</a></li>
					<li><a href="/">Mysql</a></li>
					<li><a href="/">MongoDB</a></li>
					<li><a href="/">JavaScript</a></li>
					<li><a href="/">JQuery</a></li>
					<li><a href="/">Phonegap</a></li>
					<li><a href="/">Titanium</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>