<div class="row">
    <div class="col-md-9">
        <div class="white-col-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                        <h4>创建圈子</h4>
                    </div>
                    <%= render 'form' %>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="radbox">
            <div class="box_top">
                <span class="title light">最新圈子</span>
            </div>
            <div class="box_con">
            </div>
        </div>
    </div>
</div>