<%= render "header" %>
<div class="row">
    <div class="col-md-12">
        <div class="row mp-photos" id="mp-photos">
            <div id="page_loading" page="1" state="static" url="<%= waterfall_photos_path(q: params[:q]) %>">
                <img src="/images/loading.gif">
                <span>加载中...</span>
            </div>
        </div>
    </div>
</div>