<div class="flexslider">
	<ul class="slides">
		<% Sbanner.all.each do |banner| %>
		<li>
			<% if banner.link.eql?('javascript:void(0);') %>
			<%= image_tag(banner.photo.url) %>
			<% else %>
			<%= link_to image_tag(banner.photo.url), banner.link, target: '_blank' %>
			<% end %>
			
		</li>
		<% end %>
	</ul>
</div>
<style>
	.flexslider{
		border: 0;
		/*margin-top:10px;*/
	}
</style>

<script type="text/javascript">
  $(function(){
	  $('.flexslider').flexslider({
		animation: "slide"
	  });
	});
</script>