<div class="flexslider">
	<ul class="slides">
		<% Sbanner.all.each do |banner| %>
		<li>
			<%= image_tag banner.photo.url %>
		</li>
		<% end %>
	</ul>
</div>
<style>
	.flexslider{
		border: 0;
		margin-top:10px;
	}
</style>

<script type="text/javascript">
  $(function(){
	  $('.flexslider').flexslider({
		animation: "slide"
	  });
	});
</script>