<div class="flexslider">
    <ul class="slides">
        <li>
            <img src="/images/slide1.jpg" />
        </li>
        <li>
            <img src="/images/slide2.jpg" />
        </li>
        <li>
            <img src="/images/slide3.jpg" />
        </li>
    </ul>
</div>
<style>
    .flexslider{
        border: 0;
        margin-top:10px;
    }
</style>

<script type="text/javascript">
  $(function(){
      $('.flexslider').flexslider({
        animation: "slide"
      });
    });
</script>