<div id="footer_bg">
	<%= render 'shared/to_top' %>
	<div id="footer">
		<a target="_blank" href="/sites/about.html">关于漫拍</a>
		<a target="_blank" href="/sites/contact.html">联系方式</a>
		<!-- <a target="_blank" href="/sites/link-out.html">对外合作</a> -->
		<a target="_blank" href="/sites/link.html">合作伙伴</a>
		<a target="_blank" href="/sites/mobile.html">手机客户端</a>
		<a target="_blank" href="/sites/job.html">招贤纳士</a>
		<a target="_blank" href="/sites/term.html">服务条款</a>
		<a target="_blank" href="/sites/private.html">隐私政策</a>
		<a target="_blank" href="/sites/feedback.html">问题建议</a>
		<br>
		Copyright © 2010-2014　山东漫拍文化发展有限公司
		<br>
		<!-- <a target="_blank" href="http://www.miibeian.gov.cn" class="font_cl">京ICP证000000号</a>
		京公网安备888888888888号
		<a class="footer_icon" target="_blank" href="http://www.hd315.gov.cn/beian/view.asp?bianhao=888888888888">
			<img src="/images/ga.gif">
		</a> -->
	</div>
</div>