<div id="footer">
	<p>
		<a href="http://www.kpkpw.com/space.php?do=news&amp;ac=view&amp;nid=6800" target="_blank">关于我们</a>
		|
		<a href="" target="_blank">常见问题</a>
		|
		<a href="http://www.kpkpw.com/space.php?do=news&amp;ac=view&amp;nid=12014" target="_blank">隐私政策</a>
		|
		<a href="http://www.kpkpw.com/space.php?do=news&amp;ac=view&amp;nid=11613" target="_blank">知识共享</a>
		|
		<a href="http://bbs.kpkpw.com/viewthread.php?tid=18551" target="_blank">手机客户端</a>
		|
		<a href="http://e.weibo.com/kpkpw" target="_blank">快拍微博</a>
		|
		<a href="http://ta.qq.com/?ADTAG=FROUM.FOOTER.CLICK.ICON" target="_blank">网站统计</a>
		<br>
		快拍快拍网版权所有 © 2010-2013  |
		<a href="http://www.miibeian.gov.cn" target="_blank">浙ICP备09096541号-3</a>
		<span style="color:#A9A9A9">
			技术支持:&nbsp;
			<a style="color:#A9A9A9" href="http://www.h800.com" target="_blank">莱恩科技</a>
			&nbsp; <b style="display:none"><script src="http://s96.cnzz.com/stat.php?id=2565686&amp;web_id=2565686" language="JavaScript"></script>
				<script src="http://c.cnzz.com/core.php?web_id=2565686&amp;t=z" charset="utf-8" type="text/javascript"></script>
				<a href="http://www.cnzz.com/stat/website.php?web_id=2565686" target="_blank" title="站长统计">站长统计</a></b> 
		</span>
	</p>
</div>