<div id="Header">

	<div class="Header_Logo">
		<a href="/" class="logo">
			<img src="images/logo.png">
		</a>
		<ul>
			<li class="drop-menu-effect">
				<a href="javascript:void(0);" class="lia" target="_self">活动</a>
				<ul class="submenu">

					<li>
						<a href="javascript:void(0);" target="_blank">快拍365</a>
					</li>

					<li>
						<a href="javascript:void(0);" target="_self">正在进行的活动</a>
					</li>

					<li>
						<a href="javascript:void(0);" target="_blank">快拍城市</a>
					</li>

					<li>
						<a href="javascript:void(0);" target="_self">年度活动</a>
					</li>

					<li>
						<a href="javascript:void(0);" target="_self">已经结束的活动</a>
					</li>
				</ul>
			</li>
			<li class="drop-menu-effect">
				<a href="javascript:void(0);" class="lia" target="_self">作品</a>
				<ul class="submenu">

					<li>
						<a href="javascript:void(0);" target="_self">编辑推荐</a>
					</li>

					<li>
						<a href="javascript:void(0);" target="_blank">每日精选</a>
					</li>

					<li>
						<a href="javascript:void(0);" target="_blank">每日快拍之星</a>
					</li>

					<li>
						<a href="javascript:void(0);" target="_blank">最新上传</a>
					</li>

					<li>
						<a href="javascript:void(0);" target="_self">热门作品</a>
					</li>
				</ul>
			</li>
			<li class="drop-menu-effect">
				<a href="javascript:void(0);" class="lia" target="_self">圈子</a>
				<ul class="submenu">

					<li>
						<a href="javascript:void(0);" target="_blank">我的圈子</a>
					</li>

					<li>
						<a href="javascript:void(0);" target="_blank">发现圈子</a>
					</li>

					<li>
						<a href="javascript:void(0);" target="_blank">发现话题</a>
					</li>
				</ul>
			</li>
			<li class="drop-menu-effect">
				<a href="javascript:void(0);" class="lia" target="_self">同城</a>
				<ul class="submenu">

					<li>
						<a href="javascript:void(0);" target="_blank">我的同城活动</a>
					</li>

					<li>
						<a href="javascript:void(0);" target="_blank">发现同城活动</a>
					</li>
				</ul>
			</li>
			<li class="drop-menu-effect">
				<a href="javascript:void(0);" class="lia" target="_self">推荐</a>
				<ul class="submenu">

					<li>
						<a href="javascript:void(0);" target="_blank">每天看世界最好的照片</a>
					</li>

					<li>
						<a href="javascript:void(0);" target="_blank">月月评</a>
					</li>

					<li>
						<a href="javascript:void(0);" target="_self">影展</a>
					</li>

					<li>
						<a href="javascript:void(0);" target="_self">娌娌访谈</a>
					</li>

					<li>
						<a href="javascript:void(0);" target="_blank">摄影师</a>
					</li>
				</ul>
			</li>
			<li class="drop-menu-effect">
				<a href="javascript:void(0);" class="lia" target="_blank">论坛</a>
				<ul class="submenu"></ul>
			</li>
		</ul>
	</div>
	<div class="Header_Site">
		<ul>
			<div id="login" style="display: none;">
				<li class="drop-menu-effect">
					<a href="javascript:void(0);" id="icon"></a>
					<ul class="submenu" style="opacity: 0;">
						<li id="newpm">
							<a href="javascript:void(0);">
								漫信
								<span style="color:red"></span>
							</a>
						</li>
						<li id="pokenum">
							<a href="javascript:void(0);">
								招呼
								<span style="color:red"></span>
							</a>
						</li>
						<li id="notnum">
							<a href="javascript:void(0);">
								通知
								<span style="color:red"></span>
							</a>
						</li>
					</ul>
				</li>
				<li class="logo drop-menu-effect">
					<div id="avatar">
						<a href="/u/1">
							<img src="http://uc.kpkpw.com/data/avatar/000/36/99/48_avatar_small.jpg">
						</a>
					</div>
					<ul class="submenu" style="opacity: 0;">
						<li>
							<a href="space.php">个人首页</a>
						</li>
						<li>
							<a href="cp.php?op=setting">基本资料</a>
						</li>
						<li>
							<a href="cp.php?ac=avatar&amp;op=setting&amp;type=head">头像设置</a>
						</li>
						<li>
							<a href="cp.php?op=setting&amp;type=pass">修改密码</a>
						</li>
						<li>
							<a href="cp.php?ac=link&amp;op=setting&amp;type=link">收藏链接</a>
						</li>
						<li>
							<a href="cp.php?ac=set&amp;op=setting&amp;type=set">偏好设定</a>
						</li>
						<li id="exit"><a href="/sign_out">退出</a></li>
					</ul>
				</li>
			</div>
			<div id="no_login" style="opacity: 1;">
				<li id="register">
					<a href="/sign_up">注册</a>
				</li>
				<li id="login_action">
					<a href="/sign_in">登录</a>
				</li>
			</div>
		</ul>
	</div>
	<!--动态消息-->
	<span class="notice" style="display:none;">
		<span> <b></b>
		</span>
	</span>

	<div class="search FR" id="uboxstyle">
		<form method="post" name="shform" id="shform" action="space.php">
			<div class="Header_Upload">
				<a href="cp.php?ac=actupload" class="a_photo">
					<img src="images/icon01.png">上传作品</a>
				<input name="keyword" type="text" class="input01" style="padding-left:0" id="search" value="" placeholder="搜索:作品">
				<input name="search" type="hidden" value="activity">
				<select id="do" class="selectsearch">
					<option value="activity">作品</option>
					<option value="activitylist">快拍活动</option>
					<option value="thread">圈子话题</option>
					<option value="mtag">快拍圈子</option>
					<option value="event">快拍同城</option>
					<option value="news">文章</option>
					<option value="friend">快拍小友</option>
					<option value="dailystar">每日快拍之星</option>
					<option value="bestphoto">每天最好照片</option>
				</select>
				<input type="submit" value="" class="button01"></div>
		</form>
	</div>
	<script>
		var data=$("#uboxstyle select").find("option").toArray();
		var doing='activity';
		html='<div id="select_do" class="select_box">'+
			'<div id="select_info_do" class="tag_select">作品</div>';
		html+='<ul id="options_do" class="tag_options" style="position: absolute; display: none; z-index: 999;">';
		$.each(data,function(i,n){
			if(doing==$(this).val()){
				html+='<li id="selected_do" class="open_selected" style="cursor: pointer;" name="'+$(this).val()+'">'+$(this).html()+'</li>';
			}else{
				html+='<li class="open" style="cursor: pointer;" name="'+$(this).val()+'">'+$(this).html()+'</li>';
			}
		});
		html+='</ul></div>';
		$("#do").hide().before(html);
$(function(){
$("#select_info_do").click(function(){
if($(this).attr("class")=='tag_select_open'){
$(this).removeClass().addClass('tag_select');
$("#options_do").hide();
}else{
$(this).removeClass().addClass('tag_select_open');
$("#options_do").show();
}
});
$("#uboxstyle").on('mouseover','.open',function(){
$(this).removeClass().addClass('open_hover');
});
$("#uboxstyle").on('mouseout','.open_hover',function(){
$(this).removeClass().addClass('open');
});
$("#options_do li").click(function(){
$('#select_info_do').text($(this).text()).removeClass('tag_select_open').addClass('tag_select');
$("#search").attr("placeholder","搜索:"+$(this).text());
$("#options_do").hide();
$(".open_selected").removeClass().addClass('open');
$(this).removeClass().addClass('open_selected');
$("input[name=search]").val($(this).attr("name"));
})
})

</script>

</div>