<div class="header">
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<%= link_to image_tag("/images/logo.png"), '/', class: 'navbar-brand', style: 'padding:0' %></div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="/">首页</a>
				</li>
				<li>
					<a href="#">动态</a>
				</li>
				<!-- <li>
					<a href="#">游记</a>
				</li> -->
				<li>
					<a href="/galleries">图库</a>
				</li>
				<li class="dropdown">
					<a href="/e" class="dropdown-toggle" data-toggle="dropdown">
						活动 <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">每日一拍</a>
						</li>
						<li>
							<a href="#">快拍城市</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#">我的同城</a>
						</li>
						<li>
							<a href="#">发现同城</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#">正在进行的活动</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#">已经结束的活动</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						作品 <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">编辑推荐</a>
						</li>
						<li>
							<a href="#">每日精选</a>
						</li>
						<li>
							<a href="#">最新上传</a>
						</li>
						<li>
							<a href="#">热门作品</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						推荐 <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">每天看世界最好的照片</a>
						</li>
						<li>
							<a href="#">月月评</a>
						</li>
						<li>
							<a href="#">影展</a>
						</li>
						<li>
							<a href="#">摄影师</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						圈子
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">我的圈子</a>
						</li>
						<li>
							<a href="#">发现圈子</a>
						</li>
						<li>
							<a href="#">发现话题</a>
						</li>
					</ul>
				</li>
			</ul>
			<form class="navbar-form navbar-left" style="width:300px">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="动态/图库/用户">
					<span class="input-group-btn">
						<button type="button" class="btn btn-default">
							<i class="icon-search"></i>
						</button>
					</span>
				</div>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="#">
						<!-- <i class="icon-picture"></i> -->
						<i class="icon-camera"></i>
						上传作品
					</a>
				</li>
				<li>
					<a href="#">登录</a>
				</li>
				<li>
					<a href="#">注册</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<%= image_tag("/images/avatar.jpg", class: 'avatar img-circle') %>
						朱晓武
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="/set/basic">
								<i class="icon-user"></i>
								主页
							</a>
						</li>
						<li>
							<a href="/set/basic">
								<i class="icon-cog"></i>
								设置
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon-eye-open"></i>
								关注
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon-envelope"></i>
								漫信
								<div class="pull-right">
									<span class="label label-success">752</span>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon-bullhorn"></i>
								通知
							</a>
						</li>
						<li class="disabled">
							<a href="#">
								<i class="icon-truck"></i>
								积分(暂未开通)
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#">
								<i class="icon-signin"></i>
								后台管理
							</a>
						</li>
						<li>
							<a href="#">
								<i class="icon-off"></i>
								退出
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
</div>