<div class="respond">
	<style type="text/css">
	.replywho{
		background-color: #e8eef2;
		display: none;
		padding: 10px 5px;
	}
	</style>
	<h5 id="replywho" class="replywho">
		回应:
		<small></small>
		<a href="javascript:void(0);" class="pull-right" id="link-remove"> <i class="icon-remove"></i>
		</a>
	</h5>
	<%= simple_form_for Comment.new, url: url, validate: true do |f| %>
		<input class="hidden" id="comment_reply_id" name="comment[reply_id]" type="hidden">
		<div class="form-group text comment_content">
			<div class="input-text-add">
				<%= f.input_field :content, as: :text %>
			</div>
		</div>
		<input style="width: 100px;" class="btn btn-primary pull-right btn-sm" name="commit" type="submit" value="回应">
	<% end %>
	<div class="clearfix"></div>
</div>
<style type="text/css">
.new_comment{
	margin: 0 5px;
}
.form-error-tip{
	position: absolute;
}
#comment_content{
	width: 97%;
	margin: 0 auto;
}
.form-group.comment_content{
	margin-bottom: 20px;
}
</style>