<a href="javascript:void(0);" class="float_to" id="toTop"><i class="icon-angle-up"></i></a>
<a target="_blank" href="/sites/feedback" class="float_to" id="feedBack"><i class="icon-edit"></i></a>
<script type="text/javascript">
$(function(){
  $(window).scroll(function () {
		// if($.browser.msie && $.browser.version == '6.0'){
		//   $('#toTop').css('top', $(this).scrollTop() + $(this).height() - 170);
		// }
		if($(window).scrollTop()=="0") {
			$("#toTop").fadeOut();
		}else {
			$("#toTop").fadeIn();
		}
	});
	$("#toTop").on("click", function(){
		$("html,body").animate({scrollTop:0},300);
		return false;
	});
});
</script>