<div class="row">
	<% @users.each do |user| %>
	<div class="col-sm-3 col-md-2">
		<div class="thumbnail">
			<%= link_to image_tag(user.avatar(:small)), 'javascript:void(0);' %>
			<div class="caption text-center">
				<%= link_to user.username, 'javascript:void(0);' %>
				<br>
				<%= link_to_follow user.id %>
			</div>
		</div>
	</div>
	<% end %>
</div>