<div class="row">
	<% @users.each do |user| %>
	<div class="col-sm-3 col-md-2">
		<div class="thumbnail">
			<%= link_to image_tag(user.avatar(:small)), 'javascript:void(0);' %>
			<div class="caption text-center">
				<%= link_to user.username, 'javascript:void(0);' %>
				<br>
				<%= link_to '取消关注', ajax_ufl_path('user', user.id), remote: true, method: :post, class: 'btn btn-success btn-xs folcal' %>
			</div>
		</div>
	</div>
	<% end %>
</div>
<%= will_paginate @users %>

<script type="text/javascript">
$(function(){
	$(".folcal").click(function(){
		$(this).parents(".col-md-2").fadeOut(function(){
			$(this).remove();
		});
	})
})
</script>