<div class="row mp-home-top">
	<div class="col-md-8">
		<!-- <div class="ad">
			<%#= image_tag '/images/ads/wfqmsyj.jpg', alt: '潍坊全民摄影节' %>
		</div> -->
		<%= render 'flexslider' %>
	</div>
	<div class="col-md-4 emphasis-topic">
		<div class="breadcrumb" style="margin-bottom:0px;">
			<span>每日重点</span>
		</div>
		<ul class="list-unstyled" style="margin: 10px 0 0 0;">
			<% Emphasis.where(cate: 0).limit(17).each do |em| %>
			<li>
				<%= link_to em.title, em.link, target: '_blank' %>
			</li>
			<% end %>
		</ul>
	</div>
</div>
<%= render "add_row" %>
<!-- <ul class="breadcrumb mp-ul-nav">
	<li>
		<a href="javascript:void(0);">
			<i class="icon-flag"></i>
			推荐活动
		</a>
	</li>
</ul>
<div class="row" style="margin: 10px -15px auto;">
	<%#= render partial: 'events/home_thumb', collection: Event.totop, as: :event %>
</div> -->

<ul class="breadcrumb mp-ul-nav">
	<li>
		<a href="/photos?order=news" style="color:orange;">
			<i class="icon-upload"></i>
			最新上传
		</a>
	</li>
	<li>
		<a href="/photos?order=choice">
			<i class="icon-time"></i>
			每日精选
		</a>
	</li>
	<li>
		<a href="/photos?order=push">
			<i class="icon-ok-circle"></i>
			编辑推荐
		</a>
	</li>
	<li>
		<a href="/photos?order=likes">
			<i class="icon-heart"></i>
			喜欢最多
		</a>
	</li>
	<li>
		<a href="/photos?order=hot">
			<i class="icon-comments"></i>
			评论最多
		</a>
	</li>
	<li>
		<a href="/photos?order=random">
			<i class="icon-random"></i>
			随机浏览
		</a>
	</li>
</ul>
<div class="row mp-photos">
	<%= render partial: 'photos/thumb', collection: Photo.where(parent_id: nil).limit(8).order('id desc'), as: :photo %>
</div>

<ul class="breadcrumb mp-ul-nav">
	<li>
		<a href="javascript:void(0);">
			<i class="icon-tag"></i>
			选择您最感兴趣的标签
		</a>
	</li>
</ul>

<div class="category_thumbs">
	<div class="row">
		<a class="category people" target="_blank" href="/photos?tag=人">
			<div class="overlay">
				<span>We like humans, too.</span>
			</div>
			<div class="gradient">
				<span class="name">人</span>
			</div>
		</a>
		<a class="category city-and-architecture" target="_blank" href="/photos?tag=城市建筑">
			<div class="overlay">
				<span>Beauty can be found in the everyday, the man-made.</span>
			</div>
			<div class="gradient">
				<span class="name">城市 &amp; 建筑</span>
			</div>
		</a>
		<a class="animals category last-child" target="_blank" href="/photos?tag=动物">
			<div class="overlay">
				<span>最好的时光是意外捕获.</span>
			</div>
			<div class="gradient">
				<span class="name">动物</span>
			</div>
		</a>
	</div>
	<div class="row">
		<a class="category landscapes" target="_blank" href="/photos?tag=风景">
			<div class="overlay">
				<span>从成千上万个像素，远闻到清新的空气.</span>
			</div>
			<div class="gradient">
				<span class="name">风景、山水</span>
			</div>
		</a>
		<a class="black-and-white category" target="_blank" href="/photos?tag=黑白">
			<div class="overlay">
				<span>摄影在其最纯粹的形式.</span>
			</div>
			<div class="gradient">
				<span class="name">黑白</span>
			</div>
		</a>
		<a class="category nature last-child" target="_blank" href="/photos?tag=自然">
			<div class="overlay">
				<span>自然情感的流露使得整个世界的亲属,远离北京才有.</span>
			</div>
			<div class="gradient">
				<span class="name">自然</span>
			</div>
		</a>
	</div>
	<div class="row">
		<a class="abstract category" target="_blank" href="/photos?tag=抽象">
			<div class="overlay">
				<span>不只是形状漂亮？反正小编欣赏不了</span>
			</div>
			<div class="gradient">
				<span class="name">抽象</span>
			</div>
		</a>
		<a class="category concert" target="_blank" href="/photos?tag=音乐会">
			<div class="overlay">
				<span>捕捉音乐的奇迹.</span>
			</div>
			<div class="gradient">
				<span class="name">音乐会</span>
			</div>
		</a>
		<a class="category macro last-child" target="_blank" href="/photos?tag=微距">
			<div class="overlay">
				<span>美在于细节.</span>
			</div>
			<div class="gradient">
				<span class="name">微距</span>
			</div>
		</a>
	</div>
</div>