<div class="row banner-row">
	<div class="col-md-9">
		<div class="ad">
			<img src="/images/ads/ad.jpg" alt="我的十大手机图片征集">
		</div>
		<%= render 'flexslider' %>
	</div>
	<div class="col-md-3">
		<div class="breadcrumb">
			<span>每日重点</span>
		</div>
		<div class="radbox">
			<div class="box_con">
				<ul class="list-unstyled">
					<% Topic.emphasis.order('id desc').limit(12).each do |topic| %>
						<li>
							<%= link_to topic.title, topic_path(topic.id) %>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<%= render partial: 'events/home_thumb', collection: Event.totop, as: :event %>
</div>

<ul class="breadcrumb mp-home">
	<li>
		<a href="/photos?order=news" style="color:orange;">
			<i class="icon-upload"></i>
			最新上传
		</a>
	</li>
	<li>
		<a href="/photos?order=likes">
			<i class="icon-heart"></i>
			喜欢最多
		</a>
	</li>
	<li>
		<a href="/photos?order=hot">
			<i class="icon-comments"></i>
			评论最多
		</a>
	</li>
	<li>
		<a href="/photos?order=push">
			<i class="icon-ok-circle"></i>
			编辑推荐
		</a>
	</li>
	<li>
		<a href="/photos?order=choice">
			<i class="icon-time"></i>
			每日精选
		</a>
	</li>
	<li>
		<a href="/photos?order=random">
			<i class="icon-random"></i>
			随机浏览
		</a>
	</li>
</ul>
<div class="row mp-photos">
	<%= render partial: 'photos/thumb', collection: Photo.limit(12).order('id desc'), as: :photo %>
</div>
<!-- <div class="row">
	<div class="col-md-12">
		<span class="pull-left home-tip-name">推荐</span>
		<ul class="nav nav-pills nav-filter">
			<li class="active">
				<a href="/#home-photographers" data-toggle="tab">摄影师</a>
			</li>
			<li>
				<a href="/#home-stars" data-toggle="tab">漫拍之星</a>
			</li>
		</ul>
	</div>
</div>
<div class="row home-tui-div tab-content">
	<div class="col-md-12 tab-pane fade in active" id="home-photographers">
		<%# User.where(photographer: true).order("updated_at desc").limit(24).each do |user| %>
			<%#= link_to image_tag(user.avatar(:small)), user_path(user), title: user.username %>
		<%# end %>
	</div>
	<div class="col-md-12 tab-pane fade" id="home-stars">
		<%# User.where(photographer: false).order("updated_at desc").limit(24).each do |user| %>
			<%#= link_to image_tag(user.avatar(:small)), user_path(user), title: user.username %>
		<%# end %>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<span class="pull-left home-tip-name">活动</span>
		<ul class="nav nav-pills nav-filter">
			<li class="dropdown">
				<a href="#" data-toggle="dropdown" class="dropdown-toggle">
					所有活动 <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<%# '上班途中 我的办公桌 宠物乐园 最喜欢的图片 我的第一台相机'.split(" ").each do |event| %>
					<li>
						<a class="home-search" href="/"><%#= event %></a>
					</li>
					<%# end %>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" data-toggle="dropdown" class="dropdown-toggle">
					所有图片 <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<%# '所有图片 编辑推荐 评论最多 最新上传'.split(" ").each do |type| %>
					<li>
						<a class="home-order" href="/"><%#= type %></a>
					</li>
					<%# end %>
				</ul>
			</li>
			<li>
				<a href="">
					选择日期 <i class="ttc icon-calendar"></i>
				</a>
			</li>
			
		</ul>
	</div>
</div> -->