<!-- <link href="http://t3.ihaveu.net/stylesheets/production/module.min.css?201407101751" rel="stylesheet" type="text/css"> -->
<!-- header -->
<header class="border_1px">
	<div class="ico_wrapper back_ico left hide">
		<span class="sprites">
			<em class="down_shadow"></em>
		</span>
	</div>
	<div class="title">漫拍网</div>
	<div class="ico_wrapper add_ico right hide">
		<span class="sprites"> <em class="down_shadow"></em>
		</span>
	</div>
	<!-- <div class="ico_wrapper edit_ico right hide">
		<span class="">
			编辑
			<em class="down_shadow"></em>
		</span>
		<span class="">
			完成
			<em class="down_shadow"></em>
		</span>
	</div> -->
	<div class="ico_wrapper info_ico right hide text">
		详情
		<em class="down_shadow"></em>
	</div>
	<div class="ico_wrapper filter_ico right hide">
		<span class="sprites">
			<em class="down_shadow"></em>
		</span>
	</div>
	<div class="ico_wrapper mode_ico right hide">
		<span class="sprites">
			<em class="down_shadow"></em>
		</span>
	</div>
	<div class="ico_wrapper search_ico right" data-href="/search">
		<span class="sprites">
			<em class="down_shadow"></em>
		</span>
	</div>
</header>
<!-- end header -->
<!--  end nav  -->
<div class="flyout-wrap">
	<a class="flyout-btn btn-rotate" href="javascript:void(0);" title="Toggle">
		<span>Menu</span>
	</a>
	<ul class="flyout expand">
		<li>
			<a href="#">
				<span>Item</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span>Item</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span>Item</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span>Item</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span>Item</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span>Item</span>
			</a>
		</li>
	</ul>
</div>
<script src="/pm/assets/main.js?body=1" type="text/javascript"></script>
<!-- app下载提示浮层 -->
<!-- <div class="app_tip" id="app">
	<div class="app_del left">
		<span class="sprites left"></span>
	</div>
	<span class="app_logo sprites"></span>
	<span class="app_name">
		优众手机APP
		<br>购物更方便</span>
	<div class="download_app right btn" data-href="http://m.ihaveu.com/cdn/android/ihaveu_latest.apk">下载</div>
</div> -->
<!-- 登录注册浮层 -->    
<div class="page_layer hide" id="login_register_layer">
	<div id="login_layer" class="hide">
		<div class="border_1px layer_head">
			<div class="ico_wrapper turnoff_ico left">
				<span class="sprites"> <em class="down_shadow"></em>
				</span>
			</div>
			<div class="title">登录</div>
		</div>
		<div class="login_box" style="max-height: 1040px;">
			<div class="wechat_zone clear_fix hide">
				<p>如果您已有优众账号，请直接登录。</p>
			</div>
			<form id="login" method="post">
				<div class="suffix_tip hide">
					<div class="tip_angle"></div>
					<span class="left">sina.com</span>
					<span class="left">qq.com</span>
					<span class="left">163.com</span>
					<span class="left">yahoo.com</span>
					<span class="left">126.com</span>
					<span class="left">sohu.com</span>
					<div class="clear"></div>
				</div>
				<p class="email read_in">
					<span class="left">账号</span>
					<input class="left" type="email" name="username" placeholder="邮箱或者手机号码">    
					<span class="clear_txt hide"> <em class="sprites"></em>
					</span>
				</p>
				<div class="clear"></div>
				<p></p>
				<p class="psd read_in">
					<span class="left">密码</span>
					<input class="left" type="password" name="password" placeholder="您的密码">    
					<span class="clear_txt hide">
						<em class="sprites"></em>
					</span>
				</p>
				<div class="clear"></div>
				<p></p>
				<div class="login_btn btn" id="login_submit">
					<span>登录</span>
					<div class="order_load">
						<div class="loading16">
							<div class="bar1"></div>
							<div class="bar2"></div>
							<div class="bar3"></div>
							<div class="bar4"></div>
							<div class="bar5"></div>
							<div class="bar6"></div>
							<div class="bar7"></div>
							<div class="bar8"></div>
						</div>
					</div>

				</div>
				<input type="submit" value="" class="register_submit"></form>
			<div class="wechat_zone clear_fix hide">
				<div class="division border_1px weixin"></div>
				<p>没有优众账号，请使用微信登录。</p>
				<div class="wechat_btn btn">
					<span>
						<em class="wechat_ico sprites"></em>
						微信快捷登录
					</span>
					<div class="order_load">
						<div class="loading16">
							<div class="bar1"></div>
							<div class="bar2"></div>
							<div class="bar3"></div>
							<div class="bar4"></div>
							<div class="bar5"></div>
							<div class="bar6"></div>
							<div class="bar7"></div>
							<div class="bar8"></div>
						</div>
					</div>

					<div class="down_shadow"></div>
				</div>
			</div>

			<!--[if !IE]>    
			-->
			<div class="register_zone clear_fix">
				<div class="division border_1px"></div>
				<p class="join_us">还没有优众账号？快来注册吧！</p>
				<div class="reg_btn btn">
					注册
					<div class="down_shadow"></div>
				</div>
			</div>
			<!--<![endif]--> </div>
	</div>
	<div id="register_layer" class="hide">
		<div class="border_1px layer_head">
			<div class="ico_wrapper turnoff_ico left">
				<span class="sprites">
					<em class="down_shadow"></em>
				</span>
			</div>
			<div class="title">注册</div>
		</div>
		<div class="register_box" style="max-height: 1040px;">
			<form id="register" method="post">
				<div class="suffix_tip hide">
					<div class="tip_angle"></div>
					<span class="left">sina.com</span>
					<span class="left">qq.com</span>
					<span class="left">163.com</span>
					<span class="left">yahoo.com</span>
					<span class="left">126.com</span>
					<span class="left">sohu.com</span>
					<div class="clear"></div>
				</div>
				<input type="hidden" id="account_client" name="account[client]" value="phone_web">    
				<p class="email read_in">
					<span class="left">邮箱</span>
					<input class="left" type="email" name="account[email]" placeholder="E-mail地址">    
					<em class="right hide right_ico sprites"></em>
					<span class="clear_txt hide">
						<em class="sprites"></em>
					</span>
				</p>
				<p class="read_in name">
					<span class="left">姓名</span>
					<input class="left" type="text" name="user[name]" placeholder="最多为20位字符">    
					<em class="right hide right_ico sprites"></em>
					<span class="clear_txt hide">
						<em class="sprites"></em>
					</span>
				</p>
				<p class="read_in psd">
					<span class="left">密码</span>
					<input class="left" type="password" name="account[password]" placeholder="6-20位字母、数字或符号">    
					<em class="right222 hide right_ico sprites"></em>
					<span class="clear_txt hide">
						<em class="sprites"></em>
					</span>
				</p>
				<p class="read_in rpsd">
					<span class="left">确认密码</span>
					<input class="left" type="password" name="account[password_confirmation]" placeholder="请重复输入您的密码">    
					<em class="right hide right_ico sprites"></em>
					<span class="clear_txt hide">
						<em class="sprites"></em>
					</span>
				</p>
				<p class="coupon read_in">
					<span class="left">推广码</span>
					<input class="left" type="text" name="coupon[code]" placeholder="选填">    
					<em class="right hide right_ico sprites"></em>
					<span class="clear_txt hide">
						<em class="sprites"></em>
					</span>
				</p>
				<p class="captcha_need hide read_in">
					<span class="left">验证码</span>
					<span class="captcha_content left loaded">
						<input class="left captcha_input" type="tel" name="captcha" placeholder="请输入4位数字">    
						<img class="left">    
						<span class="clear_txt hide">
							<em class="sprites"></em>
						</span>
					</span>
					<em class="right hide right_ico sprites"></em>
				</p>
				<div class="register_btn btn" id="register_submit">
					<span>注册并登录</span>
					<div class="order_load">
						<div class="loading16">
							<div class="bar1"></div>
							<div class="bar2"></div>
							<div class="bar3"></div>
							<div class="bar4"></div>
							<div class="bar5"></div>
							<div class="bar6"></div>
							<div class="bar7"></div>
							<div class="bar8"></div>
						</div>
					</div>

				</div>
				<input type="submit" value="" class="register_submit"></form>
			<!--[if !IE]>    
			-->
			<div class="division border_1px"></div>
			<p class="join_us">已有优众账号？立即登录</p>
			<div class="log_btn btn">
				登录
				<div class="down_shadow"></div>
			</div>
			<!--<![endif]--> </div>

	</div>
</div>
<!-- 添加地址页 -->    
<div class="page_layer hide" id="address_layer">
	<div class="address_layer">
		<div class="border_1px layer_head">
			<div class="ico_wrapper turnoff_ico left">
				<span class="sprites"> <em class="down_shadow"></em>
				</span>
			</div>
			<div class="title">添加地址</div>
		</div>
		<script type="text/javascript" src="http://t3.ihaveu.net/javascripts/production/area.min.js?201407101751"></script>
		<div class="address_box" style="max-height: 1040px;">
			<form id="address" method="post">
				<input type="hidden" name="contact[country]" value="中国">    
				<p class="read_in">
					<span class="left">收货人</span>
					<input class="left" id="name" type="text" name="contact[name]" placeholder="收货人姓名" data-msg="收件人不能为空">    
					<span class="clear_txt hide"> <em class="sprites"></em>
					</span>
					<em class="hide right_ico sprites"></em>
				</p>
				<div class="clear"></div>
				<p></p>
				<p class="read_in">
					<span class="left">联系电话</span>
					<input class="left tel" id="phone" type="tel" name="contact[mobile]" placeholder="有效的手机号码" data-msg="手机号码为1开头的11位数字">    
					<span class="clear_txt hide">
						<em class="sprites"></em>
					</span>
					<em class="hide right_ico sprites"></em>
				</p>
				<div class="clear"></div>
				<p></p>
				<p class="read_in">
					<span class="left">省份</span>
					<select class="left" type="text" name="contact[province]" id="province_select" data-msg="请选择省份">
						<option value="北京市">北京市</option>
						<option value="上海市">上海市</option>
						<option value="天津市">天津市</option>
						<option value="重庆市">重庆市</option>
						<option value="广东省">广东省</option>
						<option value="江苏省">江苏省</option>
						<option value="山东省">山东省</option>
						<option value="浙江省">浙江省</option>
						<option value="河南省">河南省</option>
						<option value="河北省">河北省</option>
						<option value="辽宁省">辽宁省</option>
						<option value="四川省">四川省</option>
						<option value="湖南省">湖南省</option>
						<option value="湖北省">湖北省</option>
						<option value="福建省">福建省</option>
						<option value="山西省">山西省</option>
						<option value="内蒙古自治区">内蒙古自治区</option>
						<option value="吉林省">吉林省</option>
						<option value="黑龙江省">黑龙江省</option>
						<option value="安徽省">安徽省</option>
						<option value="江西省">江西省</option>
						<option value="广西壮族自治区">广西壮族自治区</option>
						<option value="海南省">海南省</option>
						<option value="贵州省">贵州省</option>
						<option value="云南省">云南省</option>
						<option value="西藏自治区">西藏自治区</option>
						<option value="陕西省">陕西省</option>
						<option value="甘肃省">甘肃省</option>
						<option value="青海省">青海省</option>
						<option value="宁夏回族自治区">宁夏回族自治区</option>
						<option value="新疆维吾尔自治区">新疆维吾尔自治区</option>
					</select>
					<em class="right_ico sprites"></em>
				</p>
				<div class="clear"></div>
				<p></p>
				<p class="read_in">
					<span class="left">城市</span>
					<select class="left" type="text" name="contact[city]" id="city_select" data-msg="请选择城市">
						<option value="北京市">北京市</option>
					</select>
					<em class="right_ico sprites"></em>
				</p>
				<div class="clear"></div>
				<p></p>
				<p class="read_in">
					<span class="left">地区</span>
					<select class="left" type="text" name="contact[town]" id="area_select" data-msg="请选择地区">
						<option value="东城区">东城区</option>
						<option value="西城区">西城区</option>
						<option value="崇文区">崇文区</option>
						<option value="宣武区">宣武区</option>
						<option value="朝阳区">朝阳区</option>
						<option value="丰台区">丰台区</option>
						<option value="石景山区">石景山区</option>
						<option value="海淀区">海淀区</option>
						<option value="门头沟区">门头沟区</option>
						<option value="房山区">房山区</option>
						<option value="通州区">通州区</option>
						<option value="顺义区">顺义区</option>
						<option value="昌平区">昌平区</option>
						<option value="大兴区">大兴区</option>
						<option value="怀柔区">怀柔区</option>
						<option value="平谷区">平谷区</option>
						<option value="密云县">密云县</option>
						<option value="延庆县">延庆县</option>
					</select>
					<em class="right_ico sprites"></em>
				</p>
				<div class="clear"></div>
				<p></p>
				<p class="detail clear_fix read_in">
					<span class="left">详细地址</span>
					<textarea class="left address_txt" type="text" name="contact[address]" placeholder="收货地址" data-msg="详细地址不能为空"></textarea>
					<em class="hide right_ico sprites"></em>
				</p>
				<div class="clear"></div>
				<p></p>
				<p class="read_in">
					<span class="left">邮编</span>
					<input class="left" id="zipcode" type="text" name="contact[postcode]" placeholder="六位邮编数字" data-msg="6位邮编格式错误">    
					<span class="clear_txt hide">
						<em class="sprites"></em>
					</span>
					<em class="right_ico sprites"></em>
				</p>
				<div class="clear"></div>
				<p></p>
				<div class="affirm btn black_bg submit_order">
					<span>确定</span>
					<div class="order_load">
						<div class="loading16">
							<div class="bar1"></div>
							<div class="bar2"></div>
							<div class="bar3"></div>
							<div class="bar4"></div>
							<div class="bar5"></div>
							<div class="bar6"></div>
							<div class="bar7"></div>
							<div class="bar8"></div>
						</div>
					</div>

					<input type="submit" id="affirm" class="affirm_submit"></div>
			</form>
		</div>
	</div>
</div>
<!-- 筛选 -->
<div class="main" id="main">

</div>