<div class="body-title">
    <a href="/e" class="btn btn-default">全部活动</a>
    <a href="/e" class="btn btn-default">同城活动</a>
    <a href="/e" class="btn btn-default">默认活动</a>
    <a href="/e" class="btn btn-default">正在进行的活动</a>
    <a href="/e" class="btn btn-default">已结束的活动</a>
    <a href="/e" class="btn btn-success pull-right"><i class="icon-flag"></i>发起活动</a>
</div>
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="/e/1" class="thumbnail">
      <img src="/images/avatar.jpg">
    </a>
  </div>
</div>