<div <%= "page=#{@images.next_page}" if @images.next_page %>>
	<%= render partial: '/images/image', collection: @images, as: :image %>
	<%#= render partial: 'thumb', collection: @images, as: :image %>
</div>