.wrapper{
	background: white;
	margin: 40px auto;
	width: 90%;
	max-width: 1250px;
	overflow: hidden;
	border: 1px solid #ccc;
}
body{
	background: #f2f2f4 url(/sites/backgrounds/wood_pattern.png);
}
ul.icons {
	list-style-type: none;
	text-indent: -.75em;
}