<div id="register_layer" class="hide">
	<div class="border_1px layer_head">
		<div class="ico_wrapper turnoff_ico left">
			<span class="sprites">
				<em class="down_shadow"></em>
			</span>
		</div>
		<div class="title">注册</div>
	</div>
	<div class="register_box" style="max-height: 641px;">
		<form id="register" method="post">
			<div class="suffix_tip hide">
				<div class="tip_angle"></div>
				<span class="left">sina.com</span>
				<span class="left">qq.com</span>
				<span class="left">163.com</span>
				<span class="left">yahoo.com</span>
				<span class="left">126.com</span>
				<span class="left">sohu.com</span>
				<div class="clear"></div>
			</div>
			<input type="hidden" id="account_client" name="account[client]" value="phone_web">	
			<p class="email read_in">
				<span class="left">邮箱</span>
				<input class="left" type="email" name="account[email]" placeholder="E-mail地址">	
				<em class="right hide right_ico sprites"></em>
				<span class="clear_txt hide">
					<em class="sprites"></em>
				</span>
			</p>
			<p class="read_in name">
				<span class="left">姓名</span>
				<input class="left" type="text" name="user[name]" placeholder="最多为20位字符">	
				<em class="right hide right_ico sprites"></em>
				<span class="clear_txt hide">
					<em class="sprites"></em>
				</span>
			</p>
			<p class="read_in psd">
				<span class="left">密码</span>
				<input class="left" type="password" name="account[password]" placeholder="6-20位字母、数字或符号">	
				<em class="right222 hide right_ico sprites"></em>
				<span class="clear_txt hide">
					<em class="sprites"></em>
				</span>
			</p>
			<p class="read_in rpsd">
				<span class="left">确认密码</span>
				<input class="left" type="password" name="account[password_confirmation]" placeholder="请重复输入您的密码">	
				<em class="right hide right_ico sprites"></em>
				<span class="clear_txt hide">
					<em class="sprites"></em>
				</span>
			</p>
			<div class="register_btn btn" id="register_submit">
				<span>注册并登录</span>
				<div class="order_load hide">
					<div class="loading16">
						<div class="bar1"></div>
						<div class="bar2"></div>
						<div class="bar3"></div>
						<div class="bar4"></div>
						<div class="bar5"></div>
						<div class="bar6"></div>
						<div class="bar7"></div>
						<div class="bar8"></div>
					</div>
				</div>

			</div>
			<input type="submit" value="" class="register_submit"></form>
		<!--[if !IE]>-->
		<div class="division border_1px"></div>
		<p class="join_us">已有漫拍网账号？立即登录</p>
		<div class="log_btn btn">
			登录
			<div class="down_shadow"></div>
		</div>
		<!--<![endif]-->	
	</div>

</div>