<link rel="stylesheet" type="text/css" href="/uploadify/uploadify.css">
<link rel="stylesheet" type="text/css" href="/uploadify/jquery.imgareaselect.css" />
<script type="text/javascript" src="/uploadify/jquery.uploadify.js"></script>
<script type="text/javascript" src="/uploadify/jquery.imgareaselect.js"></script>
<script type="text/javascript" src="/uploadify/uploadify-avatar.js"></script>

<div class="row upload-row">
	<div class="col-md-5" style="border-right: 1px solid #ccc;min-height:300px;">
		<img class="s300" id="cut-area" src="/images/defaults/avatar.jpg">
	</div>
	<div class="col-md-7">
		<div class="row">
			<%= @current_user.username %>
			<p>您上传的图片将自动生成3种尺寸头像，请注意中小尺寸的头像是否清晰</p>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="review s200">
					<img class="s200" src="/images/defaults/avatar.jpg">
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="review s100">
						<img class="s100" src="/images/defaults/avatar.jpg">
					</div>
				</div>
				<div class="row" style="margin-top: 40px">
					<div class="review s50">
						<img class="s50" src="/images/defaults/avatar.jpg">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="upload-div" style="margin: 20px 0;">
	<input class="form-control" id="upload-file">
	<a href="javascript:void(0);" class="btn btn-default">完成</a>
</div>