<div id="pic_menu">
	<!-- 图片预览 -->
	<div class="pic_browser_wrap">
		<div class="preNext pre tst"></div>
		<div class="pic_browser" id="focus">
			<ul style="left: -225px; width: 975px;">
				<li class="browser no_more_pic">
					<div>No more photo</div>
				</li>
				<li class="browser">
					<a href="http://eput.com/photo/29292">
						<img src="upload/photos/2014/0518/limb/49b8cdc438c37c733ea51c41fadc77b0.jpg" alt="自娱自乐" height="70" width="70"></a>
				</li>
				<li class="browser">
					<a href="http://eput.com/photo/28595">
						<img src="upload/photos/2014/0513/limb/3570852a4f59981e3e05d589f82abf09.jpg" alt="他们的背影" height="70" width="70"></a>
				</li>
				<li class="browser">
					<a href="http://eput.com/photo/25542">
						<img src="upload/photos/2014/0428/limb/4ab588b921a98eadd057b99e75eff812.jpg" alt="空间" height="70" width="70"></a>
				</li>
				<li class="browser">
					<a href="http://eput.com/photo/20480">
						<img src="upload/photos/2014/0412/limb/a813c06a44942836453f5fc4c6cbd386.jpg" alt="建筑工人" height="70" width="70"></a>
				</li>
				<li class="browser" id="focus_bro">
					<a href="http://eput.com/photo/15211">
						<img src="upload/photos/2014/0228/limb/c6f93cefb46731eefca92991f767f581.jpg" alt="抚琴" height="70" width="70"></a>
				</li>
				<li class="browser">
					<a href="http://eput.com/photo/11059">
						<img src="upload/photos/2014/0118/limb/9cd309d65ff72b1770470f27f1792bf6.jpg" alt="养精蓄锐！" height="70" width="70"></a>
				</li>
				<li class="browser">
					<a href="http://eput.com/photo/9515">
						<img src="upload/photos/2013/1222/limb/5d953d1d6e45c963f688174b78c7f943.jpg" alt="梦境" height="70" width="70"></a>
				</li>
				<li class="browser">
					<a href="http://eput.com/photo/8935">
						<img src="upload/photos/2013/1205/limb/0fdb6c149c360231052a8a2160392c5e.jpg" alt="相随" height="70" width="70"></a>
				</li>
				<li class="browser">
					<a href="http://eput.com/photo/8199">
						<img src="upload/photos/2013/1121/limb/7b3f558cac15ff8d3a61189020c1e290.jpg" alt="Good morning!" height="70" width="70"></a>
				</li>
				<li class="browser">
					<a href="http://eput.com/photo/7288">
						<img src="upload/photos/2013/1103/limb/67d6bdd2fc704b7eaf7d6e445e830901.jpg" alt="一池秋水" height="70" width="70"></a>
				</li>
				<li class="browser">
					<a href="http://eput.com/photo/7170">
						<img src="upload/photos/2013/1101/limb/078baf2e76c0dcf1dc9235b5f88277e3.jpg" alt="秋色撩人" height="70" width="70"></a>
				</li>
				<li class="browser">
					<a href="http://eput.com/photo/7108">
						<img src="upload/photos/2013/1031/limb/db0846fca651848b52d57f51af90e584.jpg" alt="家园" height="70" width="70"></a>
				</li>
			</ul>
		</div>
		<div class="preNext next tst"></div>
		<div class="clear"></div>
	</div>

	<div class="description">
		<h2>作品描述</h2>
		<div class="hr_line"></div>
		<p>阿妈不是在工作，是在抚琴。那么优雅而从容～</p>
	</div>
	<!-- 图片预览 END -->
	<div class="exif_m">
		<h2>EXIF信息</h2>
		<div class="hr_line"></div>
		<div class="buy right tst">
			<a href="#"></a>
		</div>
		<div class="ex1 ex">
			<div class="ll">品牌：</div>
			<span>Canon</span>
			<div class="clear"></div>
		</div>
		<div class="ex2 ex">
			<div class="ll">型号：</div>
			<span>Canon EOS 5D Mark II</span>
			<div class="clear"></div>
		</div>
		<div class="ex3 ex">
			<div class="ll">焦距：</div>
			<span>16.0mm</span>
			<div class="clear"></div>
		</div>
		<div class="ex4 ex">
			<div class="ll">光圈：</div>
			<span>F3.6</span>
			<div class="clear"></div>
		</div>
		<div class="ex5 ex">
			<div class="ll">快门速度：</div>
			<span>1/215s</span>
			<div class="clear"></div>
		</div>
		<div class="ex6 ex">
			<div class="ll">ISO：</div>
			<span>1000</span>
			<div class="clear"></div>
		</div>
		<div class="ex7 ex">
			<div class="ll">曝光补偿：</div>
			<span>0.0EV</span>
			<div class="clear"></div>
		</div>
		<div class="ex8 ex">
			<div class="ll">拍摄时间：</div>
			<span>2014:02:11 12:50:51</span>
			<div class="clear"></div>
		</div>
		<div class="ex9 ex">
			<div class="ll">镜头：</div>
			<span>unknown data</span>
			<div class="clear"></div>
		</div>
	</div>
	<div class="pic_map exif_m">
		<h2>拍摄地点</h2>
		<a target="_blank" href="http://eput.com/photo/map?lat=0.000000000000000&amp;lng=0.000000000000000&amp;zoom=1">
			<div class="map_plagins">
				<img alt="拍摄地点" src="http://maps.googleapis.com/maps/api/staticmap?center=0.000000000000000,0.000000000000000&amp;zoom=1&amp;size=430x180&amp;maptype=roadmap&amp;markers=color:red%7Clabel:P%7C0.000000000000000,0.000000000000000&amp;sensor=false"></div>
		</a>
	</div>
	<div class="description purchase">
		<div class="thumb_wrap">
			<img src="upload/photos/2014/0228/limb/c6f93cefb46731eefca92991f767f581.jpg" alt="Eput 授权" width="150" height="150">
			<div class="cover"></div>
		</div>
		<div class="right">
			<p>我需要商业使用该图</p>
			<a href="http://eput.com/photo/authorize/AN050136636451?autype=2" target="_blank" title="授权">个人授权</a>
			<a href="http://eput.com/photo/authorize/AN050136636451?autype=1" target="_blank" title="授权">企业授权</a>
		</div>
		<div class="clear"></div>
	</div>
	<div class="pic_map">
		<p>支持键盘左右键“← →”翻页</p>
	</div>
</div>