<div id="pic_menu">
	<!-- 图片预览 -->
	
	<!-- 图片预览 -->
	<div class="description">
		<h2>作品描述</h2>
		<div class="hr_line"></div>
		<p>阿妈不是在工作，是在抚琴。那么优雅而从容～</p>
	</div>
	<!-- 图片预览 END -->
	<div class="exif_m">
		<h2>EXIF信息</h2>
		<div class="hr_line"></div>
		<div class="buy right tst">
			<a href="#"></a>
		</div>
		<div class="ex1 ex">
			<div class="ll">品牌：</div>
			<span>Canon</span>
			<div class="clear"></div>
		</div>
		<div class="ex2 ex">
			<div class="ll">型号：</div>
			<span>Canon EOS 5D Mark II</span>
			<div class="clear"></div>
		</div>
		<div class="ex3 ex">
			<div class="ll">焦距：</div>
			<span>16.0mm</span>
			<div class="clear"></div>
		</div>
		<div class="ex4 ex">
			<div class="ll">光圈：</div>
			<span>F3.6</span>
			<div class="clear"></div>
		</div>
		<div class="ex5 ex">
			<div class="ll">快门速度：</div>
			<span>1/215s</span>
			<div class="clear"></div>
		</div>
		<div class="ex6 ex">
			<div class="ll">ISO：</div>
			<span>1000</span>
			<div class="clear"></div>
		</div>
		<div class="ex7 ex">
			<div class="ll">曝光补偿：</div>
			<span>0.0EV</span>
			<div class="clear"></div>
		</div>
		<div class="ex8 ex">
			<div class="ll">拍摄时间：</div>
			<span>2014:02:11 12:50:51</span>
			<div class="clear"></div>
		</div>
		<div class="ex9 ex">
			<div class="ll">镜头：</div>
			<span>unknown data</span>
			<div class="clear"></div>
		</div>
	</div>
	<div class="pic_map exif_m">
		<h2>拍摄地点</h2>
		<a target="_blank" href="">
			<div class="map_plagins">
				<img alt="拍摄地点" src="">
			</div>
		</a>
	</div>
	<div class="description purchase">
		<div class="thumb_wrap">
			<img src="" alt="Eput 授权" width="150" height="150">
			<div class="cover"></div>
		</div>
		<div class="right">
			<p>我需要商业使用该图</p>
			<a href="" target="_blank" title="授权">个人授权</a>
			<a href="" target="_blank" title="授权">企业授权</a>
		</div>
		<div class="clear"></div>
	</div>
	<div class="pic_map">
		<p>支持键盘左右键“← →”翻页</p>
	</div>
</div>