<div class="group-upload-photo">
	<div class="row group-photo">
		<div class="col-md-6">
			<div class="form-group string optional photo_group_title">
				<label class="string optional col-sm-3 control-label" for="photo_group_title">组图标题(必填)</label>
				<div class="col-sm-9 input-text-add">
					<input class="string optional form-control" id="photo_group_title" name="photo[group][title]" size="50" type="text">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group text optional photo_group_desc">
				<label class="text optional col-sm-3 control-label" for="photo_group_desc">组图描述(必填)</label>
				<div class="col-sm-9 input-text-add">
					<textarea class="text optional form-control" cols="40" id="photo_group_desc" name="photo[group][desc]" rows="3"></textarea>
				</div>
			</div>
		</div>
	</div>
	<hr>
</div>