<div class="col-sm-6 col-md-3">
	<div class="thumbnail sidenav">
<ul class="main">
<li><a href="/popular" class="active" title="Popular Photos">Popular</a></li>
<li><a href="/fresh" class="" title="Fresh">Fresh</a></li>
<li><a href="/upcoming" class="" title="Upcoming Photos">Upcoming</a></li>
<li><a href="/editors" class="" title="Editors' Choice">Editors' Choice</a></li>
</ul>
<div class="sub clearfix">
<ul class="all">
<li>
<a class="active all_categories" href="?">All Categories</a>
</li>
</ul>
<div class="clear"></div>
<ul class="categories">
<li>
<a href="?categories=Abstract">Abstract</a>
</li>
<li>
<a href="?categories=Macro">Macro</a>
</li>
<li>
<a href="?categories=Animals">Animals</a>
</li>
<li>
<a href="?categories=Nature">Nature</a>
</li>
<li>
<a href="?categories=Black+and+White">Black and White</a>
</li>
<li>
<a href="?categories=People">People</a>
</li>
<li>
<a href="?categories=Celebrities">Celebrities</a>
</li>
<li>
<a href="?categories=Performing+Arts">Performing Arts</a>
</li>
<li>
<a href="?categories=City+%26+Architecture">City &amp; Architecture</a>
</li>
<li>
<a href="?categories=Sport">Sport</a>
</li>
<li>
<a href="?categories=Commercial">Commercial</a>
</li>
<li>
<a href="?categories=Still+Life">Still Life</a>
</li>
<li>
<a href="?categories=Concert">Concert</a>
</li>
<li>
<a href="?categories=Street">Street</a>
</li>
<li>
<a href="?categories=Family">Family</a>
</li>
<li>
<a href="?categories=Transportation">Transportation</a>
</li>
<li>
<a href="?categories=Fashion">Fashion</a>
</li>
<li>
<a href="?categories=Travel">Travel</a>
</li>
<li>
<a href="?categories=Film">Film</a>
</li>
<li>
<a href="?categories=Underwater">Underwater</a>
</li>
<li>
<a href="?categories=Fine+Art">Fine Art</a>
</li>
<li>
<a href="?categories=Urban+Exploration">Urban Exploration</a>
</li>
<li>
<a href="?categories=Food">Food</a>
</li>
<li>
<a href="?categories=Wedding">Wedding</a>
</li>
<li>
<a href="?categories=Journalism">Journalism</a>
</li>
<li>
<a href="?categories=Uncategorized">Uncategorized</a>
</li>
<li>
<a href="?categories=Landscapes">Landscapes</a>
</li>
</ul>
</div>
<div class="hint">
<span>?</span>
Shift+click to select multiple categories
</div>
</div>

</div>
<style type="text/css">
.sidenav{
	padding: 10px;
	background: #f7f8fa;
	-webkit-transition: opacity 0.2s 0.2s ease-in-out;
	transition: opacity 0.2s 0.2s ease-in-out;
}
.sidenav a{
	text-decoration: none;
}
</style>