<div class="col-sm-6 col-md-3 photo">
    <div class="thumbnail">
        <div class="buttons">
            <div class="shares">
                <a class="action share facebook"></a>
                <a class="action share twitter"></a>
                <a class="action share pinterest"></a>
            </div>
            <div class="states">
                <a class="action state like">
                    <span class="icon-heart"></span>
                    <span class="count">868</span>
                </a>
                <a class="action state star">
                    <span class="icon-star"></span>
                    <span class="count">20</span>
                </a>
            </div>
        </div>
        <%= link_to image_tag(photo.picture(:thumb), wh: photo.wh), photo_path(photo), target: '_blank' %>
        <div class="details">
            <div class="inside">
                <div class="info">
                    <a href="/">每日精选</a>
                    <a href="/">老照片</a>
                </div>
                <div class="title">
                    <!-- 如果有活动ID 就不应该显示活动了 -->
                    <% if photo.event_id %>
                        <%= link_to "##{photo.event.name}", event_path(photo.event), class: 'photo_title' %>
                    <% else %>
                        <%= link_to photo.user.username, user_path(photo.user), class: 'photo_title' %>
                    <% end %>
                </div>
                <div class="rating">99.8</div>
            </div>
        </div>
    </div>
</div>