<script type="text/javascript" src="/javascripts/masload.js?v=<%= Time.now.to_i %>"></script>
<div class="row" id="container">
	<%= render 'sidenav' %>
	<%= render partial: 'thumb', collection: @photos, as: :photo %>
	<div id="page_loading" page="2" state="static" url="<%= waterfall_photos_path(order: params[:order]) %>">
		<img src="/images/ajax-loader.gif">
		<span>加载中...</span>
	</div>
</div>
