<style type="text/css" src="/ok.css"></style>
<div class="uploader">
	<div class="file_input">
		<input class="upload" multiple="multiple" name="the-file" type="file">
	</div>
	<div class="photo-container">
		<div class="crop-tooltip">
			<p>Click and drag anywhere on your photo to set a crop size!</p>
		</div>
		<div class="active-photo-wrap" style="height: 235.5px;">
			<div class="loading-progress">
				<div class="progress-bar-wrap">
					<div class="ui progress-bar">
						<span class="area green" style="width: 100%;"></span>
						<span class="label"></span>
						<span class="percentage">
							<span class="value">100</span>
							<small>%</small>
						</span>
					</div>
				</div>
			</div>
			<div class="finish-progress">
				<div class="progress-bar-wrap">
					<div class="ui progress-bar">
						<span class="area" style="width: 0%;"></span>
						<span class="label"></span>
						<span class="percentage">
							<span class="value">0</span>
							<small>%</small>
						</span>
					</div>
				</div>
			</div>
			<div class="drag-info" style="display: table-cell;">
				<h1>Drag photos from your computer in here.</h1>
				<div class="action_buttons">
					<a class="button browse_files action" href="#">Choose photos</a>
					<h1 class="or">or</h1>
					<div class="import_files">
						<a class="button submit browse_filepicker" data-client-id="AoH3It6vRbuUEst8cJ30vz" href="#">Import</a>
					</div>

				</div>
			</div>
			<div class="active-photo"></div>
		</div>
		<div class="photo-reel">
			<div class="photos" style="left: 0px;"></div>
			<div class="previous-button"></div>
			<div class="next-button"></div>
		</div>
		<div class="photo-actions">
			<div class="remaining-photos">
				<p>
					You have 20 photos remaining to upload.
					<a href="/upgrade" target="_blank">Upgrade now</a>
					.
				</p>
			</div>
			<input class="button remove" type="submit" value="Remove">
			<input class="button submit" type="submit" value="Save &amp; Continue">
			<input class="button action finish" type="submit" value="Finish Upload"></div>
	</div>
	<div class="edit-container">
		<div class="photo-details disabled active">
			<div class="wrapper clearfix">
				<div class="exif">
					<h4 class="disabled">Title</h4>
					<label class="ui small-badge" for="photo-name">edit</label>
					<div class="photo-title">
						<input class="ui large-textfield bind-photo-name" data-bind="name" id="photo-name" name="name" placeholder="Untitled Image" type="text" disabled="disabled"></div>
					<div class="photo-category">
						<h4 class="disabled">Category</h4>
						<label class="ui select-label">
							<select class="ui select bind-photo-category" data-bind="category" id="photo-category" name="category" disabled="disabled">
								<option value="10">Abstract</option>
								<option value="11">Animals</option>
								<option value="5">Black and White</option>
								<option value="1">Celebrities</option>
								<option value="9">City &amp; Architecture</option>
								<option value="15">Commercial</option>
								<option value="16">Concert</option>
								<option value="20">Family</option>
								<option value="14">Fashion</option>
								<option value="2">Film</option>
								<option value="24">Fine Art</option>
								<option value="23">Food</option>
								<option value="3">Journalism</option>
								<option value="8">Landscapes</option>
								<option value="12">Macro</option>
								<option value="18">Nature</option>

								<option value="7">People</option>
								<option value="19">Performing Arts</option>
								<option value="17">Sport</option>
								<option value="6">Still Life</option>
								<option value="21">Street</option>
								<option value="26">Transportation</option>
								<option value="13">Travel</option>
								<option value="22">Underwater</option>
								<option value="27">Urban Exploration</option>
								<option value="25">Wedding</option>
								<option value="0">Uncategorized</option>
							</select>
							<span class="ui select-arrow"></span>
						</label>
					</div>
					<div class="place-photo">
						<h4 class="disabled">Place Photo In</h4>
						<div class="create_new_set_wrap">
							<label class="ui small-badge create-new-set" for="photo-create_new_set">Create New Set</label>
						</div>
						<div class="confirm_new_set_wrap">
							<label class="ui small-badge confirm-new-set active" for="photo-confirm_new_set">Create</label>
							<label class="ui small-badge next-badge cancel-new-set" for="photo-cancel_new_set">Cancel</label>
						</div>
						<div class="place_selection_creation_wrap">
							<div class="place_selection_wrap">
								<label class="ui select-label">
									<select class="ui select bind-photo-place_in" data-bind="place_in" id="photo-place_in" name="place_in" disabled="disabled">
										<option class="library" value="library">Library (private)</option>
										<option class="proifle" value="profile">Profile (public)</option>
										<optgroup class="profile_sets" label="Set"></optgroup>
										<optgroup class="portfolio_sets" label="Portfolio"></optgroup>
									</select>
									<span class="ui select-arrow"></span>
								</label>
							</div>
							<div class="set_name_field_wrap">
								<div class="set_name_field">
									<div class="error_wrap"></div>
									<input placeholder="Name your new set here..." type="text" disabled="disabled"></div>
								<div class="cf"></div>
							</div>
						</div>
					</div>
					<div class="photo-exif">
						<h4 class="disabled">
							<span class="translation_missing" title="translation missing: en.v3.upload.photo_details.exif">Exif</span>
						</h4>
						<div class="set_defaults_wrap">
							<label class="ui small-badge set-defaults" for="photo-set_default">Use these as default</label>
						</div>
						<div class="metadata">
							<div class="labels">
								<label>
									Camera
									<input class="ui small-invisible-textfield bind-photo-camera" data-bind="camera" id="photo-camera" name="camera" placeholder="Set Camera" type="text" disabled="disabled"></label>
								<label>
									Lens
									<input class="ui small-invisible-textfield bind-photo-lens" data-bind="lens" id="photo-lens" name="lens" placeholder="Set Lens" type="text" disabled="disabled"></label>
								<label>
									Focal Length
									<input class="ui small-invisible-textfield bind-photo-focal_length" data-bind="focal_length" id="photo-focal_length" name="focal_length" placeholder="Set Focal Length" type="text" disabled="disabled"></label>
								<label>
									Shutter Speed
									<input class="ui small-invisible-textfield bind-photo-shutter_speed" data-bind="shutter_speed" id="photo-shutter_speed" name="shutter_speed" placeholder="Set Shutter Speed" type="text" disabled="disabled"></label>
								<label>
									Aperture
									<input class="ui small-invisible-textfield bind-photo-aperture" data-bind="aperture" id="photo-aperture" name="aperture" placeholder="Set Aperture" type="text" disabled="disabled"></label>
								<label>
									ISO
									<input class="ui small-invisible-textfield bind-photo-iso" data-bind="iso" id="photo-iso" name="iso" placeholder="Set ISO" type="text" disabled="disabled"></label>
								<label>
									Taken
									<input class="ui small-invisible-textfield bind-photo-taken_at" data-bind="taken_at" id="photo-taken_at" name="taken_at" placeholder="Set Date (dd/mm/yyyy)" type="text" disabled="disabled"></label>
							</div>
						</div>
					</div>
				</div>
				<div class="description">
					<div class="description-field">
						<h4 class="disabled">Description</h4>
						<textarea class="ui textarea bind-photo-description" cols="70" data-bind="description" id="photo-description" name="description" placeholder="Enter a description for your beautiful photo" disabled="disabled"></textarea>
					</div>
					<div class="license-select">
						<h4 class="disabled">License</h4>
						<div class="license-icon photo-licenses_0"></div>
						<label class="ui select-label">
							<select class="ui select bind-photo-license_type" data-bind="license_type" id="photo-license_type" name="license_type" disabled="disabled">
								<option value="0">500px License</option>
								<option value="4">Attribution 3.0</option>
								<option value="5">Attribution-NoDerivs 3.0</option>
								<option value="6">Attribution-ShareAlike 3.0</option>
								<option value="1">Attribution-NonCommercial 3.0</option>
								<option value="2">Attribution-NonCommercial-NoDerivs 3.0</option>
								<option value="3">Attribution-NonCommercial-ShareAlike 3.0</option>
							</select>
							<span class="ui select-arrow"></span>
						</label>
					</div>
					<div class="tag-textfield">
						<h4 class="disabled">Tags</h4>
						<div class="tag-count"></div>
						<div class="tags_field_wrap">
							<div class="tags_input_wrap">
								<div class="tag_field">
									<input placeholder="Tag to make your photo easier to find..." type="text" disabled="disabled"></div>
							</div>
							<div class="cf"></div>
						</div>

					</div>
				</div>
				<div class="map">
					<div class="discoverability">
						<h4 class="disabled">Discoverability</h4>
						<p>Add metadata to improve your photo's discoverability.</p>
						<div class="progress_bar_wrap">
							<div class="ui progress-bar">
								<span class="area disabled animation_paused" style="width: 40%;"></span>
								<span class="label"></span>
								<span class="percentage">
									<span class="value">40</span>
									<small>%</small>
								</span>
							</div>
						</div>
					</div>
					<div class="adult_fresh_wrap clearfix">
						<div class="fresh_qualification_wrap">
							<div class="fresh_title_wrap">
								<h4 class="disabled">Publish to Fresh</h4>
								<div class="fresh_qualification_icon" style="display: none;">
									<div class="tooltip">
										<p>
											Fresh is where newly uploaded photos are displayed. To see your photo in this feed, be sure to add a title, category, and at least three tags to improve discoverability.
										</p>
									</div>
								</div>
							</div>
							<div class="fresh_details_wrap">
								<div class="fresh_private_warning">
									<label>This photo will be private.</label>
								</div>
								<div class="fresh_checklist">
									<div class="fresh_item_wrap">
										<div class="fresh_checkmark" id="title"></div>
										<label>Title</label>
									</div>
									<div class="fresh_item_wrap">
										<div class="fresh_checkmark" id="category"></div>
										<label>Category</label>
									</div>
									<div class="fresh_item_wrap">
										<div class="fresh_checkmark" id="tags"></div>
										<label>3 Tags</label>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="geotagging">
						<h4 class="disabled">Map</h4>
						<div class="map-wrapper">
							<div class="maplet disabled_map_image"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>