<div class="gallery">
    <div class="actions">
        <div class="pull-right">
            <a href="javascript:void(0);" class="btn btn-default">
                <i class="icon-thumbs-up"></i>
                赞
            </a>
            <a href="javascript:void(0);" class="btn btn-default">
                <i class="icon-heart"></i>
                喜欢
            </a>
        </div>
        <div class="pull-left">
            <a class="btn btn-default">
                <i class="icon-eye-open"></i>
                <span class="text">关注</span>
            </a>
        </div>
    </div>
    <a href="/pins/132707308/" class="item">
        <img src="/tmp/p<%= ga %>.jpeg"></a>
    <p class="description">
        苹果电脑30年产品收藏视频展示苹果电脑30年产品收藏视频展示苹果电脑30年产品收藏视频展示苹果电脑30年产品收藏视频展示苹果电脑30年产品收藏视频展示
    </p>
    <hr>
    <div class="author-gallery">
        <a href="/" class="user-link-mini pull-left"><img alt="" src="/images/avatar.jpg" class="avatar-mini img-circle"></a>
        <a href="/" class="author">朱晓武</a>
        上传于
        <div class="date">2013-01-01 10:30</div>
        <!-- <a href="" class="reply-icon">
            <i class="icon-comment-alt"></i>
        </a>
        <a href="" class="tags-icon">
            <i class="icon-tags"></i>
        </a> -->
    </div>
    <!-- <hr>
    <div class="author-gallery">
        <a href="" class="tag">每日一拍</a>
        <a href="" class="tag">编辑推荐</a>
    </div> 
    <hr>
    <div style="" class="author-gallery mini-comments">
        
    </div>
    <div style="" class="author-gallery">
        <a href="/" class="user-link-mini pull-left"><img alt="" src="/images/avatar.jpg" class="avatar-mini img-circle"></a>
        <form action="/pins/132707308/comments/" method="post" class="pull-left" style="margin: 0 0 10px 0;">
            <textarea placeholder="添加评论或把采集@给好友" class="form-control" style="padding: 5px;margin: 0 0 10px 0;width: 175px;height:50px;"></textarea>
            <a href="javascript" class="btn btn-success pull-right btn-sm">
                <span class="text">回应</span>
            </a>
        </form>
        <div class="clearfix"></div>
    </div> -->
</div>