<div class="gallery">
    <div class="actions fade-row">
        <div class="pull-right">
            <a href="javascript:void(0);" class="btn btn-default">
                <i class="icon-thumbs-up"></i>
                赞
            </a>
            <a href="javascript:void(0);" class="btn btn-default">
                <i class="icon-heart"></i>
                喜欢
            </a>
        </div>
        <div class="pull-left">
            <a class="btn btn-default">
                <i class="icon-eye-open"></i>
                <span class="text">关注</span>
            </a>
        </div>
    </div>
    <a href="/pins/132707308/">
        <img src="/tmp/p<%= ga %>.jpeg">
    </a>
    <!-- <hr>
    <div class="tags-gallery">
        <a href="" class="tag">每日一拍</a>
        <a href="" class="tag">编辑推荐</a>
        <a href="" class="tag">编辑推荐</a>
        <a href="" class="tag">编辑推荐</a>
    </div>
    <hr> -->
    <p class="description">
        苹果电脑30年产品收藏视频展示苹果电脑30年产
    </p>
    <hr>
    <div class="author-gallery">
        <a href="/" class="user-link-mini pull-left"><img alt="" src="/images/avatar.jpg" class="avatar-mini img-circle"></a>
        <a href="/" class="author">朱晓武</a>
        上传于
        <div class="date">2013-01-01 10:30</div>
        <a href="javascript:void(0);" class="reply-icon fade-row">
            <i class="icon-comment-alt"></i>
        </a>
        <a href="javascript:void(0);" class="tags-icon fade-row">
            <i class="icon-tags"></i>
        </a>
    </div>

</div>