<div class="row" style="background:white;margin-left:0;">
	<div class="col-md-5" style="border-right: 1px solid #F8F8F8;">
		<div style="margin-bottom:4px;">
			<a href="" class="user-link-big pull-left">
				<img src="/images/avatar.jpg" class="avatar-big img-circle">
			</a>
			<div class="profile-mini">
				<div>
					<a href="/qrfwwuw5pq/" class="author">SUNSHINE蜜糖</a>
				</div>
				<div class="link-outs">
					<div class="pin-count">
						<a href="/qrfwwuw5pq/pins/"> 
							<strong title="23270">23270</strong>
							<span>采集</span>
						</a>
					</div>
					<div class="board-count">
						<a href="/qrfwwuw5pq/pins/"> 
							<strong title="23270">23270</strong>
							<span>相册</span>
						</a>
					</div>
					<div class="follower-count">
						<a href="/qrfwwuw5pq/pins/"> 
							<strong title="23270">23270</strong>
							<span>粉丝</span>
						</a>
					</div>
				</div>
				<a href="/" class="btn btn-default">
					<i class="icon-eye-open"></i>
					关注
				</a>
			</div>
		</div>
		<p class="desc">网页设计，爱玩爱学习，对新事物很感兴趣，通过花瓣不断充实自己，愿自己与花瓣共同成长。</p>
		<a href="/binbinhudie" class="homepage">访问TA的主页</a>
	</div>
	<div class="col-md-7"></div>
</div>