<div class="galleries-title">
    <ul class="breadcrumb second-nav">
        <li>
            <a href="/galleries"> <i class="icon-align-justify"></i>
                全部
            </a>
        </li>
        <li>
            <a href="javascript:void(0);"> 
              <i class="icon-thumbs-up"></i>
              赞
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
              <i class="icon-heart"></i>
              喜欢
            </a>
        </li>
        <li>
            <a href="javascript:void(0);"> 
              <i class="icon-pushpin"></i>
              收藏
            </a>
        </li>
        <li>
            <a href="javascript:void(0);"> 
              <i class="icon-ok-circle"></i>
              推荐
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <i class="icon-comments"></i>
                热门作品
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <i class="icon-upload"></i>
                最新上传
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <i class="icon-time"></i>
                每日精选
            </a>
        </li>
        <li>
            <a href="javascript:void(0);"> 
              <i class="icon-star"></i>
              漫拍之星
            </a>
        </li>
        <li>
            <a href="/galleries?tag=users">
                <i class="icon-user"></i>
                用户
            </a>
        </li>
    </ul>
</div>
<div class="btn-group share-group">
    <a href="" class="link-weibo btn btn-default">
        <i class="share-i share-weibo"></i>
    </a>
    <a href="" class="link-qzone btn btn-default">
        <i class="share-i share-qzone"></i>
    </a>
    <a href="" class="link-qqmp btn btn-default">
        <i class="share-i share-qqmp"></i>
    </a>
    <a href="" class="link-qq btn btn-default">
        <i class="share-i share-qq"></i>
    </a>
    <a href="" class="link-douban btn btn-default">
        <i class="share-i share-douban"></i>
    </a>
    <a href="" class="link-rr btn btn-default">
        <i class="share-i share-rr"></i>
    </a>
</div>
<div class="btn-group-vertical share-group">
    <a href="" class="link-weibo btn btn-default">
        <i class="share-i share-weibo"></i>
    </a>
    <a href="" class="link-qzone btn btn-default">
        <i class="share-i share-qzone"></i>
    </a>
    <a href="" class="link-qqmp btn btn-default">
        <i class="share-i share-qqmp"></i>
    </a>
    <a href="" class="link-qq btn btn-default">
        <i class="share-i share-qq"></i>
    </a>
    <a href="" class="link-douban btn btn-default">
        <i class="share-i share-douban"></i>
    </a>
    <a href="" class="link-rr btn btn-default">
        <i class="share-i share-rr"></i>
    </a>
</div>
<%= render params[:tag] || 'images' %>