<div class="galleries-title">
    <ul class="breadcrumb second-nav">
        <li>
            <a href="/galleries"> <i class="icon-align-justify"></i>
                全部
            </a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-flag"></i>
                活动 <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#">编辑推荐</a>
                </li>
                <li>
                    <a href="#">每日精选</a>
                </li>
                <li>
                    <a href="#">最新上传</a>
                </li>
                <li>
                    <a href="#">热门作品</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-group"></i>
                圈子
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#">圈子1</a>
                </li>
                <li>
                    <a href="#">圈子2</a>
                </li>
                <li>
                    <a href="#">最新上传</a>
                </li>
                <li>
                    <a href="#">热门作品</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/galleries">
                <i class="icon-thumbs-up"></i>
                推荐
            </a>
        </li>
        <li>
            <a href="/galleries">
                <i class="icon-road"></i>
                游记
            </a>
        </li>
        <li>
            <a href="/galleries?tag=users">
                <i class="icon-user"></i>
                用户
            </a>
        </li>
    </ul>
</div>
<div class="btn-group share-group">
    <a href="" class="link-weibo btn btn-default">
        <i class="share-i share-weibo"></i>
    </a>
    <a href="" class="link-qzone btn btn-default">
        <i class="share-i share-qzone"></i>
    </a>
    <a href="" class="link-qqmp btn btn-default">
        <i class="share-i share-qqmp"></i>
    </a>
    <a href="" class="link-qq btn btn-default">
        <i class="share-i share-qq"></i>
    </a>
    <a href="" class="link-douban btn btn-default">
        <i class="share-i share-douban"></i>
    </a>
    <a href="" class="link-rr btn btn-default">
        <i class="share-i share-rr"></i>
    </a>
</div>
<div class="btn-group-vertical share-group">
    <a href="" class="link-weibo btn btn-default">
        <i class="share-i share-weibo"></i>
    </a>
    <a href="" class="link-qzone btn btn-default">
        <i class="share-i share-qzone"></i>
    </a>
    <a href="" class="link-qqmp btn btn-default">
        <i class="share-i share-qqmp"></i>
    </a>
    <a href="" class="link-qq btn btn-default">
        <i class="share-i share-qq"></i>
    </a>
    <a href="" class="link-douban btn btn-default">
        <i class="share-i share-douban"></i>
    </a>
    <a href="" class="link-rr btn btn-default">
        <i class="share-i share-rr"></i>
    </a>
</div>
<%= render params[:tag] || 'pics' %>