.modal-dialog{margin: 100px auto;}
.modal-header {background:#e4e4e4;border-color:#d4d4d4;padding:5px 15px}
.modal-header .close {margin-top:3px}
.modal-footer {padding:7px 15px 8px}
.modal-content {border:8px solid rgba(0, 0, 0, 0.5);-webkit-box-shadow: none;-moz-box-shadow: none;-ms-box-shadow: none;box-shadow: none}
.modal-body{padding:20px 15px}
.modal-backdrop, .modal-backdrop.fade.in {opacity:.1;background:#777}
body{
	background: transparent url("/images/body01.jpg");
}
textarea.form-control{
    height: 80px;
    margin-bottom: 10px;
}
form .form-control, form .btn{
    border-radius: 0;
}
.form-group{
    margin-bottom: 0;
    min-height: 60px;
}
.help-block {
    margin: 0;
    font-size: 12px;
}
.main-tip{
	margin: 10px auto 0;
}
.alert{
    margin-bottom: 10px;
}
.main > .row > .col-md-9{
	background: white;
}

.profile-mini{
    display: inline-block;
}
.link-outs{
    margin-top: 6px;
}
.link-outs .pin-count{
    padding-left: 0;
    border-left: 0;
}
.link-outs > div{
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid #E8E8E8;
}
.link-outs strong, .link-outs span{
    display: block;
}
.gray-desc{
    background-color: #f5f5f5;
    font-size: 12px;
    color: #A7A7A7;
    margin-top: 10px;
    padding: 4px;
}
.breadcrumb {
	border-radius: 0;
    margin-bottom: 0;
}
.header{
	height: 50px;
}
.header .avatar{
	margin: -15px 24px 0 0;
}
.avatar-mini{
    width: 34px;
    height: 34px;
}
.avatar-big{
    width: 75px;
    height: 75px;
}
.avatar{
	width: 50px;
	height: 50px;
	float: left;
}
.author-mini{
    font-size: 10px;
}
.header > .navbar{
	padding: 0 20px;
}

.navbar-default{
	background: #26292e;
}
.navbar-default .navbar-nav > li > a{
	color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background: #3a3f46;
	color: #f78927;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f78927;
  /*background-color: transparent;*/
  background: #3a3f46;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background: #3a3f46;
	color: #f78927;
}
hr{
	margin: 10px auto;
}
.opt-b {
	margin: 0 30px 0 0;
    color: #959da6;
    font-weight: bold;
}
.media .date {
	color: #959da6;
    font-size: 12px;
}

.media .reply-link{
    font-size: 12px;
}
.media p{
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 6px;
}
.media .reply-content{
    border-bottom: 1px solid #e8ecf0;
}
.box_con .media p{
    padding-bottom: 0;
}

.respond{
	margin: 20px 0;
}


#footer_bg {
    margin-top: 20px; 
    background: #43403F;
    padding: 5px 0px;
    border-top: 1px solid #5B5958;
    font-size: 12px;
    color: #999999;
}
#footer {
    width: 700px;
    text-align: center;
    margin: 15px auto;
    line-height: 30px;
    color: #999999;
    position: relative;
    _margin-bottom: 0px;
}
#footer a, #footer a:visited {
    color: #CCCCCC;
    padding: 0px 7px;
}
#footer .footer_icon {
    width: 34px;
    height: 42px;
    position: absolute;
    right: 89px;
    top: 40px;
    _right: 100px;
}
.float_to{
	position: fixed;
	z-index: 50;
	right: 20px;
	display: none;
	width: 45px;
	height: 41px;
	background: #a1aab3;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	font-size: 0;
	color: transparent;
}
#feedBack{
	bottom: 25px;
	display: inline;
}
#toTop {
	bottom: 75px;
}
.float_to i:before {
	color: #fff !important;
	font-size: 28px;
	top: 5px;
	left: 13px;
	position: relative;
}
#feedBack i:before {
	top: 8px;
	left: 10px;
}
.float_to:hover {
	background: #405b7f;
	text-decoration: none;
}

.pic{
    position: relative;
    width: 100%;
    height: 100%;
    background: #f1f1f1;
}
.radbox{
    background-color: #fff;
    margin-bottom: 20px;
}
.box_top{
    border-bottom: 1px solid #e2e2e2;
    padding: 10px;
}
.radbox .title {
    color: #acacac;
    font-size: 14px;
    font-weight: bold;
}
.box_con{
    padding: 10px;
}
.tag:before{
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent #e1e1e6 transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
}
.tag:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    float: left;
    width: 4px;
    height: 4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    -webkit-box-shadow: -1px -1px 2px #bbbbc5;
    -moz-box-shadow: -1px -1px 2px #bbbbc5;
    box-shadow: -1px -1px 2px #bbbbc5;
}
.tag:hover {
    background-color: #567189;
    color: white;
    text-shadow: none;
}
.tag:hover:before {
    border-color: transparent #567189 transparent transparent;
}
.tag{
    margin: 0 5px 5px 10px;
    padding: 0 10px;
    background: #e1e1e6;
    text-decoration: none;
    text-shadow: 1px 1px 0px #fff;
    box-shadow: 1px 1px 1px rgba(119, 119, 119, 0.5);
    display: inline-block;
    height: 24px;
    line-height: 24px;
    position: relative;
    font-size: 10px;
}
.page-header{
    margin: 20px 0;
    padding-bottom: 0;
}
.header-tip{
    font-size: 16px;
    display: block;
    margin-left: 20px;
}
.has-error .form-error-tip{
    color: #a94442;
}
.form-error-tip{
    margin: 6px 0 0 0;
}
.mp-page {
    margin: 20px 0;
    list-style: none;
}
.share-i{
    width: 18px;
    height: 18px;
    display: block;
    background: url(/images/share_icon.png) 0 0 no-repeat;
}
.link-weibo:hover .share-i{
    background-position: -40px 0;
}
.link-qzone:hover .share-i{
    background-position: -40px -40px;
}
.link-qqmp:hover .share-i{
    background-position: -40px -80px;
}
.link-qq:hover .share-i{
    background-position: -40px -160px;
}
.link-douban:hover .share-i{
    background-position: -40px -200px;
}
.link-rr:hover .share-i{
    background-position: -40px -240px;
}
.link-weibo .share-i{
    background-position: 0 0;
}
.link-qzone .share-i{
    background-position: 0 -40px;
}
.link-qqmp .share-i{
    background-position: 0 -80px;
}
.link-qq .share-i{
    background-position: 0 -160px;
}
.link-douban .share-i{
    background-position: 0 -200px;
}
.link-rr .share-i{
    background-position: 0 -240px;
}
.logo{
    width: 140px;
    height: 50px;
    float: left;
    margin-top: 10px;
    background: url(/images/logo.png) no-repeat;
}
.sign-form{
    float: right;
    margin: 90px 20px 0 0;
    background: white;
    padding: 10px;
    min-width: 320px;
}
.login-button{
    display: block;
    width: 114px;
    height: 36px;
    background: url(/images/outh-login.png) left top no-repeat;
    text-indent: -999999px;
}
form.sign-form .table{
    margin-bottom: 0;
}
form.sign-form .table > tbody > tr > td{
    padding: 0;
    border-top: 0;
}
a.weibo:hover {
    background-position: -456px -40px;
}
a.weibo {
    background-position: -456px 0;
}
a.douban:hover {
    background-position: -228px -40px;
}
a.douban {
    background-position: -228px 0;
}
a.renren:hover {
    background-position: 0 -40px;
}
a.renren {
    background-position: 0 0;
}
a.qzone:hover {
    background-position: -342px -40px;
}
a.qzone {
    background-position: -342px 0;
}
.upload-row{
    border-bottom: 1px solid #ccc;
}
.upload-row > div{
    text-align: center;
}
.s300{
    max-width: 300px;
    max-height: 300px;
}
.s260{
    width: 260px;
    height: 260px;
}
.s200{
    width: 200px;
    height: 200px;
}
.s100{
    width: 100px;
    height: 100px;
}
.s50{
    width: 50px;
    height: 50px;
}
.review{
    position: relative;
    overflow: hidden;
}
.review img{
    position: relative;
}
.item img{
    width: 236px;
}
.thumbnail {
    display: block;
    padding: 0;
    margin-bottom: 10px;
    line-height: 1.428571429;
    background-color: #ffffff;
    border: 0;
    border-radius: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.thumbnail .caption{
    padding: 4px;
}
.caption-border{
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.once-desc{
    width: 100%;
    height:40px;
    margin: 6px auto;
}
/*.thumbnail > img, .thumbnail a > img{
    width: 100%;
}*/
.thumbnail > a > img{
    width: 100%;
}
.caption h5{
    font-size: 15px;
}
.caption{
    font-size: 12px;
}
.caption span{
    color: #ccc;
}
.second-nav{
    margin-bottom: 6px;
    background-color: white;
}
.second-nav a{
    text-decoration: none;
}