body{
	background: transparent url("/images/body01.jpg");
}
textarea.form-control{
    height: 80px;
    margin-bottom: 10px;
}
form .form-control, form .btn{
    border-radius: 0;
}
.form-group{
    margin-bottom: 0;
    min-height: 60px;
}
.help-block {
    margin: 0;
    font-size: 12px;
}
.main-tip{
	margin: 10px auto;
}
.main > .row > .col-md-9{
	background: white;
}
.main > .row > .col-md-3{
	padding-right: 0;
}
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5{
    padding: 10px;
}
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7{
    padding: 10px;
}
.breadcrumb {
	background-color: white;
	border-radius: 0;
    margin-bottom: 0;
}
.row{
	margin: 0;
}
.header{
	height: 50px;
}
.header .avatar{
	margin: -15px 24px 0 0;
}
.avatar-mini{
    width: 34px;
    height: 34px;
}
.avatar-big{
    width: 75px;
    height: 75px;
}
.avatar{
	width: 50px;
	height: 50px;
	float: left;
}
.header > .navbar{
	padding: 0 20px;
}

.navbar-default{
	background: #26292e;
}
.navbar-default .navbar-nav > li > a{
	color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background: #3a3f46;
	color: #f78927;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f78927;
  /*background-color: transparent;*/
  background: #3a3f46;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background: #3a3f46;
	color: #f78927;
}
hr{
	margin: 10px auto;
}
.pic{
	width: 100%;
	height: 100%;
	background: #f1f1f1;
}
.opt-b {
	margin: 0 30px 0 0;
    color: #959da6;
    font-weight: bold;
}
.light {
	color: #959da6;
	font-size: 16px;
	text-transform: uppercase;
}
.media-heading{
    font-size: 14px;
}
.media .date {
	color: #959da6;
    font-size: 12px;
}

.media .reply-link{
    font-size: 12px;
}
.media p{
    font-size: 13px;
    line-height: 21px;
    padding-bottom: 10px;
}
.media .reply-content{
    border-bottom: 1px solid #e8ecf0;
}
.box_con .media p{
    padding-bottom: 0;
}

.respond{
	margin: 20px 0;
}


#footer_bg {
    margin-top: 20px; 
    background: #43403F;
    padding: 5px 0px;
    border-top: 1px solid #5B5958;
    font-size: 12px;
    color: #999999;
}
#footer {
    width: 700px;
    text-align: center;
    margin: 15px auto;
    line-height: 30px;
    color: #999999;
    position: relative;
    _margin-bottom: 0px;
}
#footer a, #footer a:visited {
    color: #CCCCCC;
    padding: 0px 7px;
}
#footer .footer_icon {
    width: 34px;
    height: 42px;
    position: absolute;
    right: 89px;
    top: 40px;
    _right: 100px;
}
.float_to{
	position: fixed;
	z-index: 50;
	right: 20px;
	display: none;
	width: 45px;
	height: 41px;
	background: #a1aab3;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	font-size: 0;
	color: transparent;
}
#feedBack{
	bottom: 25px;
	display: inline;
}
#toTop {
	bottom: 75px;
}
.float_to i:before {
	color: #fff !important;
	font-size: 28px;
	top: 5px;
	left: 13px;
	position: relative;
}
#feedBack i:before {
	top: 8px;
	left: 10px;
}
.float_to:hover {
	background: #405b7f;
	text-decoration: none;
}

.pic{
    position: relative;
}
.pic > div{
    width: 40%;
    height: 40%;
    position: absolute;
    cursor: pointer;
}
.pic .pic-top{
    left: 0;
    top: 0;
}
.pic .pic-right{
    top:0;
    right: 0;
}
.pic .pic-bottom{
    right: 0;
    bottom: 0;
}
.pic .pic-left{
    left: 0;
    bottom: 0;
}
.radbox{
    background-color: #fff;
    margin-bottom: 20px;
}
.box_top{
    border-bottom: 1px solid #e2e2e2;
    padding: 10px;
}
.radbox .title {
    color: #acacac;
    font-size: 14px;
    font-weight: bold;
}
.box_con{
    padding: 10px;
}
a.tag:before{
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent #e1e1e6 transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
}
a.tag:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    float: left;
    width: 4px;
    height: 4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    -webkit-box-shadow: -1px -1px 2px #bbbbc5;
    -moz-box-shadow: -1px -1px 2px #bbbbc5;
    box-shadow: -1px -1px 2px #bbbbc5;
}
a.tag:hover {
    background-color: #567189;
    color: white;
    text-shadow: none;
}
a.tag:hover:before {
    border-color: transparent #567189 transparent transparent;
}
a.tag{
    margin: 0 0 10px 20px;
    padding: 0 10px 0 12px;
    background: #e1e1e6;
    text-decoration: none;
    text-shadow: 1px 1px 0px #fff;
    box-shadow: 1px 1px 1px rgba(119, 119, 119, 0.5);
    display: inline-block;
    height: 24px;
    line-height: 24px;
    position: relative;
    font-size: 11px;
}
