.kindeditor{
    min-height: 500px;
}
#msgbox {
    width: 600px;
    position: fixed;
    left: 50%;
    margin-left: -300px;
    top: -37px;
    z-index: 99999;
    color: #FFFFFF;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: #1C556D solid 1px;
    border-top-width: 0px;
    background: #539CBB;
    background: linear-gradient(#4da4db,#2c83d2);
    background: -webkit-linear-gradient(#4da4db,#2c83d2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6CABC5', endColorstr='#378CB0', GradientType='0');
    box-shadow: 0 2px 3px rgba(0,0,0,0.8);
}
.msg-success p {
    padding-left: 38px !important;
    padding-right: 6px !important;
    height: 36px !important;
    line-height: 36px !important;
    background: url(/images/info_success.png) 11px 11px no-repeat !important;
}
.msg-error{
    border-color: #560000 !important;
    background: #AA0000 !important;
    background: linear-gradient(#c74746,#af3e3e) !important;
    background: -webkit-linear-gradient(#c74746,#af3e3e) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E80000', endColorstr='#A00000', GradientType='0') !important;
}
#msgbox.msg-success .closeb{
    background: url(/images/close_message.png) 0 -24px no-repeat;
}
.msg-error p {
    padding-left: 42px !important;
    padding-right: 6px !important;
    height: 36px !important;
    line-height: 36px;
    background: url(/images/info_error.png) 11px 8px no-repeat !important;
}
#msgbox .closeb {
    background: url(/images/close_message.png) 0 -24px no-repeat;
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    top: 6px;
    right: 6px;
    z-index: 100000;
}

.topics-no{
    margin: 20px auto;
    padding: 10px;
}
/* topics?tag=1 页面 */
.topic-tag-row .breadcrumb .topic-tag-name{
    font-size: 16px;margin: 0px;font-weight: bold;
}
.topic-tag-row .breadcrumb .topic-tag-name span{
    font-weight: normal;font-size: 12px;margin-left: 10px;
}
.topic-tag-row .breadcrumb > a.btn {
    margin-right: -10px;
}
.topic-tag-row .gray-desc{
    background:#fff4e8;margin-top: 0;border-radius: 0;
}
/* topics?tag=1 页面 */
.topics .topic {
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin: 0 -10px;
    vertical-align: top;
}
.topics .topic .right_info {
    padding-left: 60px;
}
.topics .topic .title {
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 6px;
}
.index .topics .topic .title{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.index .topics .topic:nth-child(odd){
    width:50%;
    float:left;
    clear:left;
}
.index .topics .topic:nth-child(even){
    /*width:100%;*/
    padding-left:50%;
    margin-left:10px;
}
.index .topics .topic {
    height: 65px;
}
.topics .topic .info, .breadcrumb > .info {
    color: #d0d0d0;
    margin-bottom: 2px;
    font-size: 12px;
}
.breadcrumb > .info{
    margin-left: 60px;
}
.infos.breadcrumb{
    margin-bottom: 15px;
    padding: 8px 10px;
}
.topics .topic .infos {
    padding-right: 74px;
}
.topics .topic .info em {
    font-style: normal;
}
.topics .topic .info .node {
    padding: 1px 5px;
    color: #778087;
    text-decoration: none;
    background-color: #f5f5f5;
}
abbr[title] {
    border: 0;
    cursor: default;
}
.topic-all-tags ul{
    list-style: none;
    margin-bottom: 0;
    margin: 0;
    padding: 0;
}
.topic-all-tags ul li{
    line-height: 200%;
    font-size: 14px;
    padding: 8px 10px;
    margin: 0 -10px;
    border-bottom: 1px solid #DDD;
    position: relative;
    overflow: auto;
}
.topic-all-tags ul li:last-child {
    border-bottom: 0px;
}
.topic-all-tags ul li label{
    width:120px; 
    margin-right:10px;
    font-size: 12px;
    color: #999;
    text-align: right;
}
.topic-all-tags ul li span a{
    margin-right: 10px;
}

/* 图库异步加载页面 */
#page_loading {
    display: none;
    background: #111111;
    opacity: 0.7;
    width: 200px;
    padding: 10px;
    position: absolute;
    bottom: -10px;
    left: 40%;
    text-align: center;
    color: #FF9900;
    font-weight: 500;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #111111;
    -webkit-box-shadow: 0 0 6px #111111;
    -moz-box-shadow: 0 0 3px #111111;
    z-index: 200;
}
#page_loading img {
    display: block;
    margin: 0 auto;
}
.media-object{
    width: 800px;
}
.media-object > img{
    width: 100%;
}
/*原来的喜欢推荐收藏使用*/
.fade-row{
  display: none;
  position: absolute;
}
/*原来的喜欢推荐收藏使用*/
.help-block{font-weight: normal;}
.modal-dialog{margin: 100px auto;}
.modal-header {background:#e4e4e4;border-color:#d4d4d4;padding:5px 15px}
.modal-header .close {margin-top:3px}
.modal-footer {padding:7px 15px 8px}
.modal-content {border:8px solid rgba(0, 0, 0, 0.5);-webkit-box-shadow: none;-moz-box-shadow: none;-ms-box-shadow: none;box-shadow: none}
.modal-body{padding:20px 15px}
.modal-backdrop, .modal-backdrop.fade.in {opacity:.1;background:#777}
.breadcrumb{
    border-radius: 0;
}
textarea.form-control{
    height: 80px;
    margin-bottom: 10px;
}
.btn{
    border-radius: 0;
}
.form-group{
    margin-bottom: 0;
    min-height: 60px;
}
.help-block {
    margin: 0;
    font-size: 12px;
}
.main{
	margin: 30px auto 0;
}
.col-md-9{
    padding-right: 0;
}
.white-col-md{
    background: #fff;
    padding: 0 15px;
}
.alert{
    margin-bottom: 10px;
    border-radius: 0px;
}

.profile-mini{
    display: inline-block;
}
.gray-desc{
    background-color: #f5f5f5;
    font-size: 12px;
    color: #A7A7A7;
    margin-top: 10px;
    border: 0;
    border-radius:4px;
    -moz-border-radius:4px;
    padding: 10px;
}
.header{
	height: 50px;
}
.header .avatar{
	margin: -15px 24px 0 0;
    float: left;
}
.avatar-mini{
    width: 34px;
    height: 34px;
}
.avatar-big{
    width: 75px;
    height: 75px;
}
.avatar{
	width: 50px;
	height: 50px;
}
.author-mini{
    font-size: 10px;
}
.header > .navbar{
	padding: 0 20px;
}

.navbar-default{
	background: #26292e;
    /*background: #46485f;*/
}
.navbar-default .navbar-nav > li > a{
	color: #fff;
}
.navbar-default .navbar-collapse ul.navbar-right > li > a.nav-more{
    text-indent: -9999px;
    padding: 0;
    margin: 0 8px;/* ie8 bug */
    width: 18px;
    height: 50px;
    background: transparent url(/images/navs-right.png) -90px 0px no-repeat;
}
.navbar-default .navbar-collapse ul.navbar-right > li > a.nav-more:hover{
    background-position: -90px -50px;
    background-color: #3a3f46;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus{
	background: #3a3f46;
	color: #f78927;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f78927;
  background: #3a3f46;
}
.navbar-default .navbar-nav > li > a.btn-warning:hover,
.navbar-default .navbar-nav > li > a.btn-warning:focus {
  color: #ffffff;
  background-color: #ed9c28;
  border-color: #d58512;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background: #3a3f46;
	color: #f78927;
}
hr{
	margin: 10px auto;
}
.opt-b {
    color: #959da6;
    font-weight: bold;
    float: left;
    width: 12.5%;
}
.media .date {
	color: #959da6;
    font-size: 12px;
}

.media .reply-link{
    font-size: 12px;
}
.media p{
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 6px;
}
.media .reply-content{
    border-bottom: 1px solid #e8ecf0;
}
.box_con .media p{
    padding-bottom: 0;
}


#footer_bg {
    margin-top: 20px; 
    background: #43403F;
    padding: 5px 0px;
    border-top: 1px solid #5B5958;
    font-size: 12px;
    color: #999999;
}
#footer {
    width: 700px;
    text-align: center;
    margin: 15px auto;
    line-height: 30px;
    color: #999999;
    position: relative;
    _margin-bottom: 0px;
}
#footer a, #footer a:visited {
    color: #CCCCCC;
    padding: 0px 7px;
}
.float_to{
	position: fixed;
	z-index: 50;
	right: 20px;
	display: none;
	width: 45px;
	height: 41px;
	background: #a1aab3;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	font-size: 0;
	color: transparent;
}
#feedBack{
	bottom: 25px;
	display: inline;
}
#toTop {
	bottom: 75px;
}
.float_to i:before {
	color: #fff !important;
	font-size: 28px;
	top: 5px;
	left: 13px;
	position: relative;
}
#feedBack i:before {
	top: 8px;
	left: 10px;
}
.float_to:hover {
	background: #405b7f;
	text-decoration: none;
}

.radbox{
    background-color: #fff;
    margin-bottom: 20px;
}
.box_top{
    border-bottom: 1px solid #e2e2e2;
    margin: 0 10px;
}
.radbox .title {
    color: #acacac;
    font-size: 14px;
    font-weight: bold;
}
.box_con{
    padding: 10px;
}
.page-header{
    margin: 15px 0;
    padding-bottom: 0;
}
.header-tip{
    font-size: 16px;
    display: block;
    margin-left: 20px;
}
.has-error .form-error-tip{
    color: #a94442;
}
.form-error-tip{
    margin: 6px 0 0 0;
}
.mp-page {
    margin: 20px 0;
    list-style: none;
}
.s300{
    max-width: 300px;
    max-height: 300px;
}
.s260{
    width: 260px;
    height: 260px;
}
.s200{
    width: 200px;
    height: 200px;
}
.s100{
    width: 100px;
    height: 100px;
}
.s50{
    width: 50px;
    height: 50px;
}
.review{
    position: relative;
    overflow: hidden;
}
.review img{
    position: relative;
}
.item img{
    width: 236px;
}
.thumbnail {
    display: block;
    padding: 0;
    margin-bottom: 10px;
    line-height: 1.428571429;
    background-color: #ffffff;
    border: 0;
    border-radius: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    /*border: 1px solid #ccc;*/
}
.thumbnail .caption{
    padding: 4px;
}
.caption-border{
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.once-desc{
    width: 100%;
    height:40px;
    /*margin: 6px auto;*/
    border-color: #ccc;
}
.mp-resuests .thumbnail > a > img{
    width: 264px;
    height: 176px;
}
.thumbnail > a > img{
    width: 100%;
}
.thumbnail a > img.avatar-mini{
    height: 34px;
    width: 34px;
}
.caption h5{
    font-size: 15px;
}
.caption{
    font-size: 12px;
}
.caption span{
    color: #ccc;
}
.second-nav{
    margin-bottom: 6px;
    /*background-color: white;*/
}
.second-nav a{
    text-decoration: none;
}




            