.mp-ul-nav{
	margin: 40px auto 0;
}
.mp-ul-nav a{
	text-decoration: none;
	color: #2a6496;
}
.ad {
	margin-bottom: 10px;
}
.ad img{
	width: 100%;
}


.mp-home-top{
    margin-bottom: 40px;
}
.mp-home-top .col-md-8{
    /*width: 870px;*/
    width: 830px;
}
.mp-home-top .col-md-4{
    /*width: 300px;*/
    width: 340px;
}
.mp-home-top .col-md-4 ul li{
    line-height: 20px;
}
.mp-home-top .col-md-4 .breadcrumb{
    margin-bottom:0px;
}


.category_thumbs{
    margin:20px 0
}
.category_thumbs .row{
	margin: auto 0 40px 0;
    overflow:hidden
}
.category_thumbs .row .category{
    position:relative;
    border-radius:3px;
    display:inline-block;
    float:left;
    height:245px;
    width:350px;
    margin-right:45px;
}
.category_thumbs .row .category.last-child{
    margin-right:0
}
.category_thumbs .row .category.people{
    background:url(/images/tags/people.jpg) center center no-repeat;
    -webkit-background-size:100%;
    background-size:100%
}
.category_thumbs .row .category.city-and-architecture{
    background:url(/images/tags/city_and_architecture.jpg) center center no-repeat;
    -webkit-background-size:100%;
    background-size:100%
}
.category_thumbs .row .category.animals{
    background:url(/images/tags/animals.jpg) center center no-repeat;
    -webkit-background-size:100%;
    background-size:100%
}
.category_thumbs .row .category.landscapes{
    background:url(/images/tags/landscapes.jpg) center center no-repeat;
    -webkit-background-size:100%;
    background-size:100%
}
.category_thumbs .row .category.black-and-white{
    background:url(/images/tags/black_and_white.jpg) center center no-repeat;
    -webkit-background-size:100%;
    background-size:100%
}
.category_thumbs .row .category.nature{
    background:url(/images/tags/nature.jpg) center center no-repeat;
    -webkit-background-size:100%;
    background-size:100%
}
.category_thumbs .row .category.abstract{
    background:url(/images/tags/abstract.jpg) center center no-repeat;
    -webkit-background-size:100%;
    background-size:100%
}
.category_thumbs .row .category.concert{
    background:url(/images/tags/concert.jpg) center center no-repeat;
    -webkit-background-size:100%;
    background-size:100%
}
.category_thumbs .row .category.macro{
    background:url(/images/tags/macro.jpg) center center no-repeat;
    -webkit-background-size:100%;
    background-size:100%
}
.category_thumbs .row .category:hover .overlay{
    opacity:0.5;
    filter:alpha(opacity=50);
}
.category_thumbs .row .category.checked .overlay{
    /*opacity:0.8;*/
    /*background:#000 url(/images/check.png) center 80px no-repeat*/
}
.category_thumbs .row .category.checked .overlay span{
    display:block
}
.category_thumbs .row .category .overlay{
    opacity:0;
    filter:alpha(opacity=0);
    width:100%;
    height:100%;
    background-color:#000;
    text-align:center;
    transition:opacity 0.2s;
    -webkit-transition:opacity 0.2s;
    -ms-transition:opacity 0.2s;
    -moz-transition:opacity 0.2s;
    -o-transition:opacity 0.2s
}
.category_thumbs .row .category .overlay span{
    font-size:14px;
    font-weight:300;
    text-align:center;
    position:relative;
    top:140px;
    color:#fff;
    display:none
}
.category_thumbs .row .category .gradient{
    display:table;
    position:absolute;
    bottom:0;
    width:100%;
    height:70px;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.6)));
    background:-webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    background:-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.6)));
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#99000000', GradientType=0)
}
.category_thumbs .row .category .gradient .name{
    display:table-cell;
    vertical-align:middle;
    position:relative;
    top:8px;
    padding-left:15px;
    font-size:24px;
    color:#fff;
    font-weight:300;
    text-shadow:0 0 1px rgba(0, 0, 0, 0.6)
}

.mp-home-center-new{
    background-color: #F8F8F8;
    /*padding: 10px;*/
}
.mp-home-emphasis .em-title{
    padding: 8px 15px;
    text-align: right;
    font-weight: bold;
    background: #f5f5f5 url(/images/home-top-left-emphasis.png) no-repeat 13px center;
    padding-left: 40px;
}
.mp-home-emphasis ul{
    margin: 0;
    padding-left: 15px;
}
.mp-home-emphasis ul li{
    padding: 0;
    margin: 0;
}
.navbar-default .navbar-nav > li > a.btn-upload{
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    background: #666;
    border-color: #666;
    border-radius: 4px;
    margin-top: 10px;
}
.cl.line-one{
    margin-bottom: 10px;
}
.cl .item{
    border: 1px solid #dedede;
    float: left;
    margin-right: 11px;
    padding: 10px;
    background-color: #fff;
}
.cl .item.last{
    padding: 20px 10px;
    width: 50%;
    height: 231px;
    margin-right: 0;
    position: relative;
}
.cl .item p{
    text-align: center;
    margin: 0;
}
.cl .item hr{
    border-color: #dedede;
    margin: 10px auto;
}
.cl a.thua{
    width: 252px;
    height: 168px;
    display: block;
    text-align: center;
    /*display: table-cell;
    vertical-align: middle;*/
}
.cl a.thua img{
    max-height: 100%;
    max-width: 100%;
    /*width: 100%;
    height: 100%;*/
}
.top-left-pos{
    width: 60px;
    height: 60px;
    position: absolute;
    background: transparent url(/images/home-top-left-pos-fol.png) no-repeat 0 0;
    left: -1px;
    top: -1px;
}
.line-one .last .top-left-pos{
    background: transparent url(/images/home-top-left-pos-eve.png) no-repeat 0 0;
}
.cl .item.last h4{
    margin: 30px 30px 10px;
    font-weight: bold;
}
.cl .item.last .tip-text-left{
    float: left;
    /*width: 150px;*/
    width: 148px;
    text-align: center;
}
.cl .item.last .tip-right-once{
    float: left;
}
.cl .item.last .tip-right-once .userlineitem.userlineone{
    margin-bottom: 10px;
}
.line-two.cl .item.last .tip-right-once img{
    width: 89px;
    height: 89px;
}
.cl .item.last .tip-right-once .userlineitem div.last{
    margin-right: 0;
}
.cl .item.last .tip-right-once .userlineitem div{
    margin-right: 10px;
    display: inline-block;
    position: relative;
}
.cl .item.last .tip-right-once .userlineitem div:hover .tofolbg,.cl .item.last .tip-right-once .userlineitem div:hover .tofol{
    display: block;
}
.cl .item.last .tip-right-once .userlineitem .tofolbg{
    display: none;
    position: absolute;
    bottom: 0;
    background: #000;
    width: 89px;
    height: 20px;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.cl .item.last .tip-right-once .userlineitem .tofol{
    display: none;
    width: 89px;
    padding: 0 5px;
    text-align: right;
    position: absolute;
    bottom: 0;
    color: #fff;
    text-decoration: none;
}