.mp-photos .mp-photo{
    margin: 0 0 10px 0;
}
.mp-photos .mp-photo a{
    text-decoration: none;
    display:block;
    cursor:pointer;
}
.mp-photos .mp-photo img {
    width:100%;
    height:100%;
    display:block;
}
.mp-photos .mp-photo:hover .details .rating {
    opacity:1;
    bottom:0px
}
.mp-photos .mp-photo:hover .buttons {
    opacity:1;
    top:10px
}
.mp-photos .mp-photo .buttons {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
    display:inline-block;
    float:right;
    position:absolute;
    z-index:2;
    top:-10px;
    right:15px;
    width:auto;
    opacity:0;
    -webkit-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}
.mp-photos .mp-photo .buttons .shares {
    display:inline-block;
}
.mp-photos .mp-photo .buttons .states {
    display:inline-block;
    margin-left:10px;
}
.mp-photos .mp-photo .buttons .action {
    display:inline-block;
    width:34px;
    height:34px;
    border-radius:2px;
    color:white;
    font-size:14px;
    -webkit-transition:all 0.1s ease-in-out;
    transition:all 0.1s ease-in-out;
    background-color:rgba(34, 34, 34, 0.2);
    overflow:hidden;
    position:relative;
    cursor:pointer
}
.mp-photos .mp-photo .buttons .shares a,.mp-photos .mp-photo .buttons .states a .iconheart,.mp-photos .mp-photo .buttons .states a .iconstar{
    background-image: url(/images/thumb-icon.png);
    background-repeat: no-repeat;
}
.mp-photos .mp-photo .buttons .action .iconheart{
    background-position:  7px -143px;
}
.mp-photos .mp-photo .buttons .action .iconstar{
    background-position:  7px 7px;
}
.mp-photos .mp-photo .buttons .weibo {
    background-position:  7px -23px;
}
 .mp-photos .mp-photo .buttons .qzone {
    background-position:  7px -54px;
}
.mp-photos .mp-photo .buttons .renren {
    background-position:  7px -83px;
}
.mp-photos .mp-photo .buttons .douban {
    background-position:  7px -113px;
}
.mp-photos .mp-photo .buttons .shares a.weibo:hover {
    background-color:#cc2127;
}
.mp-photos .mp-photo .buttons .shares a.qzone:hover {
    background-color:#00aced;
}
.mp-photos .mp-photo .buttons .shares a.renren:hover {
    background-color:#3b5998;
}
.mp-photos .mp-photo .buttons .shares a.douban:hover{
    background-color: #072;
}


.mp-photos .mp-photo .buttons .action:hover, .mp-photos .mp-photo .buttons .action.hover {
    background-color:rgba(34, 34, 34, 0.4);
}
.mp-photos .mp-photo .buttons .action:hover .iconheart, .mp-photos .mp-photo .buttons .action.hover .iconheart {
    top:-15px;
    opacity:0;
}
.mp-photos .mp-photo .buttons .action:hover .iconstar, .mp-photos .mp-photo .buttons .action.hover .iconstar {
    top:-15px;
    opacity:0;
}
.mp-photos .mp-photo .buttons .action:hover .count, .mp-photos .mp-photo .buttons .action.hover .count {
    top:0px;
    opacity:1;
}
.mp-photos .mp-photo .buttons .action.animate .count, .mp-photos .mp-photo .buttons .action.animate:hover .count {
    top:15px;
    opacity:0 !important;
}
.mp-photos .mp-photo .buttons .action .count {
    top:15px;
    opacity:0;
}
.mp-photos .mp-photo .buttons .action.like.active, .mp-photos .mp-photo .buttons .action.like.active:hover {
    background-color:#02adea;
}
.mp-photos .mp-photo .buttons .action.star.active, .mp-photos .mp-photo .buttons .action.star.active:hover {
    background-color:#02adea;
}
/*点喜欢后*/
.mp-photos .mp-photo .buttons .action.favorite.active, .mp-photos .mp-photo .buttons .action.favorite.active:hover {
    background-color:#ff4c4c;
}
 .mp-photos .mp-photo .buttons .action.active {
    -webkit-animation:pulse 0.6s 0.15s ease-in-out;
    -ms-animation:pulse 0.6s 0.15s ease-in-out;
    animation:pulse 0.6s 0.15s ease-in-out;
}
.mp-photos .mp-photo .buttons .action.animate .icon, .mp-photos .mp-photo .buttons .action.animate:hover .icon {
    top:0px;
    opacity:1 !important;
}

.mp-photos .mp-photo .buttons .action span {
    position:absolute;
    top:0;
    left:0;
    display:block;
    opacity:1;
    width:100%;
    height:100%;
    text-align:center;
    line-height:34px;
    -webkit-transition:all 0.15s ease-in-out;
    transition:all 0.15s ease-in-out;
}
.mp-photos .mp-photo .details {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    bottom: 0px;
    color: white;
/*    background: black;
    background: rgba(0,0,0,0.6);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.6)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.6)));*/
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%);
    background: url(/images/photo-details.png?v=1) repeat-x 0 0;
    width: 90%;
    height: 50px;
    text-shadow: 0px 0px 1px #000;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}
.mp-photos .mp-photo .details a {
    overflow:hidden;
    white-space:word-wrap;
    text-overflow:ellipsis;
    color:white;
}
.mp-photos .mp-photo .details a:before {
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    content:" ";
    width:100%;
    padding:0px 3px;
    border-radius:3px;
    height:100%;
    position:absolute;
    top:-1px;
    left:-3px;
    display:block;
    background-color:rgba(255, 255, 255, 0);
    z-index:1;
    -webkit-transition:0.1s;
    transition:0.1s;
}
.mp-photos .mp-photo .details a:hover:before {
    background-color:rgba(255, 255, 255, 0.2);
}
.mp-photos .mp-photo .details .inside{
    position: relative;
    height: 100%;
    -webkit-transition: 0.2s bottom;
    transition: 0.2s bottom;
}
.mp-photos .mp-photo .details .title {
    max-width:192px;
    height:22px;
    font-size:18px;
    line-height:20px;
    font-weight:500;
    position:absolute;
    white-space:word-wrap;
    text-overflow:ellipsis;
    top: 0px;
    left: 12px;
    -webkit-transition:0.1s;
    transition:0.1s;
}
.mp-photos .mp-photo .details .title a {
    height:22px;
}
.mp-photos .mp-photo .details .info {
    max-width:200px;
    font-size:13px;
    line-height:13px;
    font-weight:200;
    position:absolute;
    bottom:8px;
    left:13px;
}
.mp-photos .mp-photo .details .info a {
    height:15px;
    display: inline-block;
}
.mp-photos .mp-photo .details .rating {
    position:absolute;
    font-weight:300;
    font-size:30px;
    line-height:46px;
    height:100%;
    bottom:-10px;
    right:10px;
    text-align:right;
    opacity:0;
    -webkit-transition:0.2s;
    transition:0.2s;
}