.mp-photos .sidenav {
    background-color: #f7f8fa;
    border: 1px solid #eeeff2;
    -webkit-transition: opacity 0.2s 0.2s ease-in-out;
    transition: opacity 0.2s 0.2s ease-in-out;
    height: 560px;
}
.mp-photos .sidenav .main-orders{
    padding: 10px 0;
    border-bottom: 1px solid #eeeff2;
}
.mp-photos .sidenav .main-orders a{
    width: 49%;
}
.mp-photos .sidenav .sub .title{
    color: #525558;
    font-weight: bold;
    padding: 3px 0;
}
.mp-photos .sidenav .sub {
    padding: 3px 0 10px 0;
}
.mp-photos .sidenav .mp-tags > a{
    width: 32%;
}
.mp-photos .sidenav .hint {
    bottom: 0;
    border-top: 1px solid #eeeff2;
    font-size: 12px;
    color: #9ba2a7;
    margin: 10px 0 0 0 0;
    padding: 8px 0px 10px 20px;
    line-height: 1.2em;
}
.mp-photos .sidenav .hint span {
    border-radius: 10px;
    border: 1px solid #9ba2a7;
    display: inline-block;
    width: 15px;
    height: 15px;
    text-align: center;
    margin-right: 2px;
}
.mp-photos .sidenav a{
    position: relative;
    line-height: 1em;
    color: #71767a;
    border-radius: 3px;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;

    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    padding: 4px 6px 5px 8px;
}
.mp-photos .sidenav a:hover {
    background-color: rgba(82,85,88,0.075);
}
/*slidenav end */
.mp-photos{
    margin: auto -10px;
    position: relative;
}
.mp-photos .mp-photo{
    margin: 10px;
    display: inline-block;
    position: relative;
    width: 270px;
    height: 270px;
    float:left;
}
.mp-photos .mp-photo a{
    text-decoration: none;
    display: block;
}
.mp-photos .mp-photo a.thumb{
    background: #eee;
    width: 100%;
    height: 100%;
}
.mp-photos .mp-photo a.thumb img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}
.mp-photos .mp-photo:hover .details .inside-right {
    opacity:1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity = 100);
    bottom:0px
}
.mp-photos .mp-photo:hover .buttons {
    opacity:1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity = 100);
    top:10px
}
.mp-photos .mp-photo .buttons {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
    display:inline-block;
    float:right;
    position:absolute;
    z-index:2;
    top:-10px;
    right:10px;
    width:auto;
    opacity:0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity = 0);
    -webkit-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}
.mp-photos .mp-photo .buttons .shares {
    display:inline-block;
}
.mp-photos .mp-photo .buttons .states {
    display:inline-block;
    margin-left:10px;
}
.mp-photos .mp-photo .buttons .action {
    display:inline-block;
    width:34px;
    height:34px;
    border-radius:2px;
    color:white;
    font-size:14px;
    -webkit-transition:all 0.1s ease-in-out;
    transition:all 0.1s ease-in-out;
    background-color:rgba(34, 34, 34, 0.2);
    overflow:hidden;
    position:relative;
    cursor:pointer
}
.mp-photos .mp-photo .buttons .shares a,.mp-photos .mp-photo .buttons .states a .iconheart,.mp-photos .mp-photo .buttons .states a .iconstar{
    background-image: url(/images/thumb-icon.png);
    background-repeat: no-repeat;
}
.mp-photos .mp-photo .buttons .action .iconheart{
    background-position:  7px -143px;
}
.mp-photos .mp-photo .buttons .action .iconstar{
    background-position:  7px 7px;
}
.mp-photos .mp-photo .buttons .weibo {
    background-position:  7px -23px;
}
 .mp-photos .mp-photo .buttons .qzone {
    background-position:  7px -54px;
}
.mp-photos .mp-photo .buttons .renren {
    background-position:  7px -83px;
}
.mp-photos .mp-photo .buttons .douban {
    background-position:  7px -113px;
}
.mp-photos .mp-photo .buttons .shares a.weibo:hover {
    background-color:#cc2127;
}
.mp-photos .mp-photo .buttons .shares a.qzone:hover {
    background-color:#00aced;
}
.mp-photos .mp-photo .buttons .shares a.renren:hover {
    background-color:#3b5998;
}
.mp-photos .mp-photo .buttons .shares a.douban:hover{
    background-color: #072;
}


.mp-photos .mp-photo .buttons .action:hover, .mp-photos .mp-photo .buttons .action.hover {
    background-color:rgba(34, 34, 34, 0.4);
}
.mp-photos .mp-photo .buttons .action:hover .iconheart, .mp-photos .mp-photo .buttons .action.hover .iconheart {
    top:-15px;
    opacity:0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity = 0);
}
.mp-photos .mp-photo .buttons .action:hover .iconstar, .mp-photos .mp-photo .buttons .action.hover .iconstar {
    top:-15px;
    opacity:0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity = 0);
}
.mp-photos .mp-photo .buttons .action:hover .count, .mp-photos .mp-photo .buttons .action.hover .count {
    top:0px;
    opacity:1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity = 100);
}
.mp-photos .mp-photo .buttons .action.animate .count, .mp-photos .mp-photo .buttons .action.animate:hover .count {
    top:15px;
    opacity:0 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity = 0);
}
.mp-photos .mp-photo .buttons .action .count {
    top:15px;
    opacity:0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity = 0);
}
.mp-photos .mp-photo .buttons .action.like.active, .mp-photos .mp-photo .buttons .action.like.active:hover {
    background-color:#02adea;
}
.mp-photos .mp-photo .buttons .action.star.active, .mp-photos .mp-photo .buttons .action.star.active:hover {
    background-color:#02adea;
}
/*点喜欢后*/
.mp-photos .mp-photo .buttons .action.favorite.active, .mp-photos .mp-photo .buttons .action.favorite.active:hover {
    background-color:#ff4c4c;
}
 .mp-photos .mp-photo .buttons .action.active {
    -webkit-animation:pulse 0.6s 0.15s ease-in-out;
    -ms-animation:pulse 0.6s 0.15s ease-in-out;
    animation:pulse 0.6s 0.15s ease-in-out;
}
.mp-photos .mp-photo .buttons .action.animate .icon, .mp-photos .mp-photo .buttons .action.animate:hover .icon {
    top:0px;
    opacity:1 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity = 100);
}

.mp-photos .mp-photo .buttons .action span {
    position:absolute;
    top:0;
    left:0;
    display:block;
    opacity:1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity = 100);
    width:100%;
    height:100%;
    text-align:center;
    line-height:34px;
    -webkit-transition:all 0.15s ease-in-out;
    transition:all 0.15s ease-in-out;
}
.mp-photos .mp-photo .details {
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
    position: absolute;
    padding: 8px 8px 5px 8px;
    width: 100%;
    bottom: 0;
    bottom: 0\9;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.6)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.6)));
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%);
}
.mp-photos .mp-photo .details a {
    color: #fff;
    padding: 1px 5px;
    font-size: 16px;
    display: inline-block;
    max-width: 210px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mp-photos .mp-photo .details .inside-left .account{
    line-height: 16px;
}
.mp-photos .mp-photo .details .inside-left .title{
    line-height: 12px;
}
.mp-photos .mp-photo .details .title a {
    font-size: 12px;
}
.mp-photos .mp-photo .details a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}
.mp-photos .mp-photo .details .inside-left {
    float: left;
}
.mp-photos .mp-photo .details .inside-right {
    float: right;
    font-size: 30px;
    color: #fff;
    position: absolute;
    right: 10px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity = 0);
    bottom: 0px;
}