.mp-large-picture{
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    min-height: 300px;
    position: relative;
}
.mp-large-picture a{
    display: block;
}
.mp-large-picture a img{
	max-width: 1140px;
}
.mp-large-picture .pn-photo{
    position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 15%;
}
.mp-large-picture .prev-photo{
    left: 10px;
}
.mp-large-picture .next-photo{
    right: 10px;
}
.mp-large-picture .pn-photo span{
	top: 50%;
	position: absolute;
	opacity: 0.4;
	filter: alpha(opacity=40);
	width: 50px;
	height: 60px;
	border-radius: 5px;
	text-indent: -9999px;
	background: center center no-repeat;
	background-color: #ccc;
	display: inline-block;
	color: #000;
}
.mp-large-picture a:hover span, .mp-large-picture a span:hover{
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.mp-large-picture .prev-photo span{
	left: -30px;
    background-image: url(/images/photo-browse-prev.png);
}
.mp-large-picture .next-photo span{
	right: -30px;
    background-image: url(/images/photo-browse-next.png);
}