<style type="text/css">
.main .breadcrumb{
    margin-bottom: 20px;
}
</style>
<%= render partial: 'index_all' %>
<div class="row">
    <div class="col-md-12">
        <div class="breadcrumb">
            <span>摄影师</span>
        </div>
        <div class="row">
            <% @photographers.each do |u| %>
            <div class="col-md-4">
                <div class="thumbnail">
                    <%= link_to image_tag(u.obj.picture(:cover)) %>
                    <div class="caption">
                        <%= link_to u.source.username, user_path(u.source_id) %>
                        <br>
                        1973年出生于襄樊，现生活、工作于广东省东莞。2006年起记录同事们的打工生活，已拍摄了三十多万张照片。
                        <br>
                        个人网站：<%= link_to pg_url(u.source_id), pg_path(u.source_id) %>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>

<!-- <div class="row">
    <div class="col-md-12">
        <div class="breadcrumb">
            <span>月月评</span>
        </div>
    </div>
</div> -->