<style type="text/css">
.main .breadcrumb{
    margin-bottom: 20px;
}
</style>
<%= render partial: 'index_all' %>
<div class="row">
    <div class="col-md-12">
        <div class="breadcrumb">
            <span>摄影师</span>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/gs/36" style="display:block" target="_blank"><img alt="19ca14e7ea" src="/system/images/36/1396023019/000/000/036/thumb/19ca14e7ea.jpg?1396023019" wh="250x167"></a>
                    <div class="caption">
                        <a href="">占有兵</a>
                        <br>
                        1973年出生于襄樊，现生活、工作于广东省东莞。2006年起记录同事们的打工生活，已拍摄了三十多万张照片。
                        <br>
                        个人网站：<a href="">zhanyoubing.kpkpw.com</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/gs/36" style="display:block" target="_blank"><img alt="19ca14e7ea" src="/system/images/36/1396023019/000/000/036/thumb/19ca14e7ea.jpg?1396023019" wh="250x167"></a>
                    <div class="caption">
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="/gs/36" style="display:block" target="_blank"><img alt="19ca14e7ea" src="/system/images/36/1396023019/000/000/036/thumb/19ca14e7ea.jpg?1396023019" wh="250x167"></a>
                    <div class="caption">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="breadcrumb">
            <span>月月评</span>
        </div>
    </div>
</div>