<style type="text/css">
.hide-cap{display: none;}
</style>
<div style="margin-bottom:10px;">
	<a href="/my/albums">返回相册</a>
	共500张照片
	<div class="pull-right">
		<a class="btn-default btn btn-sm" href='javascript:void(0);'>上传照片</a>
		<a class="btn-default btn btn-sm" href='javascript:void(0);'>批量管理</a>
		<a class="btn-default btn btn-sm" href='javascript:void(0);'>删除相册</a>
	</div>
	<div class="clearfix"></div>
</div>
<div class="row">
	<% @images.each do |image| %>
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<%= link_to image_tag(image.picture(:cover)), image_path(image) %>
				<div class="caption caption-border">
					<a href="javascript:void(0);" class="btn btn-default btn-xs front-cover">
						设为封面
					</a>
					<a href="javascript:void(0);" class="btn btn-default btn-xs remove-self">
						删除本张
					</a>
					<span class="pull-right hide-cap">
						<input type="checkbox">
					</span>
					<textarea class="once-desc" placeholder="输入图片描述"><%= image.desc %></textarea>
					<span>上传时间：<%= image.created_at.to_s(:db) %></span>
				</div>
			</div>
		</div>
	<% end %>
</div>