<style>
    .media{
        background: #f5f5f5;
    }
    .unread{
        background: #fffced;
    }
</style>
<div class="media unread" style="margin: 4px 0; padding:10px;">
    <a class="pull-left" href="javascript:void(0);">
        <img src="/images/avatar.jpg" class="avatar-big img-rounded">
    </a>
    <div class="media-body">
        <h5 class="media-heading">
            <a href="/qrfwwuw5pq/" class="author">朱晓武</a>
        </h5>
        <div style="font-size:12px;">
            网页设计，爱玩爱学习，对新事物很感兴趣，通过花瓣不断充实自己，愿自己与花瓣共同成长。
        </div>
    </div>
</div>
<div class="media" style="margin: 4px 0; padding:10px;">
    <a class="pull-left" href="javascript:void(0);">
        <img src="/images/avatar.jpg" class="avatar-big img-rounded">
    </a>
    <div class="media-body">
        <h5 class="media-heading">
            <a href="/qrfwwuw5pq/" class="author">朱晓武</a>
        </h5>
        <div style="font-size:12px;">
            网页设计，爱玩爱学习，对新事物很感兴趣，通过花瓣不断充实自己，愿自己与花瓣共同成长。
        </div>
    </div>
</div>
<div class="media" style="margin: 4px 0; padding:10px;">
    <a class="pull-left" href="javascript:void(0);">
        <img src="/images/avatar.jpg" class="avatar-big img-rounded">
    </a>
    <div class="media-body">
        <h5 class="media-heading">
            <a href="/qrfwwuw5pq/" class="author">朱晓武</a>
        </h5>
        <div style="font-size:12px;">
            网页设计，爱玩爱学习，对新事物很感兴趣，通过花瓣不断充实自己，愿自己与花瓣共同成长。
        </div>
    </div>
</div>
<div class="media" style="margin: 4px 0; padding:10px;">
    <a class="pull-left" href="javascript:void(0);">
        <img src="/images/avatar.jpg" class="avatar-big img-rounded">
    </a>
    <div class="media-body">
        <h5 class="media-heading">
            <a href="/qrfwwuw5pq/" class="author">朱晓武</a>
        </h5>
        <div style="font-size:12px;">
            网页设计，爱玩爱学习，对新事物很感兴趣，通过花瓣不断充实自己，愿自己与花瓣共同成长。
        </div>
    </div>
</div>