<div class="row">
	<% @writers.each do |writer| %>
	<div class="col-sm-3 col-md-2">
		<div class="thumbnail">
			<%= link_to image_tag(writer.avatar(:small), style: 'width:100px;height:100px;'), write_my_msgs_path(writer.id), class: 'write-mail' %>
			<div class="caption text-center">
				<%= link_to writer.username, user_path(writer) %>
			</div>
		</div>
	</div>
	<% end %>
</div>