<style type="text/css">
.del, .del:hover{
	font-size: 12px;
	color: #999;
	text-decoration: none;
}
</style>

<div class="list-group">
	<div class="list-group-item">
		<h5 class="list-group-item-heading" style="font-weight: bold;">
			<a href="/u/50">u2</a>
			给你发送了私信
			01-24 06:39
			<a href="/my/msgs/100?mid=123" class="del" data-method="delete" rel="nofollow">删除</a>
		</h5>
		<p class="list-group-item-text">
			橙V推荐计划即日启动，加入推荐仅需3步：1、给自己打上明显的行业标签或兴趣标签，比如：医生、美食、运动；2、多关注一些和你一样的人，比如你的同行，和与你有共同兴趣爱好的人；3、多发与行业、兴趣相关的微博；好了，24小时内，我让你的粉丝找上门儿！详情请见：http://t.cn/8kz98IA
		</p>
	</div>
	<div class="list-group-item">
		<h5 class="list-group-item-heading" style="font-weight: bold;">
			<a href="/u/50">u2</a>
			给你发送了私信
			01-24 06:39
			<a href="/my/msgs/100?mid=123" class="del" data-method="delete" rel="nofollow">删除</a>
		</h5>
		<p class="list-group-item-text">
			橙V推荐计划即日启动，加入推荐仅需3步：1、给自己打上明显的行业标签或兴趣标签，比如：医生、美食、运动；2、多关注一些和你一样的人，比如你的同行，和与你有共同兴趣爱好的人；3、多发与行业、兴趣相关的微博；好了，24小时内，我让你的粉丝找上门儿！详情请见：http://t.cn/8kz98IA
		</p>
	</div>
</div>