<style>
	.col-md-10{
		border-left: 1px solid #ccc;
	}
</style>
<ul class="nav nav-pills nav-stacked">
	<% nav = {
			'about' => '关于传媒',
			'contact' => '联系方式',
			'link' => '对外合作',
			'link' => '合作伙伴',
			'mobile' => '手机客户端',
			'job' => '招贤纳士',
			'term' => '服务条款',
			'private' => '隐私政策',
			'feedback' => '问题建议',
	}.each do |k, v| %>
		<li class="<%= 'active' if action_name.eql?(k) %>">
			<a href="/sites/<%= k %>"><%= v %></a>
		</li>
	<% end %>
</ul>