<div class="sw-content-wrapper">
        <h2 class="medium">How Snapwire Works</h2>
<p class="intro">Snapwire is a platform that connects visionary mobile photographers with brands, publishers, small businesses, and creatives around the world. Buyers post image requests and mobile photographers respond by submitting their best photos. Buyers get unique images that match their vision, and the winning photographers get awarded and paid.</p>

<section class="howitworks">
  <h3 class="hidden-phone">For Photographers</h3>
  <div class="row-fluid">
    <div class="span4">
      <span class="sw-icon">📱</span>
      <h4 class="how">1. Shoot a request</h4>
      <p class="dark">Choose a request and submit your photos using our mobile app or our website.</p>
      <ul class="bullet">
                <li>Requests are posted by people and businesses that need photos.</li> 
        <li>Challenges are posted by Snapwire and we reward photographers every day.</li>
        <li>Submit photos right from your phone with our mobile app.</li>
        <li>Submit up to 10 photos to a request before the request deadline.</li>
        <li>Check back on the request for updates from the buyer.</li>
      </ul>
    </div>
    <div class="span4">
      <span class="sw-icon">⚡</span>
      <h4 class="how">2. Get awarded</h4>
      <p class="dark">Buyers nominate their favorite photos before they purchase. If your photo is purchased, you get paid.</p>
      <ul class="bullet">
        <li>Your photo can get a nomination, meaning that the buyer may purchase it.</li>
        <li>If your photo is purchased, we use WePay to pay you quickly.</li>
        <li>We believe you deserve the majority of earnings when your photos sell that's why you'll find that we lead the industry with one of the highest payouts.</li>
        <li>If the buyer requests an exclusivity period add-on, you'll earn even more.</li>
        <li>The copyright to your photos always stays with you.</li>
      </ul>
    </div>
    <div class="span4">
      <span class="sw-icon">➢</span>
      <h4 class="how">3. Level up</h4>
      <p class="dark">Level-up and get positive ratings to build your reputation <a href="/leveling">Learn More</a></p>
      <ul class="bullet">
        <li>Higher levels and positive ratings build trust with buyers.</li>
        <li>Get points for submissions, nominations, and purchases to level up.</li>
        <li>Reach Advanced and unlock the ability to get invited to requests.</li>
        <li>Reach Pro and get invites to work directly with buyers.</li>
        <li>Buyers rate the photos they purchase. Your overall positive rating is the percentage of ratings that are 4+ stars.</li>
      </ul>
    </div>
  </div>
</section>
<section class="howitworks hidden-phone">
  <h3>For Buyers</h3>
  <div class="row-fluid">
    <div class="span4">
      <span class="sw-icon">📰</span>
      <h4 class="how">1. Create a request</h4>
      <p class="dark">Answer a few questions about the photos you need and we’ll create your photo request.</p>
      <ul class="bullet">
        <li>When your request is published, photographers get notified immediately.</li>
        <li>Go about your day -- photographers will begin submitting images to you.</li>
        <li>You can set your price, deadline, and creative vision.</li>
        <li>Post important updates to your request whenever you like.</li>
        <li>No more searching--photographers shoot images like the ones you want.</li>
      </ul>
    </div>

    <div class="span4">
      <span class="sw-icon">⚡</span>

      <h4 class="how">2. Purchase the best</h4>
      <p class="dark">Compare the submitted photos, nominate your favorites, and purchase just the ones you love.</p> 

      <ul class="bullet">
        <li>Nominations help narrow down your favorites &amp; reward photographers with recognition.</li>
        <li>Purchase photos at any time, or wait until your request closes and purchase at the end.</li>
        <li>You're only charged for the photos you buy at the time of purchase.</li> 
        <li>Buy as few or as many photos as you like, it’s up to you.</li> 
        <li>Want it all? Add exclusivity and set how long before others can purchase the image.</li>
      </ul>
    </div>
    <div class="span4">
      <span class="sw-icon">👥</span>
      <h4 class="how">3. Build your team</h4>
      <p class="dark">Follow photographers you love on Snapwire and reward them with positive ratings and invitations to your requests.</p>

      <ul class="bullet">
        <li>Follow photographers you love and invite them to your requests.</li> 
        <li>Give personal feedback to photographers and rate the photos you've purchased from them.</li>
        <li>Build relationships and your own creative team to shoot your concepts.</li>
        <li>Invite your favorite photographers on Snapwire to encourage them to participate.</li>
        <li>Soon, you'll be able to hire top photographers directly to shoot your concept.</li>
      </ul>
    </div>
  </div>
</section>
</div>
