<div class="sw-content-wrapper">
        <div class="level-detail-wrapper">
  <h2 class="medium">Levels</h2>
  <p class="intro">Levels turn your creativity from a passion to a livelihood.</p>
  <p class="small">If your photos get nominated or purchased regularly you’ll level-up. New levels unlock perks that get you more exposure and the ability to work directly with top buyers. Higher levels unlock rewards that help you become a pro so you can earn even more.</p>
  <div id="levels-photographers">
        <section class="level-detail">
      <h4 class="medium">How leveling works</h4>
      <p class="small">You earn points when your photos are submitted, nominated, purchased, and accepted into the Premium Collection. Get points to unlock levels on MP.</p>
      <div class="level-point-explanation">
        <div class="row-fluid">
          <div class="span1">
          </div>
          <div class="span2">
            <span class="sw-icon">&#128247;</span>
            <h5>Submission</h5>
            <h2>2<br>Points</h2>
          </div>
          <div class="span2">
            <span class="sw-icon">&#59213;</span>
            <h5>Invite</h5>
            <h2>100<br>Points</h2>
          </div>
          <div class="span2">
            <span class="sw-icon">&#128278;</span>
            <h5>Nomination</h5>
            <h2>250<br>Points</h2>
          </div>
          <div class="span2">
            <span class="sw-icon">&#9889;</span>
            <h5>Purchase</h5>
            <h2>1,000<br>Points</h2>
          </div>
          <div class="span2">
            <span class="sw-icon">&#127748;</span>
            <h5>Premium</h5>
            <h2>100<br>Points</h2>
          </div>
          <div class="span1">
          </div>
        </div>        
      </div>
    </section>
    
    <section class="level-detail">
      <div class="level-photo explorer"></div>
      <div class="header">
        <h3 class="level-detail-title medium explorer">Explorer</h3>
        <span class="level-detail-requirements">
          <span class="stat"><h5>start here</h5></span>
        </span>
      </div>
      <p class="first">This is the first level where all MP users start. Submit your best photos to your own portfolio so can qualify as a MP photographer. Once approved you can submit to a request and level up.</p>
    </section>

    <section class="level-detail">
      <div class="level-photo shooter"></div>
      <div class="header">
        <h3 class="level-detail-title medium shooter">Shooter</h3>
        <span class="level-detail-requirements">
          <span class="stat"><h5>2 Points needed</h5></span>
        </span>
      </div>
      <p class="desc">You're off and running. Submit some great photos to requests and get one of your photos nominated.</p>

      <h5>Level perks</h5>
      <ul class="level-detail-rewards">
        <li><h5>Ratings and Stats</h5></li>
        <li><h5>Leaderboard position</h5></li>
      </ul>
    </section>

    <section class="level-detail">
      <div class="level-photo advanced"></div>

      <div class="header">
        <h3 class="level-detail-title medium advanced">Advanced</h3>
        <span class="level-detail-requirements">
          <span class="stat"><h5>250 Points needed</h5></span>
        </span>
      </div>
      
      <p class="desc">Nice. You've earned your first big perk. You can now get invited to shoot requests.</p>
      
      <h5>Level perks</h5>
      
      <ul class="level-detail-rewards">
        <li><h5>Invites to requests</h5></li>
      </ul>
    </section>

    <section class="level-detail">
      <div class="level-photo expert"></div>

      <div class="header">
        <h3 class="level-detail-title medium expert">Expert</h3>
        <span class="level-detail-requirements">
          <span class="stat"><h5>5000 Points needed</h5></span>
        </span>
      </div>
      
      <p class="desc">Looking good. You've now sold a few photos and buyers are loving your work. It's time for some exposure. Here's something for you.</p>
      
      <h5>Level perks</h5>

      <ul class="level-detail-rewards">
        <li><h5>Featured photographer profile</h5></li>
        <li><h5>Preferred placement on invites</h5></li>
      </ul>
    </section>

    <section class="level-detail">
      <div class="level-photo elite"></div>

      <div class="header">
        <h3 class="level-detail-title medium elite">Elite</h3>
        <span class="level-detail-requirements">
          <span class="stat"><h5>15,000 Points needed</h5></span>
        </span>
      </div>
      
      <p class="desc">Your work is exceptional, and your photos are purchased regularly. It's time for the spotlight.</p>
      
      <h5>Level perks</h5>
      
      <ul class="level-detail-rewards">
        <li><h5>Featured on our Instagram</h5></li>
        <li><h5>Spotlight email to buyers</h5></li>
      </ul>
    </section>

    <section class="level-detail">
      <div class="level-photo pro"></div>
      
      <div class="header">
        <h3 class="level-detail-title medium pro">Pro</h3>
        <span class="level-detail-requirements">
          <span class="stat"><h5>50,000 Points needed</h5></span>
        </span>
      </div>
      
      <p class="desc">Your talent and creativity have earned you a lot of sales and a great rating. Now buyers can commission photos from you directly.</p>
      
      <h5>Level perks</h5>

      <ul class="level-detail-rewards">
        <li><h5>Paid commissions from buyers</h5></li>
        <li><h5>Guaranteed payment in advance</h5></li>
      </ul>
    </section>
  </div>
</div>
      </div> <!-- .sw-content-wrapper -->