<div class="sw-content-wrapper">

	<div class="row-fluid">
		<div class="span2 ">
			<ul class="nav nav-tabs nav-stacked">
				<li><a href="#general">一般</a></li>
				<li><a href="#permissions">权限</a></li>
				<li><a href="#requests">活动</a></li>
				<li><a href="#licensing">许可</a></li>
			</ul>

			<ul class="nav nav-tabs nav-stacked"> </ul>
		</div>

		<div class="span10">
			<div class="tab-content">
				<div class="tab-pane active" id="general">
					<h2 class="medium ">Frequently Asked Questions</h2>
					<h2 class="visible-phone">F.A.Q.</h2>
					<h3 class="">General</h3>

					<h4>How does Snapwire work?</h4>
					<p>Snapwire is a platform that connects visionary photographers with brands, publishers, designers, creatives and small businesses around the world. Buyers post image Requests and talented photographers respond by submitting their best photos to match. Buyers get unique images that match their vision, and the winning photographers get awarded and paid. <a href="/about" class="">Learn more here</a></p>

					<h4>Can I submit photos I have already shot and shared elsewhere?</h4>
					<p>Yes. Some of your best photos have already been shared. We encourage quality uploads from cloud-based photo sharing sites like Google Drive, Facebook, Flickr and Dropbox.</p>

					<h4>Why does Snapwire have to approve me before I submit to a Request?</h4>
					<p>Our creative editors review all photographers before they can submit to a Request.  This ensures the highest quality standards for buyers. This also means they review every photo uploaded to your profile first. If the quality is high in your profile, your photos have a commercial appeal, and the images could serve buyers - you will be accepted as a Shooter right away. If you have not been accepted, focus on submitting a tighter submission of your most beautiful work.  If you're not getting approved, try modifying your portfolio (removing your weakest photos) and your profile will re-appear to our creative editors. A tight submission of a few great photos is always better than a few strong photos diluted by many average photos.</p>


					<h4>What kind of photos should I upload to Snapwire?</h4>
					<p>If you are building your initial portfolio to get approved, be sure submit photos that are beautiful, clean of borders, and have commercial appeal.  Consider photos that have a good use of light, sharpness, and concept. Avoid submitting 'happy snaps'. You'll need to upload 4 of your very best photos to you profile to get reviewed and while self editing can be intimidating, take clues from other successful photographers, noting nominated & purchased photos on requests, and photos accepted in our Collection.</p>

					<h4>Can I submit a photo to multiple Requests on Snapwire?</h4>
					<p>If your photo has not had a temporary exclusivity purchased on a Request, you can upload your photos to another Request. Once the exclusivity period expires on the photo purchase it can be submitted to another Request.</p>

					<h4>Can I submit multiple images to a Requests?</h4>
					<p>If your photo has not had a temporary exclusivity purchased on a Request, you can upload your photos to another Request. Once the exclusivity period expires on the photo purchase it can be submitted to another Request.</p>


					<h4>What are levels and points for?</h4>
					<p>We’ve built a leveling system that rewards photographers who have success on Snapwire.  Rewards include the ability to get invited to Requests, higher-visibility to buyers, and eventually paid commissions.  The goal is to help you earn more money, improve your reputation as a photographer, and allow direct relationships with buyers. You earn points for every major activity you do on Snapwire. <a href="/leveling" class="">Learn more here</a></p>

					<h4>What does my positive rating mean?</h4>
					<p>When your photo is purchased, the buyer may choose to leave you personal feedback and also rate your photo on its creativity, accuracy, and originality.  Maintaining a positive rating builds trust with buyers and gives you a positive reputation. <a href="/about" class="">Learn more here</a></p>

					<h4>How do I get invited to a Request?</h4>
					<p>Once you've reached the Advanced level, you'll be eligible to be invited to Requests by buyers. You can achieve the Advanced level by earning 250 points. Invites get you an additional level of exposure, and increase your chance of earning more money. </p>

					<h4>How many images can I submit to a Request?</h4>
					<p>It's a good idea to limit the number of images you upload to any one Request. Buyers only want to see the best of your photos. If you have very similar compositions of the same subject with similar angles, try limiting your submissions to only 2 or 3 photos.</p>

					<h4>What’s the minimum size photo I can submit?</h4>
					<p>Snapwire encourages the largest size photo to satisfy the most flexible use for the buyer. At this time we require a minimum 800 pixels on the shortest side of the photo. Snapwire will automatically read your photo to ensure you meet the minimum size requirement.</p>

					<h4>I have a lot of good photos on Instagram. Why can't I submit from there?</h4>
					<p>Unfortunately, Instagram only allows photos of 612px or smaller to come through their API, which is too small for a buyer’s needs. That being said, the copies of your Instagram photos that get saved to your camera roll are big enough, so feel free to submit those photos to Snapwire.</p>

					<h4>Do all my photos have to be from a mobile phone?</h4>
					<p>Although Snapwire is tailored towards mobile photographers, we will accept any digital photo which you own. You can upload from the Snapwire iOS application or the website. At Snapwire, we firmly believe that the best camera is the one that you have with you. You can also connect to a variety of photo sharing platforms like Flickr and Dropbox to pull in your best shots for any Request.</p>

					<h4>Why can I not submit a photo to a Request?</h4>
					<p>You have to be an approved Shooter to submit to a Request (you can build a portfolio anytime).  While Snapwire is in beta, we review every photographer and handpick the very best ones to participate on Requests. If you are approved and still cannot submit to a Request, the Request is likely in Review or has been closed.  The buyer can close the Request at any time.</p>

					<h4>My photo was chosen for the Collection so what does this mean?</h4>
					<p>The Snapwire Collection is a set of the best images submitted to Snapwire. We offer this content to all buyers in a marketplace with various price tiers. When your photo is chosen to the Collection you are automatically approved as a Shooter and agree to let Snapwire exclusively represent your photo in our marketplace. If chosen it's also available to purchase on any closed Request, in our Collection, and on your own profile. This also means that you may only let Snapwire license these photos to commercial buyers. You may, however, continue to use and promote your photo through your own personal channels. If you would like to remove any photos from the Collection you can simply delete them from the Manager section of our service. Photographers earn 50% when photos sell in the Collection.</p>

					<h4>My photo has been flagged as Premium what does this mean?</h4>
					<p>Premium photos are priced higher than other photos in the Collection because of it commercial potential.</p>

					<h4>Do you watermark my photos when I upload them to Snapwire?</h4> 
					<p>Yes. Every photo that is uploaded to Snapwire is automatically watermarked to ensure your protection. When a buyer purchases a license to use a photo, the watermark is removed when the photo is downloaded. If you upload a photo with your own watermark buyers will likely avoid purchasing it and Snapwire will not select it for our Collection.</p>

					<h4>Are all my submitted photos up for sale after a Request closes?</h4>
					<p>Currently, only photos that have been approved by Snapwire for the Collection are up for sale. In the near future, photos on closed requests will be made available for buyers to purchase a commercial license.</p>

					<h4>What does exclusivity mean when my photos sell?</h4>
					<p>Exclusivity guarantees the buyer that no one else can purchase the image during the exclusivity period. It also means that your image will be reviewed for the Collection after the exclusivity period has expired. </p>

					<h4>Why do Requests vary in price?</h4>
					<p>When someone creates a photo Request on Snapwire, they determine the price they are willing to pay per photo. The price is typically informed by a buyer's need and budget. Since budgets vary by project, submitting to lower paying Requests gives you exposure to the buyer and a way to build long lasting relationships with them.  As an added benefit, you’ll level up, expose your skills, and get a chance to have your photos chosen for the Snapwire Collection.</p>

					<h4>I earned money. How do I get it?</h4>
					<p>Through Paypal or Balance. All earnings you make on Snapwire will be automatically sent to you through your chosen payout method. You can then login to your account and transfer money to any Paypal or ACH account. On the web app, go to "Settings" and click on "Withdraw Earnings" to transfer money from your WePay account to a US bank account. On the mobile app, go to 'My Stats' and click on the 'Go To WePay' link. You can also login into WePay's website or use their mobile app to administer your account.</p>

					<h4>What will I earn when my photo sells?</h4>
					<p>At Snapwire we believe you should retain the majority of the money you make from your photos. That’s why we give you the majority from every photo that is purchased on a Request. That's a big departure from most stock photo services who pay as little as a few cents for every photo sold on their platform. You keep 70% of every photo sold on a Request and 50% when your photos sell in the Collection.</p>

					<h4>The amount I earned is different than the price posted on the Request. Why?</h4>
					<p>A photo Request lists the price that the buyer is willing to pay per photo. Snapwire collects a 30% platform service fee for each photo sale at the time of the transaction. We'll always cover credit card and payment transfer fees.</p>

					<h4>Do I need to pay taxes on money earned on Snapwire?</h4>
					<p>It will depend on your total annualized earnings and your local government's tax laws so you should check the tax law specifically for your country.</p>

					<h4>I submitted my photo to a Request and it's been removed. ­Why?</h4>
					<p>If your photo contains sexual, violent or other inappropriate content that violates our terms of service, it may be removed. Even if your photo was sold to a buyer, we can always remove it violates our terms of service.</p>

					<h4>Can I remove my photo from Snapwire?</h4>
					<p>Yes. In order to delete a photo, visit the Manager page on the website or on our iOS app. On mobile, slide the status bar to the left to reveal the delete feature. Note that deleting photos does not affect previous licenses you have granted.</p>

					<h4>How do I delete my account?</h4>
					<p>Please send an email to support @ snapwi.re and we will delete it for you.</p>

					<h4>How do I contact Snapwire for additional support?</h4>
					<p>The easiest way is to send us an email to support @ snapwi.re.</p>

					<h3 class="medium" id="permissions">Permissions</h3>
					<h4>Do I need permission from the people in my photos?</h4>
					<p>Yes. In order to submit a photo to Snapwire you agree you have the permission from any identifiable people in the submitted photo to sell the photo with a commercial license.  In some jurisdictions, you may need the written permission of the person(s) in the form of a Model Release for commercial use. You can find sample model releases <a href="http://asmp.org/tutorials/adults-model-release.html#.Ui4gFWSgmp0" class="">here</a>.  By accepting the Snapwire <a href="/policies" class="">Terms of Service</a>, you agree to comply with all laws regarding model releases.</p>

					<h4>Do I need permission to photograph in certain locations?</h4>
					<p>Obtaining permission to take photographs in public areas varies between countries. We recommend that you check the regulations of your country. Most countries permit taking photographs in public areas, which usually means places that can be accessed without restrictions, such as city streets and public transportation buildings. If your photo was captured on private property, such as someone’s home or a commercial office, and the location is recognizable, be sure you get the permission of the property owners too. Do not submit photos of people taken through windows in their homes or offices.</p>

					<h4>Can I submit someone else’s photos?</h4>
					<p>You may only submit photos you shot and you have the rights to sell. Uploading someone else’s photograph is a violation of copyright which can result in substantial damages to you. We also reserve the right to terminate the account of any user that is reported as uploading content that belongs to others photographers or other users.</p>

					<h4>What type of content is restricted?</h4>
					<p>It is a violation of our Terms of Service to submit any photo that contains nude people, sexual or violent content or other material that might be offensive (see our Terms of Service if you are unsure). If you see a photo that violates our Terms of Service, please immediately notify us at violations @ snapwi.re so we may take immediate steps to remove the photo.</p>

					<span class="">
						<h3 class="medium" id="requests">Requests</h3>
						<h4>How much does Snapwire cost to use?</h4>
						<p>Snapwire is free to use. We do not charge any subscription fees. </p>

						<h4>When does my Request end?</h4>
						<p>Photo submissions end when the remaining time on the Request reaches zero or the buyer manually ends the submission period. At that time, the Request then enters into Review and final purchasing decisions are made. </p>
						<h4>Can I buy photos after the timer has elapsed?</h4>
						<p>Yes. Once the timer reaches zero and the Request is in the Review state you can still purchase photos until you close the Request. Some buyers like to buy photos as soon as their Request goes live, and others prefer to wait until submissions have ended.  We give you the freedom to decide when to purchase.  </p>
						<h4>Can I communicate to photographers about changes to my Request?</h4>
						<p>Yes. You can post comments to your Request by clicking on the comments tab on the Request detail view. All participating photographers will get notified that you've posted a comment. You will also get notified when photographers comment back on your Request.</p>
						<h4>How long will it take to see images appear in my Request?</h4>
						<p>Once you publish, your Request is live, and photographers can start uploading images immediately. </p>
						<h4>Can I cancel or delete my Request?</h4>
						<p>If you need to cancel or delete your Request, send an email to info @ snapwi.re and we will remove it for you. </p>
						<h4>Can I contact the photographer directly?</h4>
						<p>The terms of service require that you complete all transactions and communications using Snapwire itself. If you have to follow up with a photographer for licensing, releases or dispute issues, the photographer's contact information can be found on their profile.</p>
						<h4>How can I use a photo I've purchased on Snapwire?</h4>
						<p>Any photo purchased on Snapwire comes with a personal and commercial royalty free license. This license provides you the rights to use the photo for both personal and commmercial purposes. For the one-time payment, you may use the photo over and over again for uses such as advertising and promotional projects, web sites, presentations, editorial uses, videos, commercials, catalogs, and even broadcasting. As a photo buyer, you must ensure that publishing the photo you've purchased complies with any applicable legislation regarding the publication of photos. </p>

						<h4>How can I obtain a model release for a photo I've purchased on Snapwire?</h4>
						<p>On Snapwire, photographers are responsible for telling us that all the models in their photo have given their permission for using the photo for commercial use. As the photo buyer, you may ask the photographer of the photo you've purchased to request the release. Their contact information is available to you after your purchase.</p>

						<h4>I don't like any of the photos submitted to my Request. What do I do?</h4>
						<p>If none of the images are working for you, contact our support team and we'll work with you to get you closer to what you need as we can modify and extend the time on a Request. Email support @ snapwi.re to get started.</p>
						<h4>What type of inspirational images can I upload when I create a photo Request?</h4>
						<p>Inspirational images are used for the purpose of illustrating the type of photo you are looking for. When creating a Request you may not ask photographers to copy, replicate, or duplicate any sample inspirational images as this would be a violation of copyright. You can inform photographers that you like a particular style of a inspiration photo, but do not instruct photographers to submit an exact clone. All users are responsible for abiding by all laws, including copyright.</p>
					</span>
					<div class="tab-pane" id="licensing">
						<h3 class="medium" id="licensing">Licensing</h3>
						<p>A photo license is a legal agreement between a photographer and a buyer where the photographer agrees to license their photo to a buyer. This license means the buyer may legally use the photo to help illustrate an idea, sell a product or a service.</p>
						<h4>If I sell my photo does the buyer get to keep it?</h4>
						<p>No. When you sell an image on Snapwire a buyer is licensing the right to simply use the photo. You always retain the copyright to your photo.</p>
						<h4>Are these royalty free photos?</h4>
						<p>Yes. Every photo sold on Snapwire comes with a <a href="/policies" class="">royalty free license</a>, which means the buyer may use the photo multiple times without paying further royalties to the creator.</p>
						<h4>How can the photos be used that I purchase?</h4>
						<p>Photos sold on Snapwire may be used for any personal or commercial use, such as prints, magazines, blogs, advertising and promotional projects, web sites, presentations, videos, brochures and for any medium.</p>
						<h4>Who owns the rights to the photos that are purchased?</h4>
						<p>The photographer always maintains the copyright to their photos. When a buyer licenses a photo through a purchase, the photographer is granting rights to use that photo to the buyer along the following <a href="/policies" class="">terms</a>. If a buyer licenses a photo from a photographer, they may never re-sell (or sublicense) the photo to another person or entity. Other may restrictions apply.</p>
						<h4>What does an exclusivity period mean on a Request?</h4>
						<p>Every photo purchased from a Request comes with an optional exclusivity period.  This means the buyer (alone) has the right to use the photo for the exclusivity period. After the period expires, other buyers may purchase a license on the photo. Exclusivity is currently only offered to images submitted to Requests. </p>
					</div>
				</div>
			</div>
		</div>

      </div> <!-- .sw-content-wrapper -->