<div class="sw-content-wrapper">
	<h2 class="medium">山东漫拍文化发展公司</h2>
	<p>
		一些招聘介绍
	</p>

	<section class="howitworks">
		<h3 class="medium" style="margin-top:0;">UI设计师</h3>
		<div class="row-fluid">
		<table class="table table-condensed table-bordered">
				<tr>
					<td> <strong>工作类型：</strong>
						全职
					</td>
					<td> <strong>工作地点：</strong>
						潍坊市寒亭区
					</td>
					<td>
						<strong>薪金待遇：</strong>
						面议
					</td>
					<td>
						<strong>所属职类：</strong>
						工程部经理
					</td>
				</tr>
				<tr>
					<td>
						<strong>工作经验：</strong>
						2年以上
					</td>
					<td>
						<strong>所属部门：</strong>
						研发部
					</td>
					<td>
						<strong>工作经验：</strong>
						2年以上
					</td>
					<td>
						<strong>所属部门：</strong>
						研发部
					</td>
				</tr>
			</table>
			<p>人员要求：</p>
			<ol>
				<li>有责任心，学习能力强，有团队精神</li>
				<li>熟悉Git, Ruby, Ruby On Rails etc.</li>
				<li>熟悉一种主流的数据库 postgresql, oracle, sql server etc.</li>
				<li>良好的编程习惯和风格</li>
				<li>英文读写流利</li>
				<li>2-3年以上工作经验</li>
			</ol>
		</div>
	</section>
	<section class="howitworks">
		<h3 class="medium">前端工程师</h3>
		<div class="row-fluid">
		<table class="table table-condensed table-bordered">
				<tr>
					<td> <strong>工作类型：</strong>
						全职
					</td>
					<td> <strong>工作地点：</strong>
						潍坊市寒亭区
					</td>
					<td>
						<strong>薪金待遇：</strong>
						面议
					</td>
					<td>
						<strong>所属职类：</strong>
						工程部经理
					</td>
				</tr>
				<tr>
					<td>
						<strong>工作经验：</strong>
						2年以上
					</td>
					<td>
						<strong>所属部门：</strong>
						研发部
					</td>
					<td>
						<strong>工作经验：</strong>
						2年以上
					</td>
					<td>
						<strong>所属部门：</strong>
						研发部
					</td>
				</tr>
			</table>
			<p>人员要求：</p>
			<ol>
				<li>有责任心，学习能力强，有团队精神</li>
				<li>熟悉Git, Ruby, Ruby On Rails etc.</li>
				<li>熟悉一种主流的数据库 postgresql, oracle, sql server etc.</li>
				<li>良好的编程习惯和风格</li>
				<li>英文读写流利</li>
				<li>2-3年以上工作经验</li>
			</ol>
		</div>
	</section>
</div>