<div class="site-main" style="margin-top:100px;background:#fff;padding:10px;">
	<div class="page-header text-center">
		<h3>
			<%= @title.split('-').last %></h3>
	</div>
	<div class="row">
		<div class="col-md-2">
			<%= render 'nav' %></div>
		<div class="col-md-10">
			<div class="content">
				<div class="item-job">
					<h3>Ruby工程师 UI设计师 职业编辑</h3>
					<table class="table table-condensed table-bordered">
						<tr>
							<td> <strong>工作类型：</strong>
								全职
							</td>
							<td> <strong>工作地点：</strong>
								潍坊市寒亭区
							</td>
							<td>
								<strong>薪金待遇：</strong>
								面议
							</td>
							<td>
								<strong>所属职类：</strong>
								工程部经理
							</td>
						</tr>
						<tr>
							<td>
								<strong>工作经验：</strong>
								2年以上
							</td>
							<td>
								<strong>所属部门：</strong>
								研发部
							</td>
							<td>
								<strong>工作经验：</strong>
								2年以上
							</td>
							<td>
								<strong>所属部门：</strong>
								研发部
							</td>
						</tr>
					</table>
					<p>人员要求：</p>
					<ol>
						<li>有责任心，学习能力强，有团队精神</li>
						<li>熟悉Git, Ruby, Ruby On Rails etc.</li>
						<li>熟悉一种主流的数据库 postgresql, oracle, sql server etc.</li>
						<li>良好的编程习惯和风格</li>
						<li>英文读写流利</li>
						<li>2-3年以上工作经验</li>
					</ol>
				</div>
				<div class="item-job">
					<h3>UI设计师</h3>
					<p>招贤纳士</p>
				</div>
				<div class="item-job">
					<h3>职业编辑</h3>
					<p>招贤纳士</p>
				</div>
			</div>
		</div>
	</div>
</div>