<div class="site-main" style="margin-top:100px;background:#fff;padding:10px;">
	<div class="page-header text-center">
		<h3>
			<%= @title.split('-').last %></h3>
	</div>
	<div class="row">
		<div class="col-md-2">
			<%= render 'nav' %></div>
		<div class="col-md-10">
			<div class="content">
				<p>对外合作</p>
			</div>
		</div>
	</div>
</div>