<div class="sw-content-wrapper">
	<div class="row-fluid">
		<ul class="sw-tabs margin-bottom">
			<li class="active">
				<a href="/policies#terms-of-service" data-toggle="tab">服务条款</a>
			</li>
			<li class="">
				<a href="/policies#privacy-policy" data-toggle="tab">隐私政策</a>
			</li>
			<li class="">
				<a href="/policies#copyright" data-toggle="tab">版权声明</a>
			</li>

		</ul>
	</div>
	<div class="tab-content">
		<div class="tab-pane active" id="terms-of-service">
			<h2 class="medium">使用条款</h2>
			<p>服务概述</p>
			<p>
				MP Media Inc. (“MP” or “we”) offers a platform for registered Users (“you) to buy (“Buyer(s)”) and sell (“Seller(s)”) (collectively “User(s)”) to license Content (defined below) in an online marketplace. Buyers can create and submit a photo request for Content (each a Request), and Sellers can submit Content in response to a Request, for possible purchase. In addition, MP hosts a Collection in which it makes Selected Content available to all Buyers for possible license. Provided you use the Content in accordance with these Terms of Use, MP provides Buyer’s with an indemnity from any claim based on its use of the Content up to $10,000. Further information on how Users can create a Request; submit Content, and to purchase Content can be found in our FAQ’s.
			</p>
			<p class="underline">
				CONTENT SELLERS RETAINS ALL OWNERSHIP IN THE CONTENT UPLOADED AND ONLY GRANTS LIMITED RIGHTS TO SNAPWIRE AND BUYERS AS DESCRIBED IN A CONTENT LICENSE.
			</p>
			<p>接受条款</p>
			<p>By accessing or using the MP website, the MP service, or any applications (including mobile applications) made available by MP (together, the "Service"), however accessed, you, the User agree to be bound by these terms of use ("Terms of Use"). Please read these Terms of Use, <a href="/policies#copyright" data-link="tab">Copyright Policies</a> and the MP <a href="/policies#privacy" data-link="tab">Privacy Policy</a> carefully. If you do not accept all of the terms contained in these policies, do not register or use the Service.
			</p>
			<h4>Arbitration Notice(仲裁通知)</h4>
			<p>
				YOU AGREE THAT DISPUTES BETWEEN YOU AND SNAPWIRE WILL BE RESOLVED BY BINDING, INDIVIDUAL ARBITRATION AND YOU WAIVE YOUR RIGHT TO PARTICIPATE IN A CLASS ACTION LAWSUIT OR CLASSWIDE ARBITRATION. FOR FURTHER INFORMATION PLEASE CONSULT THE “ARBITRATION” SECTION BELOW.
			</p>
			<h4>General Conditions of Use</h4>
			<p>You must be at least 18 years old to register to use the Service. If you are registering to use the Service on behalf of a legal entity, you must be the authorized representative of such entity with respect to any Buyer have the full power and authority to bind Buyer to the License Grant; and (ii) if Buyer subsequently disputes such power or authority, you shall be liable for any failure of Buyer to comply with the terms of this Agreement.</p>
			<p>MP may, in its sole discretion, refuse to offer the Service to any person or entity and may change the eligibility criteria at any time.  </p>
			<p>From time to time, MP may change these Terms of Use. You agree that the updated terms of use (“Updated Terms”) shall become effective as of the date they are posted. MP will give you reasonable notice before any Updated Terms become effective unless the changes are for legal or administrative reasons. If you object to the Updated Terms, your sole recourse is to terminate your use of the Service. MP recommends that you check the Service from time to time to inform yourself of any changes in these Terms of Use or any of our other policies.</p>
			<p>MP takes reasonable measures to ensure that the Service is accessible 24 hours a day, seven days a week. We reserve the right, at our discretion to take necessary technological, maintenance or security measures that may affect the accessibility of Service, including an immediate shut down of the Service. We will store digital files (including but not limited to images, graphics, audio and video clips, text and data (collectively “Content”) uploaded by a User to the Service in the same format as uploaded, but we will not be responsible for any loss, damage or alteration of the Content that occurs during the file transfer to our servers.</p>
			<p>As part of your registration for the Service, you will be required to submit personal information about payment details on the account to which payments are to be received or to be made (the “Payment Data”). You must register with (and agree to the applicable terms of use) of an available payment facilitator currently offered in order to purchase Content or get paid for purchases through the Service. The payment facilitators currently supported by the Service are <a href="http://www.paypal.com/" target="_blank">PayPal</a> and <a href="http://www.balancepayments.com/" target="_blank">Balance</a>. The payment facilitators supported by the Service are subject to change from time to time.</p>
			<h4>User Behavior</h4>
			<p>You are solely and fully liable for all conduct, Content, Requests, User profiles and transactions that are made under your username and password. You are solely responsible for keeping your passwords safe and secure. You agree that while using the Service you will comply with the following rules:</p>
			<ul class="bullet-legal">
				<li>You will not interfere with or disrupt the servers or networks connected to the Service;</li>
				<li>You will not transmit through the Service any unlawful, harassing, libelous, privacy invading, abusive, threatening, defamatory, vulgar, racist, or otherwise harmful material of any kind, including without limitation Content that depicts nudity, sexual conduct or violence;</li>
				<li>You will not disobey or breach these Terms of Use or any other applicable instructions conveyed by MP;</li>
				<li>You will not violate any applicable local, state, national or international law, statute, ordinance, rule or regulation;</li>
				<li>You will not upload, post, e-mail, transmit or otherwise make available: (a) any Content or material that infringes upon a third party right, including, without limitation, copyright, trademark right of publicity or privacy or any other intellectual property rights; (b) any advertisements; (c) any third party advertisements, including banner exchange services; (d) any software viruses, Trojan horses, worms or any other malicious application or code; or (e) any Content or material which may constitute or encourage conduct that is a criminal offense or civil wrong or otherwise violates any applicable law;</li>
				<li>You are legally responsible for the Content you make available on the Service.  You retain all rights in, and are solely responsible for the Content you post;</li>
				<li>You will not impersonate any person or entity, or make any false statement regarding his, her employment, agency or affiliation with any person or entity;</li>
				<li>You will not scrape or otherwise use any data mining, robots, or similar data gathering or extraction methods (except as may be the result of standard search engine protocols or technologies used by a search engine with our express consent).</li>
				<li>You will not create or submit unwanted email, comments, likes or other forms of commercial or harassing communications (a/k/a “spam”) to any other users.</li>
				<li>You must not use domain names or web URLs in a username without MP’s prior written consent.</li>
				<li>You will abide by these terms and conditions, Request creation and Content submission requirements as described in the FAQ’s, including without limitation the information concerning Releases.</li>
			</ul>
			<p>You agree not to permit any third party to do any of the foregoing. MP reserves the right to terminate the Service,  Requests or remove any Content that does not comply with these Terms of Use or for any reason by MP, in its sole discretion.</p>
			<h4>Requests and Challenges</h4>
			<p>Buyers who want to create a Request for photography may create a photo Request following the instructions detailed within the Service and in the MP FAQ’s.</p>
			<p>We may also offer Contests (“Challenges”) within the Service. Sellers who submit Content in response to a Challenge are also eligible to submit to Requests that MP may run from time to time. Please be sure to read and understand the MP Challenges rules when they apply.</p>
			<h4>MP Collection</h4>
			<p>As part of its Services, MP offers a Collection where Sellers Content may be included without responding to a Request and where Buyers can find and select Content to license without creating a Request. In addition, MP, in its sole discretion, may review any Content submitted by Sellers as part of a Request to be included to the MP Collection.</p>
			<p>Sellers agree that any Content chosen for the MP Collection shall be exclusive to the MP platform unless the Content is removed by the Seller. See the Collection License below for more detail.</p>
			<h4>Attribution</h4>
			<p>MP will provide attribution to the Sellers with respect to Seller's Content uploaded to the Service. Buyer agrees that it shall provide attribution to the Seller in connection with any editorial use, unless the Seller waives any right to attribution. Notwithstanding the above, MP shall not be responsible if the Buyer fails to credit the Sellers.</p>
			<h4 id="license-grant">License Grant</h4>
			<p>Each Buyer that creates a Request or each Seller that uploads Content to the Service agrees to grant the following licenses where applicable:</p>
			<p><span class="underline">A. To MP for use in the Platform</span>: A worldwide, non-exclusive, royalty-free, transferable license to reproduce, distribute, display and to create derivative works of Content uploaded to MP in connection with its offering of the Services, including for promoting the Service; and/or redistributing the Service through third parties in any format and through any distribution channels.</p>
			<p><span class="underline">B. To MP for the MP Collection</span>: A worldwide, <b>exclusive</b>, royalty-free, transferable license to reproduce, distribute, publish, transmit and display (in whole or in part) and to create derivative works of the Content uploaded by Sellers (collectively 'use') with the right to grant sublicenses to licensees to use the Content, in all media throughout the world, for all legal purposes, <b>other than those uses prohibited below under Prohibited Uses</b>. This grant of rights includes the right to permit MP to use the services of third party distributors to offer the Content for licensing.</p>
			<p><span class="underline">Sellers’ grant to each Buyer</span>: a) A worldwide, non-exclusive, royalty-free license to grant access to the Content through the Service for review purposes; and b) upon selection of Content for purchase by a Buyer, a perpetual, non-exclusive, non-transferable, non-sub-licensable, worldwide personal and commercial license to, reproduce, distribute, publish, transmit and display, in whole or in part, the Content, and create derivative works from the Content in any and all media for all legal purposes <b>other than those uses prohibited below under Prohibited Uses</b>. In addition a Buyer may store the Content in a closed digital library, network configuration or similar arrangement to allow the Content to be viewed by employees, partners and clients of Buyer only, <b>and so long as there are no more than ten (10) users accessing the Content at one time</b>. Buyer must purchase additional seat licenses if there are more than ten (10) Users before such additional use begins. If the Content is used in the creation of a derivative work based on or incorporating the Content, all rights to the Content shall continue to be owned by the Seller, subject to your rights to use the Content as permitted under this limited license. </p>

			By way of example only, as part of the grant to a Buyer, the Buyer is permitted to:

			<ul class="bullet-legal">
				<li>
					Have the Content reproduced by subcontractors of Buyer for the preparation of the Content, provided that such subcontractors agree to abide by the provisions of this Agreement;
				</li>
				<li>
					Incorporate the Content into merchandise for resale or distribution (except for “print on demand”), without limitation to any size of the production run of such merchandise, including, without limitation, computers, computer peripherals, clothing, artwork, magnets, posters, and online or paper greeting cards, provided that the merchandise contains text or written words and the Content is as one item; or that the Content, alone, is not the primary factor driving the sale of the merchandise.
				</li>
			</ul>
			<h4>Exclusive License Period Option</h4>
			<p>Seller may offer an exclusive licensing period of up to one hundred and eighty (180) days (the 'Exclusive Period') to any Buyer, during which the licensed Content will not be offered to other Buyers during the Exclusive Period. If the Content is licensed on an exclusive basis and is reproduced on a social media or other third party website, the rights granted shall automatically be revoked in the event that the third party website seeks to exploit purported rights to the Content contrary to the terms of this Agreement.</p>
			<h4>Prohibited Uses</h4>
			This license is a limited license. Buyer may not:
			<ul class="bullet-legal">
				<li>Use the Content in any pornographic, defamatory or otherwise unlawful manner, whether directly or in context or juxtaposition with specific subject matter.
				</li>
				<li>Use any Content featuring a model or property in connection with the endorsement of any product or service or a subject that would be unflattering or unduly controversial to a reasonable person, without accompany each such use with a clear and conspicuous statement that indicates that <b>(i) the Content is being used for illustrative purposes only, and (ii) any person depicted in the licensed Content, if any, is a model</b>.
				</li>
				<li>Outside of derivative works created with the Content; sublicense, sell, assign, convey or transfer any rights granted to the Content under this Agreement, including the use in any competitive Service;
				</li>
				<li>Incorporate the Content into a logo, trademark or service mark as to stake claim of copyright to the Content;
				</li>
				<li>Make the Content available (separate from the end product into which it is incorporated) in any medium accessible by persons other than the User;
				</li>
				<li>Sell, license or distribute any end product containing the Content in a way that is intended to allow or invite a third party to download, extract or access the Content as a standalone file;
				</li>
				<li>Use or display the Content in any medium designed to induce or involve the sale, license or other distribution of <b>"print on demand"</b> products where the Content is the main focus of the product (e.g., products in which Content, alone, is selected by a third party for customization of such product on a made-to-order basis, including, by way of example only, postcards, mugs, tee shirts, prints, and other items);
				</li>
				<li>Falsely represent, expressly or implied, that User is the original creator of a work that derives a substantial part of its artistic components from the Content as this would infringe on the copyright of the original artist; or
				</li>
				<li>Make the Content available to a third party on a digital asset management system, shared drive or file sharing service for the purposes of sharing or transferring Content.
				</li>
			</ul>
			<h4>Termination by Seller</h4>
			<p>All licenses to the Content granted by a Seller according to the above shall automatically terminate when the Seller or MP, as the case may be, removes or deletes the Content from the Service. Termination or removal of Content by a Seller shall not affect any previously granted licenses.</p>
			<h4>Compensation</h4>
			<p>For any purchase of Content license, the Buyer agrees to pay the amount posted on the Request or associated with the Content displayed in the MP Collection (“License Fee”); and Seller agrees to pay MP a separate transaction fee to MP for the use of the Service (“Transaction Fee”). Transaction Fees based on a Request are the responsibility of the Seller and are equal to 30% of the posted amount on a Request. Transaction Fees vary between purchases from a Request or purchases from the MP  Collection.</p>
			<p><span class="underline">Payment of License Fees</span>.  License Fees are collected directly by the Seller via the payment facilitator “WePay” at the time the transaction occurs. The Transaction Fees are automatically deposited into MP’s WePay account. All sales are final and there is no cancellation once a license transaction has occurred. The License Fees paid to the Seller for the Content is taxable income in most countries. Sellers who receive License Fees shall be liable for ensuring that all payments of tax, and other payments are duly remitted in accordance with the applicable legislation of their country and region.</p>
			<h4>Employment and Withholding</h4>
			<p>The Service is not an employment service and does not serve as an employer of any User. As such, MP will not be liable for any tax or withholding, including but not limited to unemployment insurance, employer’s liability, social security or payroll withholding tax in connection with your use of Users’ services. You understand and agree that if MP is found to be liable for any tax or withholding tax in connection with your use of the Services, then you will immediately reimburse and pay to MP an equivalent amount, including any interest or penalties thereon.</p>
			<h4>Sellers’ Representations &amp; Warranty</h4>
			<p>The Seller represents and warrants that (i) it is the original creator of the Content and that it holds all rights in and to the Content; (ii) it has the legal right and capacity to enter into these Terms of Use; (iii) the Content does not infringe upon any copyright, trademark, moral right, right of privacy or publicity or other intellectual property right of any third party and (iv) it has obtained, where applicable, a valid written model or property release sufficient to license the Content through the Service (the “Releases”).</p>
			<h4>User Indemnification</h4>
			<p>Each User (Buyer or Seller) agrees to defend, indemnify and hold harmless MP, its affiliates, and their respective officers, directors, members, employees and agents, licensees, customers, and other Users from and against any and all claims, damages, obligations, losses, liabilities, costs and expenses (including but not limited to reasonable attorney’s fees) arising from your use of the Service; your use  of the Content in violation of these Terms of Use; or your violation of any third party rights, including copyright, trademark right of publicity or privacy, or other third party intellectual property right; This defense and indemnification obligation will survive these Terms of Use and your use of the Service and the use of any Content.</p>
			<h4>MP’s Representations</h4>
			<p>MP represents and warrants that the unaltered Content which is downloaded and used in full compliance with this Agreement and applicable law will not infringe any copyright, trademark or other intellectual property right, and such unaltered Content does not violate any third parties' rights of privacy or publicity; and (b) unaltered Content does not and will not: (i) violate any US law; (ii) be defamatory or libelous; or (iii) be pornographic or obscene.</p>
			<h4>Indemnification to Buyer</h4>
			<p>Provided that Buyer is not in breach of the Terms of Use, MP shall defend, indemnify, and hold Buyer harmless up to the "Limits of Liability" (as hereinafter defined) arising out of or directly connected to any actual or threatened third party lawsuit, claim, or legal proceeding for direct damages together with expenses (including reasonable outside attorney’s fees) based on MP’s breach of its representations and warranties under this Agreement. This indemnification is conditioned upon you notifying MP, in writing, of any such claim or threatened claim, no later than ten (10) days from the date you know or reasonably should have known of the claim or threatened claim including all details of the claim then known to you. The notification must be emailed to MP at legal [at] snapwi.re with a hard copy sent to MP Media Inc., 3905 State Street, Suite #7-510, Santa Barbara, CA 93105-5107. MP shall have the right to assume the handling, settlement or defense of any claim or litigation to which this indemnification applies. You agree to cooperate with MP in the defense of any such claim and shall have the right to participate in any litigation at your own expense. MP shall not be liable for any legal fees and/or other costs incurred prior to receiving complete notification of the claim as provided herein. MP shall not be liable for any damages, costs or losses arising as a result of modifications made to the Content or the context in which the Content is used by you. MP’s total maximum aggregate obligation and liability to any one User for all claims shall be limited to Ten Thousand United States Dollars - US$10,000.00 - (the "Limits of Liability").</p>
			<p>Upon notice from MP, or upon your knowledge that any Content is subject to a threatened, potential or actual claim for which Content owner or MP may be liable, you must immediately and at your own expense (a) stop using the Content; (b) delete or remove the Content and any uses of the Content from your premises, computer systems and storage (electronic or physical); and (c) ensure that your clients, partners and any entity to whom you’ve provided Content do likewise. MP shall provide you with replacement Content (which shall be determined by MP in its reasonable commercial judgment) free of charge, but subject to the other terms and conditions of this Agreement.</p>
			<h4>Disclaimer; Limitation of Liability</h4>
			<p>OTHER THAN AS SET FORTH IN INDEMNIFICATION ABOVE, THE SERVICE IS PROVIDED “AS IS” AND “AS AVAILABLE” AND IS WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, AND ANY WARRANTIES IMPLIED BY ANY COURSE OF PERFORMANCE OR USAGE OF TRADE, ALL OF WHICH ARE EXPRESSLY DISCLAIMED. SNAPWIRE AND ITS DIRECTORS, EMPLOYEES, AGENTS, SUPPLIERS, PARTNERS AND CONTENT OWNERS DO NOT WARRANT THAT: (A) THE SERVICE WILL BE SECURE OR AVAILABLE AT ANY PARTICULAR TIME OR LOCATION; (B) ANY DEFECTS OR ERRORS WILL BE CORRECTED; (C) ANY CONTENT OR SOFTWARE AVAILABLE AT OR THROUGH THE SERVICE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS; OR (D) THE RESULTS OF USING THE SERVICE WILL MEET YOUR REQUIREMENTS. YOUR USE OF THE SERVICE IS SOLELY AT YOUR OWN RISK. SOME STATES DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.</p>
			<p>IN NO EVENT SHALL SNAPWIRE, NOR ITS DIRECTORS, EMPLOYEES, AGENTS, PARTNERS, SUPPLIERS OR CONTENT OWNERS, BE LIABLE UNDER CONTRACT, TORT, STRICT LIABILITY, NEGLIGENCE OR ANY OTHER LEGAL OR EQUITABLE THEORY WITH RESPECT TO THE SERVICE (I) FOR ANY LOST PROFITS, DATA LOSS, COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, OR SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER, SUBSTITUTE GOODS OR SERVICES (HOWEVER ARISING), OR (II) FOR ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE (REGARDLESS OF THE SOURCE OF ORIGINATION), SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU.</p>
			<h4>Copyright Notice</h4>
			<p>MP has adopted and implemented the MP Copyright Policy in accordance with the Digital Millennium Copyright Act. For more information, please read our <a href="/policies#copyright" data-link="tab">Copyright Policy</a>.</p>
			<h4>Third-Party Links, Sites, and Services</h4>
			<p>The Service may contain links to third-party websites, advertisers, services, special offers, or other events or activities that are not owned or controlled by MP. We do not endorse or assume any responsibility for any such third-party sites, information, materials, products, or services. If you access any third party website, service, or content from MP, you do so at your own risk and you agree that MP will have no liability arising from your use of or access to any third-party website, service, or content.</p>
			<h4>Arbitration</h4>
			<p>Any claim, dispute, or controversy (excluding claims for injunctive or other equitable relief) arising out of or in connection with or relating to these Terms of Use shall be resolved by binding arbitration by the American Arbitration Association ("AAA") under the Commercial Arbitration Rules and Supplementary Procedures for Consumer Related Disputes then in effect for the AAA, except as provided herein. The award rendered by the arbitrator shall include costs of arbitration, reasonable attorneys' fees and reasonable costs for expert and other witnesses, and any judgment on the award rendered by the arbitrator may be entered in any court of competent jurisdiction. Nothing in this Section shall prevent either party from seeking injunctive or other equitable relief from the courts for matters related to data security, intellectual property or unauthorized access to the Service. ALL CLAIMS MUST BE BROUGHT IN THE PARTIES' INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING, AND, UNLESS WE AGREE OTHERWISE, THE ARBITRATOR MAY NOT CONSOLIDATE MORE THAN ONE PERSON'S CLAIMS. YOU AGREE THAT, BY ENTERING INTO THESE TERMS, YOU AND SNAPWIRE ARE EACH WAIVING THE RIGHT TO A TRIAL BY JURY OR TO PARTICIPATE IN A CLASS ACTION.</p>
			<h4>Governing Law; Venue</h4>
			<p>These Terms of Use are governed by and construed in accordance with the laws of the State of California, without giving effect to any principles of conflicts of law AND WILL SPECIFICALLY NOT BE GOVERNED BY THE UNITED NATIONS CONVENTIONS ON CONTRACTS FOR THE INTERNATIONAL SALE OF GOODS, IF OTHERWISE APPLICABLE. For any action at law or in equity relating to the arbitration provision of these Terms of Use, you agree to resolve any dispute you have with MP exclusively in a state or federal court located in Santa Barbara, California, and to submit to the personal jurisdiction of the courts located in Santa Barbara County for the purpose of litigating all such disputes.</p>
			<p>If any provision of these Terms of Use is held to be unlawful, void, or for any reason unenforceable during arbitration or by a court of competent jurisdiction, then that provision will be deemed severable from these Terms of Use and will not affect the validity and enforceability of any remaining provisions. MP's failure to insist upon or enforce strict performance of any provision of these Terms will not be construed as a waiver of any provision or right. No waiver of any of these Terms will be deemed a further or continuing waiver of such term or condition or any other term or condition. MP reserves the right to change this dispute resolution provision, but any such changes will not apply to disputes arising before the effective date of the amendment. This dispute resolution provision will survive the termination of any or all of your transactions with MP.</p>
			<h4>Entire Agreement</h4>
			<p>These Terms of Use, together with MP’s Privacy Policy and any other legal notices published by MP on the Service, shall constitute the entire agreement between you and MP concerning the Service and supersede all prior or contemporaneous communications and proposals (whether oral, written or electronic) between you and MP.</p>
			<h4>Notice to California Residents</h4>
			<p>Under California Civil Code Section 1789.3, California residents are entitled to the following specific consumer rights information:</p>
			<p>The provider of the website is MP Media Inc.</p>
			<address>
				3905 State Street, Suite #7-510<br>
				Santa Barbara, CA 93105-5107<br>
				By email: info [at] snapwi.re
			</address>
			<p>To file a complaint or to receive further information regarding use of the Service, send a letter to the above address, contact MP via e-mail or telephone at 805-845-7572. You may also contact the Complaint Assistance Unit of the Division of Consumer Services of the Department of Consumer Affairs in writing at 400 R Street, Suite 1080, Sacramento, California 95814, or by telephone at 916.445.1254 or 800.952.5210.</p>
		</div>
		<div class="tab-pane" id="copyright">
			<h2 class="medium">版权声明</h2>
			<p>MP respects the intellectual property of others, and we ask our Users to do the same. MP may, in appropriate circumstances and in its sole discretion, terminate the account or access of Users who infringe the intellectual property rights of others.  If you believe that your work has been copied in a way that constitutes copyright infringement, please provide MP's Copyright Agent the following information:</p>
			<ul class="bullet-legal">
				<li>an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest;</li>
				<li>a description of the copyrighted work that you claim has been infringed, including the URL (web page address) of the location where the copyrighted work exists or a copy of the copyrighted work;</li>
				<li>a description of where the material that you claim is infringing is located on the Site, including the URL;</li>
				<li>your address, telephone number, and email address;</li>
				<li>a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and</li>
				<li>a statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf.</li>
			</ul>
			<p>MP's Copyright Agent for notice of claims of copyright infringement can be reached as follows:</p>
			<p>By mail: Copyright Agent MP 3905 State Street, Ste 7-510 Santa Barbara, CA 93105</p>
			<p>By email: copyright [at] snapwi.re</p>
		</div>
		<div class="tab-pane" id="privacy-policy">
			<h2 class="medium">隐私政策</h2>
			<p>Thank you for visiting the MP mobile application, (the “Service”) operated by MP Media Inc. (“MP” or “us”).  Your privacy is very important to us.  We want you to fully understand our privacy practices, therefore please read this Privacy Policy carefully to learn more about the ways in which we use and protect your personal information.</p>
			<p>If you have any questions or concerns about this Privacy Policy or its implementation you may contact us at: hello@snapwi.re.</p>
			<h4>Information Collected and Used</h4>
			<p>We will collect the following types of information from you.</p>
			<ul class="bullet-legal">
				<li>Your username, password and e-mail address when you sign up and register for the Service.</li>
				<li>Content (as defined in our Terms of Service, available <a href="/policies#terms-of-service" data-link="tab">here</a>) that you may post to the Service.</li>
				<li>Communications between you and us, such as Service-related emails.</li>
			</ul>
			<h4>Information Sharing and Disclosure</h4>
			<p>We use the contact information you provide to provide you with information about MP.</p>
			<p>Although we take appropriate measures to safeguard against unauthorized disclosures of information, we cannot assure you that your contact information will never be disclosed in a manner that is inconsistent with this Privacy Policy.</p>
			<h4>Collection of Information by Third Parties</h4>
			<p>At times, reputable third parties may present or serve the advertisements, provide us with data collection, reporting and ad response measurement, as well as assist with delivery of relevant marketing messages and advertisements. These third parties may view, edit, or set their own cookies. The use of these technologies by these third parties is subject to their own privacy policies and is not covered by this privacy statement.</p>
			<h4>Cookies and Other Technical Information</h4>
			<p>We, our third party service providers, and our partners may send "cookies" to your computer or use similar technologies to enhance your online experience at our sites and across the Internet. "Cookies" are files that can identify you as a unique customer and store your personal preferences as well as technical information (including click through and click stream data). Cookies manage and measure the performance of advertisements displayed on or delivered by or through the Service and/or other networks or sites. Cookies can either be permanent (i.e., they remain on your computer until you delete them) or temporary (i.e., they last only until you close your browser). We may also use "Web beacons" that monitor your use of our sites. Web beacons are small strings of code that provide a method for delivering a graphic image on a Web page for the purpose of transferring data, such as the IP (Internet Protocol) address of the computer that downloaded the page on which the Web beacon appears, the URL (Uniform Resource Locator) of the page on which the Web beacon appears, the time the page containing the Web beacon was viewed, the types of browser that fetched the Web beacon and the identification number of any cookie on the computer previously placed by that server.</p>
			<p>When corresponding with you via HTML capable e-mail, Web beacons let us know whether you received and opened our e-mail.</p>
			<p>On their own, cookies or Web beacons do not contain or reveal any personally identifiable information. However, if you choose to furnish personally identifiable information, this information can be linked to the data stored in the cookies/Web beacons.</p>
			<p>By accepting this Privacy Policy, you specifically agree to our use of cookies and Web beacons as described herein. You may adjust your browser to reject cookies from us or from any other Web site. Additionally, by setting your Web browser to display HTML e-mails as text only, you may be able to prevent the use of some Web beacons. Please consult the "Help" section of your browser for more information. However, certain areas of our sites can only be accessed in conjunction with cookies or similar devices and you should be aware that disabling cookies or similar devices might prevent you from accessing some of our content.</p>
			<h4>Security</h4>
			<p>We have put in place appropriate physical, electronic, and managerial procedures to safeguard and help prevent unauthorized access, maintain data security, and correctly use the information we collect online.</p>
			<h4>Our Policy Towards Children</h4>
			<p>At various places on the Service, we may ask users for their age.  By using the Service you agree to respond truthfully and accurately about your age.  In compliance with the Children’s Online Privacy Protection Act (COPPA), we do not knowingly collect from children under age 13 any personally identifiable information (e.g., information that would allow anyone to locate children under 13 on or offline, such as full name, email address, home address, telephone number, etc.).  Children under the age of 13 are expressly prohibited from submitting or posting any personal data on the Service.</p>
			<h4>Changes to this Policy</h4>
			<p>We may modify or update our Privacy Policy from time to time, so please review it periodically. We may provide you additional forms of notice of modifications or updates as appropriate under the circumstances. Your continued use of the Service after any modification to this Privacy Policy will constitute your acceptance of such modification.</p>
			<p><em>Effective: August 1, 2013</em></p>  
		</div>
	</div>
</div> <!-- .sw-content-wrapper -->