<!-- <ol class="breadcrumb">
	<li>
		<a href="/admin">
			<i class="icon-home icon-large"></i>
		</a>
	</li>
	<li>
		<a href="#">管理首页</a>
	</li>
	<li>
		<a href="#">基本数据</a>
	</li>
	<li class="active">用户数据</li>
</ol> -->
<div id="jCrumbs" class="breadCrumb module">
	<ul>
		<li>
			<a href="/admin"> <i class="icon-home icon-large"></i>
			</a>
		</li>
		<li>
			<a href="/admin">dashboard</a>
		</li>
		<li>基本数据</li>
	</ul>
</div>