<div class="navbar-inner">
	<ol class="breadcrumb">
		<span class="glyphicon glyphicon-chevron-left"></span>
		<li>
			<a href="#">Home</a>
		</li>
		<li>
			<a href="#">Library</a>
		</li>
		<li class="active">Data</li>
	</ol>
</div>