<div class="navbar-inner">
	<ol class="breadcrumb">
		<span class="glyphicon glyphicon-chevron-left"></span>
		<li>
			<a href="#">管理首页</a>
		</li>
		<li>
			<a href="#">基本数据</a>
		</li>
		<li class="active">用户数据</li>
	</ol>
</div>