<a href="javascript:void(0);" class="sidebar_switch on_switch ttip_r" title="隐藏侧边栏">侧边栏选择</a>
<div class="sidebar">
	<div class="sidebar_inner_scroll">
		<div class="sidebar_inner">
			<div id="side_accordion" class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<a href="#collapseOne" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">网站日志</a>
					</div>
					<div class="accordion-body collapse" id="collapseOne">
						<div class="panel-body">
							<ul class="nav nav-pills nav-stacked">
								<li>
									<a href="javascript:void(0)">Articles</a>
								</li>
								<li>
									<a href="javascript:void(0)">News</a>
								</li>
								<li>
									<a href="javascript:void(0)">Newsletters</a>
								</li>
								<li>
									<a href="javascript:void(0)">Comments</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<a href="#collapseTwo" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle"> <i class="icon-edit"></i>
							反馈信息
						</a>
					</div>
					<div class="accordion-body collapse" id="collapseTwo">
						<div class="panel-body">
							<ul class="nav nav-pills nav-stacked">
								<li>
									<a href="javascript:void(0)">Content blocks</a>
								</li>
								<li>
									<a href="javascript:void(0)">Tags</a>
								</li>
								<li>
									<a href="javascript:void(0)">Blog</a>
								</li>
								<li>
									<a href="javascript:void(0)">FAQ</a>
								</li>
								<li>
									<a href="javascript:void(0)">Formbuilder</a>
								</li>
								<li>
									<a href="javascript:void(0)">Location</a>
								</li>
								<li>
									<a href="javascript:void(0)">Profiles</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<a href="#collapseThree" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle"> 
							<i class="icon-bullhorn"></i>
							系统通知
						</a>
					</div>
					<div class="accordion-body collapse" id="collapseThree">
						<div class="panel-body">
							<ul class="nav nav-pills nav-stacked">
								<li>
									<a href="javascript:void(0)">全站邮件</a>
								</li>
								<li>
									<a href="javascript:void(0)">全站私信</a>
								</li>
								<li>
									<a href="javascript:void(0)">网站通知</a>
								</li>
							</ul>

						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<a href="#collapseFour" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
							<i class="icon-cog"></i>
							设置
						</a>
					</div>
					<div class="accordion-body collapse in" id="collapseFour">
						<div class="panel-body">
							<ul class="nav nav-pills nav-stacked">
								<li class="nav-header">用户相关</li>
								<li class="active">
									<a href="javascript:void(0)">背景模板</a>
								</li>
								<li>
									<a href="javascript:void(0)">登录背景</a>
								</li>
								<li class="nav-header">系统设置</li>
								<li>
									<a href="javascript:void(0)">banner</a>
								</li>
								<li>
									<a href="javascript:void(0)">登录背景</a>
								</li>
								<li>
									<a href="javascript:void(0)">网站信息</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="javascript:void(0)">帮助</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<a href="#collapseLong" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
							<i class="icon-leaf"></i>
							广告管理
						</a>
					</div>
					<div class="accordion-body collapse" id="collapseLong">
						<div class="panel-body">
							随便一些东西
							<br>详细描述</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>