<a href="javascript:void(0);" class="sidebar_switch on_switch ttip_r" title="隐藏侧边栏">侧边栏选择</a>
<div class="sidebar">
	<div class="sidebar_inner_scroll">
		<div class="sidebar_inner">
			<div id="side_accordion" class="panel-group">
				<% if ['feedbacks', 'ads', 'banners', 'bgs', 'sends', 'sessions'].member?(controller_name) %>
					<%= render 'admin/shared/baradmin' %>
				<% else %>
					<%= render 'admin/shared/baruser' %>
				<% end %>
			</div>
		</div>
	</div>
</div>