<div class="row" id="container">
  <%= render partial: 'row', collection: @objs, as: :image %>
</div>
<%= will_paginate @objs, style: 'display:none' %>
<!-- <div id="loading" page='1' max-page='' class="alert alert-success" style="text-align: center;">正在加载...</div> -->

