<div class="col-sm-6 col-md-3">
	<div class="thumbnail">
		<div class="actions fade-row">
			<a href="javascript:void(0);" class="btn btn-success btn-xs"> 
				<i class="icon-thumbs-up"></i>
				点赞
			</a>
			<a href="javascript:void(0);" class="btn btn-success btn-xs"> 
				<i class="icon-heart"></i>
				喜欢
			</a>
			<a href="javascript:void(0);" class="btn btn-success btn-xs">
				<i class="icon-pushpin"></i>
				收藏
			</a>
			<a href="javascript:void(0);" class="btn btn-success btn-xs">
				<i class="icon-ok-circle"></i>
				推荐
			</a>
		</div>
		<%= link_to image_tag(image.picture.url(:thumb)), image_path(image), style: 'display:block', target: '_blank' %>
		<div class="caption">
			<div>苹果电脑30年产品收藏视频展示苹果电脑30年产</div>
			<span class="push-thumbs-up">赞(8)</span>
			<span class="push-heart">喜欢(12)</span>
			<span class="push-pushpin">收藏(0)</span>
			<span class="push-ok-circle">推荐(198)</span>
			<hr>
			<div class="media">
				<a class="pull-left" href="#">
					<img class="img-circle avatar-mini" src="/images/defaults/users.jpg"></a>
				<div class="media-body">
					<div class="media-heading">
						<div>
							<a href="javascript:void(0);">朱晓武</a>
							<span style="margin-left:10px;">(20)</span>
							<a href="javascript:void(0);" class="follow">关注</a>
							<div class="pull-right">
								<a href="javascript:void(0);" class="reply">评论(1)</a>
							</div>
						</div>
						<span class="date">2013-08-19 10:37</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>