<div class="row">
    <div class="col-md-5" style="padding-right:0; border-right: 1px solid #F8F8F8;">
        <div class="white-col-md">
            <div class="media" style="margin: 4px 0;">
                <a class="pull-left" href="javascript:void(0);">
                    <img src="/images/defaults/users.jpg" class="avatar-big img-circle">
                </a>
                <div class="media-body">
                    <h5 class="media-heading"><a href="/qrfwwuw5pq/" class="author">SUNSHINE蜜糖</a></h5>
                    <div class="link-outs">
                        <div class="pin-count">
                            <a href="/qrfwwuw5pq/pins/"> 
                                <strong title="23270">23270</strong>
                                <span>采集</span>
                            </a>
                        </div>
                        <div class="board-count">
                            <a href="/qrfwwuw5pq/pins/"> 
                                <strong title="23270">23270</strong>
                                <span>相册</span>
                            </a>
                        </div>
                        <div class="follower-count">
                            <a href="/qrfwwuw5pq/pins/"> 
                                <strong title="23270">23270</strong>
                                <span>粉丝</span>
                            </a>
                        </div>
                        <a href="/" class="btn btn-default btn-sm">
                            <i class="icon-plus"></i>
                            关注
                            <i class="icon-minus"></i>
                        </a>
                    </div>
                </div>
                <p class="gray-desc">网页设计，爱玩爱学习，对新事物很感兴趣，通过花瓣不断充实自己，愿自己与花瓣共同成长。</p>
                <a href="/binbinhudie" class="homepage">访问TA的主页</a>
            </div>
        </div>
        
    </div>
    <div class="col-md-7" style="padding-left:0;">
        <div class="white-col-md" style="height:173px;">
        </div>
    </div>
</div>