<!DOCTYPE html>
<html>
<head>
	<title>漫拍管理页面</title>
	<!-- Bootstrap -->
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/bootstrap/css/style.css" rel="stylesheet" media="screen">
	
	<!-- <link href="assets/styles.css" rel="stylesheet" media="screen"> -->
	<script src="/bootstrap/js/jquery.min.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="/bootstrap/js/html5.js"></script>
		<script src="/bootstrap/js/html5shiv.min.js"></script>
		<script src="/bootstrap/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<%= render 'admin/shared/nav' %>
	<div class="container">
		<div class="row">
			<%= render 'admin/shared/left_bar' %>
			<div class="col-md-10">
				<div class="alert alert-warning alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> <strong>Warning!</strong>
					Best check yo self, you're not looking too good.
				</div>
				<div class="navbar-inner">
					<ol class="breadcrumb">
						<span class="glyphicon glyphicon-chevron-left"></span>
						<li>
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#">Library</a>
						</li>
						<li class="active">Data</li>
					</ol>
				</div>
				<%= yield %>
			</div>
		</div>
		
	</div>
</body>
</html>